{% extends "layout_ncs_v4.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

 {% block pageScripts %} 
<script src="/public/javascripts/step-by-step-nav.js"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0&appId=157192691009771&autoLogAppEvents=1" nonce="Lm5XbZ9A"></script> 
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
  stepByStepNavigation.start($element)
</script> 
{% endblock %}

 {% block content %}
<div class="govuk-width-container" wiid="C279">
  <div class="content-container" wiid="C280">
    <div class="breadcrumbs govuk-breadcrumbs" wiid="C281">
      <ol class="govuk-breadcrumbs__list" wiid="C282">
        <li class="govuk-breadcrumbs__list-item" wiid="C283"><a class="govuk-breadcrumbs__link" href="/" wiid="C284">Home</a></li>
        <li class="govuk-breadcrumbs__list-item" wiid="C287">Classroom resources</li>
      </ol>
    </div>
  </div>
</div>
<section class="brand--national-careers-service organisation__section-wrap organisation__margin-bottom colour-selector section--brand-grey  govuk-!-padding-3" id="">
  <div class="govuk-width-container">
    <div class="govuk-grid-row" style="position: relative; min-height: 230px;">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">Support for teachers</h1>
        <p> We recognise that some of the first and most important careers advice is
given to citizens when they are young by teachers and parents. That is why
we have developed a suite of resources for you to use in lessons or at
home.</p>
      </div>
      <div class="govuk-grid-column-one-half banner_image" style="
    position: absolute;
    right: 0;
    overflow: hidden;
    height: 100%;
"> <!--<img src="/public/images/banner-image-northwest-england.png" width="100%" alt=""/> </div>-->
    </div>
  </div>
</section>
<section class="brand--national-careers-service organisation__section-wrap organisation__margin-bottom" id="main-content">
  <div class="govuk-width-container govuk-!-margin-bottom-3 govuk-!-margin-top-3">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-column-full-width  govuk-!-padding-top-0  govuk-!-margin-top-2 overflow-hidden ">
          <div class="govuk-grid-column-full-width">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-5" wiid="C378">Download classroom resources</h2>
            <div class="govuk-grid-column-full-width" style="overflow: hidden">
              
            </div>
          </div>
          <div class="govuk-grid-column-full-width govuk-!-margin-top-5 colour-selector section--brand-grey govuk-!-padding-3">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-5" wiid="C378">Download classroom resources</h2>
            <div class="govuk-grid-column-full-width" style="overflow: hidden">
              <div class="govuk-grid-column-one-third govuk-!-padding-0">
				  
                
              </div>
              <div class="govuk-grid-column-one-third">
				 
              </div>
              <div class="govuk-grid-column-one-third">
				  
              </div>
            </div>
          </div>
          
          <div class="govuk-grid-column-full-width brand-logo-container govuk-!-margin-top-5">
            <h2 class="govuk-heading-m">Online local careers support</h2>
            <p class="govuk-body-s"> Follow us on social media for local events, opportunities and workshops.
              If you miss a workshop, take a look at our latest workshop recordings.</p>
            <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
              <div class="fb-page" data-href="https://www.facebook.com/pg/CareersNW/posts/" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
                <blockquote cite="https://www.facebook.com/pg/CareersNW/posts/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/pg/CareersNW/posts/">National Careers Service North West</a></blockquote>
              </div>
            </div>
            <div class="govuk-grid-column-one-half govuk-!-margin-top-0"> <a class="twitter-timeline" data-height="500" data-theme="light" href="Search Results
Twitter results
https://twitter.com/NationalCareers">Tweets by Natioanl Careers</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-full-width govuk-!-padding--top-5 govuk-!-margin-top-3">
          <div class="govuk-grid-column-full-width govuk-!-padding-left-0">
            <div class="gem-c-image-card colour-selector section--brand-grey govuk-!-padding-3 govuk-!-padding-top-0 ">
              <div class="gem-c-image-card govuk-!-margin-bottom-1">
                <div class="gem-c-image-card__text-wrapper govuk-!-padding-3 ">
                  <div class="gem-c-image-card__title govuk-grid-column-full-width" wiid="C441"> Workshop recordings </div>
                  <ul class="gem-c-image-card__list govuk-grid-column-one-half">
                    <li class="gem-c-image-card__list-item" wiid="C444"> <a class="gem-c-image-card__list-item-link brand__color" href="#">Improving your CV</a>
                      <p class="govuk-body-s">Recorded 09:00, 20th May</p>
                    </li>
                    <li class="gem-c-image-card__list-item" wiid="C444"> <a class="gem-c-image-card__list-item-link brand__color" href="#">Writing a cover letter</a>
                      <p class="govuk-body-s">Recorded 14:00, 17th May</p>
                    </li>
                    <li class="gem-c-image-card__list-item" wiid="C446"> <a class="gem-c-image-card__list-item-link brand__color" href="#">Personal skills
                      assessment</a> </li>
                  </ul>
                  <ul class="gem-c-image-card__list govuk-grid-column-one-half">
                    <li class="gem-c-image-card__list-item" wiid="C444"> <a class="gem-c-image-card__list-item-link brand__color" href="#">Preparing for an interview</a>
                      <p class="govuk-body-s">Recorded 16:00, 18th May</p>
                    </li>
                    <li class="gem-c-image-card__list-item" wiid="C446"> <a class="gem-c-image-card__list-item-link brand__color" href="#">Understanding your skills</a>
                      <p class="govuk-body-s">Recorded 13:00, 17th May</p>
                    </li>
                    <li class="gem-c-image-card__list-item" wiid="C446"> <a class="gem-c-image-card__list-item-link brand__color" href="#">Personal skills
                      assessment</a> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-third right-banner-section">
        <div class="gem-c-image-card colour-selector  govuk-!-padding-3">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-4">Access tailored support</h2>
           {% include "includes/register-with-us.html" %}
		   {% include "includes/contact-us.html" %}
		   {% include "includes/how-we-have-done.html" %}
      </div>
    </div>
  </div>
</section>
{% endblock %} 