{% extends "layout_ncs_v4.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

 {% block pageScripts %} 

{% endblock %}

 {% block content %}
<div class="govuk-width-container" wiid="C279">
  <div class="content-container" wiid="C280">
    <div class="breadcrumbs govuk-breadcrumbs" wiid="C281">
      <ol class="govuk-breadcrumbs__list" wiid="C282">
        <li class="govuk-breadcrumbs__list-item" wiid="C283"><a class="govuk-breadcrumbs__link" href="/" wiid="C284">Home</a></li>
        <li class="govuk-breadcrumbs__list-item" wiid="C287">Support for teachers</li>
      </ol>
    </div>
  </div>
</div>
<section class="brand--national-careers-service organisation__section-wrap organisation__margin-bottom colour-selector section--brand-grey  govuk-!-padding-3" id="" style=" background: #f47738">
<div class="govuk-width-container">
<div class="govuk-grid-row" style="position: relative; min-height: 200px;">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l app-masthead__title text-white">Support for teachers</h1>
    <p class="text-white"> We recognise that some of the first and most important careers advice is
      given to citizens when they are young by teachers and parents. That is why
      we have developed a suite of resources for you to use in lessons or at
      home.</p>
  </div>
  <div class="govuk-grid-column-one-half banner_image" style="
    position: absolute;
    right: 0;
    overflow: hidden;
    height: 100%;
"> <img src="/public/images/banner-image-classroom.png" width="100%" alt=""/> </div> 
  </div>
</div>
</div>
</section>

<section class="brand--national-careers-service organisation__section-wrap organisation__margin-bottom" id="main-content">
<div class="govuk-width-container govuk-!-margin-bottom-3 govuk-!-margin-top-3">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full-width  govuk-!-padding-top-0  govuk-!-margin-top-2 overflow-hidden ">
      <div class="govuk-grid-column-full-width govuk-!-margin-0 govuk-!-padding-0 govuk-!-margin-top-5 colour-selector govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-5" wiid="C378">Download classroom resources</h2>
        <div class="govuk-grid-column-full-width govuk-!-margin-0 govuk-!-padding-bottom-0" style="overflow: hidden">
          <div class="govuk-grid-column-one-third govuk-!-padding-0"><div class="download-container download"> Career pioneer activities</div></div>
          <div class="govuk-grid-column-one-third  govuk-!-padding-0"> <div class="download-container download">PSHE lessons</div></div>
          <div class="govuk-grid-column-one-third  govuk-!-padding-0"> <div class="download-container download">Life skills activities</div></div>
          <div class="govuk-grid-column-one-third  govuk-!-padding-0"> <div class="download-container download">Employability activities</div></div>
          <div class="govuk-grid-column-one-third govuk-!-padding-0"> <div class="download-container download">Labour market information activities</div> </div>
          <div class="govuk-grid-column-one-third govuk-!-padding-0"> <div class="download-container download">SEND activities </div></div>
        </div>
      </div>
      <div class="govuk-grid-column-full-width govuk-!-margin-top-5 colour-selector section--brand-grey govuk-!-padding-3">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-5" wiid="C378">Related guidance and opportunities</h2>
        <div class="govuk-grid-column-full-width" style="overflow: hidden">
          <div class="govuk-grid-column-one-third govuk-!-padding-0"> <div class="download-container"> World Skills UK</div> </div>
          <div class="govuk-grid-column-one-third govuk-!-padding-0"> <div class="download-container"> Careers and Enterprise Company </div></div>
          <div class="govuk-grid-column-one-third govuk-!-padding-0"> <div class="download-container"> Gatsby benchmarks </div></div>
        </div>
      </div>
<!--
      <div class="govuk-grid-column-full-width govuk-!-margin-top-5 colour-selector govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-5" wiid="C378">Similar people were also interested in</h2>
        <div class="govuk-grid-column-full-width govuk-!-margin-bottom-5" style="overflow: hidden">
          <div class="govuk-grid-column-one-third">  <div class="download-container">Parent resources</div> </div>
          <div class="govuk-grid-column-one-third ">  <div class="download-container">World Skills UK </div></div>
          <div class="govuk-grid-column-one-third">  <div class="download-container">Regional information</div> </div>
        </div>
      </div>
-->
		<div class="gem-c-image-card colour-selector govuk-!-margin-top-5 section--brand-grey govuk-!-padding-3 govuk-!-padding-top-0 brand__border-color organisation__brand-border-top">
            <div class="gem-c-image-card govuk-!-margin-bottom-1">
              <div class="gem-c-image-card__text-wrapper govuk-!-margin-top-3"> <span class="gem-c-image-card__title" wiid="C441"> People who viewed this also looked at </span>
                <ul class="gem-c-image-card__list " wiid="C443">
                  <li class="gem-c-image-card__list-item" wiid="C444"> <a class="gem-c-image-card__list-item-link brand__color" href="#">Find a job by networking</a> </li>
                  <li class="gem-c-image-card__list-item" wiid="C446"> <a class="gem-c-image-card__list-item-link brand__color" href="#">Improve your CV
                    before applying</a> </li>
                  <li class="gem-c-image-card__list-item" wiid="C446"> <a class="gem-c-image-card__list-item-link brand__color" href="#">Personal skills
                    assessment</a> </li>
                </ul>
              </div>
            </div>
          </div>
      <div class="govuk-grid-column-full-width brand-logo-container govuk-!-margin-top-5 brand__border-color organisation__brand-border-top">
		  <h2 class="govuk-heading-m govuk-!-margin-bottom-5" wiid="C378">Hear from other teachers</h2>
        <p class="govuk-body-s user-quote"> <span class="user-quote-icon"> <img src="/public/images/icons/quote-l.png" width="41" height="37" alt=""/> </span> <span class="govuk-body-s user-quote-text">We regularly use the National Careers Service’s free school
          support to enhance our careers programme, which has
          helped us to achieve all 8 of the Gatsby Benchmarks, a
          fantastic achievement for our school. The digital support
          on offer is easy to access, flexible and a great time saving
          resource for busy teachers and careers advisers to ensure
          they are delivering impartial and empowering careers IAG.</span> <span class="user-quote-icon-right" style="position: absolute"> <img src="/public/images/icons/quote-r.png" width="41" height="37" alt=""/> </span> </p>
        <p class="govuk-body-s govuk-!-padding-0 govuk-!-margin-0 govuk-!-font-weight-bold">Mandy Green Careers Lead, Bedford Academy</p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third right-banner-section">
    <div class="gem-c-image-card colour-selector  govuk-!-padding-3">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-4">Access tailored support</h2>
      {% include "includes/keep-up-to-date.html" %}
      {% include "includes/contact-us.html" %}
      {% include "includes/how-we-have-done.html" %} </div>
  </div>
</div>
</section>
{% endblock %} 