{% extends "layout_ncs.html" %}

{% block pageTitle %}
Advertised job vacancies | Get a job | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/get-a-job/main-breadcrumb.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">How to find advertised job vacancies</h1>
        <nav role="navigation">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <ol class="govuk-list govuk-list--number">
                        <li><a class="govuk-link" href="#the-internet">The internet</a></li>
                        <li><a class="govuk-link" href="#newspapers">Newspapers</a></li>
                        <li><a class="govuk-link" href="#industry-magazines">Industry magazines</a></li>
                    </ol>
                </div>
                <div class="govuk-grid-column-one-half">
                    <ol class="govuk-list govuk-list--number" start="4">
                        <li><a class="govuk-link" href="#jobcentres">Jobcentres</a></li>
                        <li><a class="govuk-link" href="#national-careers-service">National Careers Service</a></li>
                        <li><a class="govuk-link" href="#recruitment-agencies">Recruitment agencies</a></li>
                    </ol>
                </div>
            </div>
        </nav>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body-m">Spread your job search as wide as possible, as there are lots of places to look. On this
            page you can read about the main sources of advertised vacancies. Remember that many jobs aren’t advertised
            at all, so you’ll have to use <a class="govuk-link" href="networking">networking</a> to find out about them by word of mouth.
        </p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <section id="the-internet">
            <h2 class="govuk-heading-l">The internet</h2>
            <p class="govuk-body-m">When looking for work online:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>check the closing date for applications - employers can leave closed vacancies online by mistake
                </li>
                <li>browse related job categories and search by alternative job titles</li>
                <li>widen the geographic area of your search</li>
                <li>beware of recruitment sites with jobs that seem too good to be true, or that ask for money</li>
                <li>be sure that a site is secure and reputable before posting your personal details</li>
                <li>draft your applications offline so you can check spellings and keep a copy</li>
                <li>unsubscribe from job alerts that aren’t relevant and check your spam folder if job alerts don’t
                    arrive in your inbox
                </li>
            </ul>
            <p class="govuk-body-m">You can find out what it’s like to work for a company you’re interested in by
                checking company reviews on sites like:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="https://www.gov.uk/jobsearch">Find a job</a></li>
                <li><a class="govuk-link" href="https://www.glassdoor.co.uk/index.htm">Glassdoor</a></li>
                <li><a class="govuk-link" href="http://www.thejobcrowd.com/">TheJobCrowd</a></li>
                <li><a class="govuk-link" href="http://www.milkround.com/">Milkround</a></li>
                <li><a class="govuk-link" href="https://www.prospects.ac.uk/employer-profiles">Prospects</a></li>
            </ul>
            <p class="govuk-body-m">On business networking sites like <a class="govuk-link" href="https://www.linkedin.com/uas/login">LinkedIn</a>
                and <a class="govuk-link" href="http://www.spoke.com/">Spoke</a> you can promote your skills and develop relationships that
                can lead to finding unadvertised vacancies.</p>
        </section>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <section id="newspapers"><h2 class="govuk-heading-l">Newspapers</h2>
            <p class="govuk-body-m">You can find jobs in national papers as well as local and regional papers. Ask your
                local newsagent to
                find out which papers are available in your area.</p>
        </section>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <section id="industry-magazines"><h2 class="govuk-heading-l">Industry magazines</h2>
            <p class="govuk-body-m">You can find advertised jobs in industry journals or trade magazines for your area
                of work. With these
                publications you’ll often find:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>subscription is often free if you're already in the industry</li>
                <li>large newsagents and libraries stock them</li>
                <li>they include news on which companies are expanding</li>
            </ul>
            <p class="govuk-body-m">Expanding companies might particularly welcome speculative applications so they can
                fill their vacancies
                without needing lots of adverts.</p>
        </section>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <section id="jobcentres"><h2 class="govuk-heading-l">Jobcentres</h2>
            <p class="govuk-body-m">Most <a class="govuk-link" href="https://www.gov.uk/contact-jobcentre-plus">Jobcentres</a> offer access
                to computers to
                search for jobs online. <a class="govuk-link" href="https://www.gov.uk/jobsearch">Universal Jobmatch</a>&nbsp;is the
                government’s job vacancy search site.</p>
            <p class="govuk-body-m">Personal advisers can help you find the vacancies that are right for you. They can
                also tell you about
                available government training schemes. They’ll take into account any additional needs you might have,
                like childcare or if you have a disability.</p>
        </section>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <section id="national-careers-service"><h2 class="govuk-heading-l">National Careers Service</h2>
            <p class="govuk-body-m">Staff at National Careers Service offices offer careers advice interviews, and they
                may also know which
                employers in the local area are recruiting. These may be job vacancies or training vacancies, such as
                apprenticeships.</p>
            <p class="govuk-body-m"><a class="govuk-link" href="https://nationalcareersservice.direct.gov.uk/contact-us/home">Contact a
                National Careers Service adviser</a> to find out where your nearest
                office is and make an appointment.</p></section>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <section id="recruitment-agencies"><h2 class="govuk-heading-l">Recruitment agencies</h2>
            <p class="govuk-body-m">Organisations employ recruitment agencies to find suitable people for their vacancies. They may
                specialise in temporary work, permanent work or specific sectors.</p>
            <p class="govuk-body-m">Agencies can be useful to help you find jobs that aren’t advertised to individuals online or in the
                press. They take a fee from the company that hires you, so they should be motivated to find you a
                role.</p>
            <p class="govuk-body-m">When choosing which agencies to approach, check their websites to see if they have the type of vacancies
                you’re interested in. You can sign up with more than one agency - this way you’ll get access to more
                jobs.</p>
            <p class="govuk-body-m">When using an agency:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>ask if they commonly deal with vacancies in the kind of work you’re looking for</li>
                <li>treat an interview with the agency like an interview with an employer</li>
                <li>ask for feedback if you’re not placed in a job</li>
                <li>keep in touch with the agency regularly and let them know your availability</li>
                <li>be open to temporary work if you can, even if you’re looking for permanent work, as temporary jobs
                    can lead to permanent work
                </li>
                <li>depending on the job, the agency might check your typing speed, your ability with computer packages
                    and your spelling accuracy
                </li>
            </ul>
            <p class="govuk-body-m">You can use sites like <a class="govuk-link" href="http://www.agencycentral.co.uk/">Agency Central</a> to search for
                agencies dealing in vacancies in your industry and in your local area.</p></section>

    </div>
    {% include "includes/side-contact-us.html" %}
</div>
{% endblock %}
