{% extends "layout_ncs.html" %}

{% block pageTitle %}
Get a job | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/get-a-job/landing-breadcrumb.html" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Advice on how to look for and apply for jobs</h1>
            <p class="govuk-body-m">Get advice on the different stages of a job hunt, including how to improve your interview technique and write an effective CV. You can get help to search for your first job, get back into work or change career direction.</p>
            <h2 class="govuk-heading-s"><a class="govuk-link" href="how-to-find-advertised-job-vacancies">How to find advertised job vacancies</a></h2>
            <p class="govuk-body-m">Where to find job adverts, from the internet to recruitment agencies.</p>
            <h2 class="govuk-heading-s"><a class="govuk-link" href="networking">Networking: how to use it to find a job</a></h2>
            <p class="govuk-body-m">Find out how to find a job by word of mouth.</p>
            <h2 class="govuk-heading-s"><a class="govuk-link" href="cv-sections">Your CV: what to include in each section</a></h2>
            <p class="govuk-body-m">Learn what to include and what to leave out of the main CV sections.</p>
            <h2 class="govuk-heading-s"><a class="govuk-link" href="cv-tips">CV tips</a></h2>
            <p class="govuk-body-m">Find out how to avoid common mistakes and make your CV stand out.</p>
            <h2 class="govuk-heading-s"><a class="govuk-link" href="covering-letter">How to write covering letters</a></h2>
            <p class="govuk-body-m">They aren't just to introduce your CV - they should highlight your strengths and enthusiasm.</p>
            <h2 class="govuk-heading-s"><a class="govuk-link" href="interview-advice">Interview advice</a></h2>
            <p class="govuk-body-m">Find out how to prepare for interviews, how to perform well during them and what to do afterwards.</p>
            <h2 class="govuk-heading-s"><a class="govuk-link" href="top-10-interview-questions">Top 10 interview questions</a></h2>
            <p class="govuk-body-m">To help you prepare, discover the most common questions employers ask.</p>
        </div>
        {% include "includes/side-contact-us.html" %}
    </div>
{% endblock %}
