{% extends "layout_ncs.html" %}

{% block pageTitle %}
Networking | Get a job | National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/get-a-job/main-breadcrumb.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Networking: how to use it to find a job</h1>
        <nav role="navigation">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <ol class="govuk-list govuk-list--number">
                        <li><a class="govuk-link" href="#get-comfortable-with-networking">Get comfortable with
                            networking</a></li>
                        <li><a class="govuk-link" href="#learn-to-bounce-back">Learn to bounce back</a></li>
                    </ol>
                </div>
                <div class="govuk-grid-column-one-half">
                    <ol class="govuk-list govuk-list--number" start="3">
                        <li><a class="govuk-link" href="#how-to-network">How to network</a></li>
                    </ol>
                </div>
            </div>
        </nav>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body-m">Advertising jobs takes up a lot of time and money for employers, so most jobs are filled
            by networking. </p>
        <p class="govuk-body-m">Networking is passing on information. You network every day. When you speak to a friend
            you might recommend a
            film, a hairdresser, or a good restaurant. Just as you network in your personal life, you can use your
            contacts to help with job hunting. It’s also a great way to find out about a particular career and whether
            you might like it.</p>
        <p class="govuk-body-m">You can network with anyone. You could start by talking to people you already know about
            their jobs and who
            they know. Once you start, you’ll be surprised at how quickly the list of people you know gets bigger.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <section id="get-comfortable-with-networking">
            <h2 class="govuk-heading-l">Get comfortable with networking</h2>
            <p class="govuk-body-m">At first you might feel uncomfortable with the idea of making contacts to 'get
                something from them'. Try to look at networking as two-way – you offer your skills and abilities in
                return for support and information.</p>
            <p class="govuk-body-m">Don't think you need to be a very outgoing person. You can continue to be yourself,
                but make sure you are enthusiastic and interested in the career you’re finding out about.</p>
        </section>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <section id="learn-to-bounce-back"><h2 class="govuk-heading-l">Learn to bounce back</h2>
            <p class="govuk-body-m">Everyone gets knocked back at some stage. The contact you speak to may be pushed for
                time or not hiring at the moment. Thank them for their time anyway and ask if they can recommend anyone
                else that might be able to help.</p>
            <p class="govuk-body-m">If you're new to networking and get knocked back, try to think about how you can
                learn from it and change your approach for future networking opportunities.</p>
        </section>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <section id="how-to-network"><h2 class="govuk-heading-l">How to network</h2>
            <p class="govuk-body-m">A good way to start networking is to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>make a list of who you know, which positions they hold, and who they know</li>
                <li>identify your existing networks, like family, friends, acquaintances, referees</li>
                <li>have a clear idea of who you want to talk to and why you’re interested in the organisation</li>
                <li>research what a company does and what your contact's role is</li>
                <li>think about what you can offer the organisation before approaching them</li>
                <li>keep a record of contacts listing everyone you've spoken to, their contact details and their
                    positions
                </li>
                <li>chat to professionals on web forums or on social media</li>
            </ul>
        </section>
    </div>
    {% include "includes/side-contact-us.html" %}
</div>
{% endblock %}
