<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

<head>
    <script type='text/javascript'>
      window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
        })(document);
        smartlook('init', '7433502c0fa3461b8c287d3a63f5a0f6d683a32a');
    </script>
    <!-- Page-hiding snippet (recommended) google optimise anti flicker -->
    <style type="text/css">
        .async-hide {
            opacity: 0 !important
        }
        .separator::before, .separator::after {
        border-bottom: 6px solid #207e77!important;
        }

    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="blue" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-opengraph-image.png?+G8dDdEGv7zYrR7l6mjnXg==">
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/favicon.ico?3nq8UiaSUgOsELCkqUr5SQ==" type="image/x-icon" />
    <link rel="mask-icon" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-mask-icon.svg?Kv0SWx25YQk4jUoHJzEvPg==" color="blue">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon-180x180.png?oPfhtyikIBayR9xU7kDQVQ==">
    <link rel="apple-touch-icon" sizes="167x167" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon-167x167.png?9jbLfUcfxiOdIkHXXL2ryw==">
    <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon-152x152.png?QIRtRqo3Iy4rNQZXac5WfA==">
    <link rel="apple-touch-icon" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon.png?PEXaofHnFkWOTalUuXMALg==">
    <link href="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>
        Careers advice - job profiles, information and resources | National Careers Service
    </title>
    <meta name="description" content="We provide information, advice and guidance to help you make decisions on learning, training and work.">
    <meta name="description" content="Find out what a job involves and if it&#39;s right for you." />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-c0b8ba8b1652aacad298d74f24752260187f538b50c40c2484f7f333cbc3cf2b.css">
        <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css">
        <link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-e9ec5a5f82e5c2a17927ce356e5a054cb28025ec1547ec5d00f5c98d2ec5e481.css">
        <meta name="theme-color" content="#0b0c0c">
        <meta name="viewport" content="width=device-width, initial-scale=1"
          <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-1924d57f4bba2603a29dda66a0fb53ded6bc766e697e13c27b52db13ddef3a7b.css">
        <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">
      <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-4da8ff6423b4c7ac78093091aef33b386b0f82d094c0edc62c16e5beb7a9917b.css">
</head>

<body class="govuk-template__body app-body-class">
    <script type="text/javascript">
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script> <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <div>
        <div class="sfContentBlock sf-Long-text">
<header class="govuk-header" role="banner" data-module="header">
                <div class="govuk-header__container govuk-width-container" style="border-bottom: 10px solid #207e77"><a href="home" class="govuk-header__link govuk-header__link--service-name" style="margin-bottom: 0;">National Careers Service
</a>
                    <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
                    <nav>
                        <ul id="navigation" class="govuk-header__navigation" style="margin-bottom: 2px" aria-label="Top Level Navigation">
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/explore-careers" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/skills-assessment" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/find-a-course" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Careers advice</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/contact-us" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
    </div>

    <div>
        <div class="sfContentBlock sf-Long-text">
            <div class="govuk-width-container">
                <div class="govuk-phase-banner">
                    <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">beta
</strong>
                        <span class="govuk-phase-banner__text">Complete <a target="_blank" class="govuk-link" href="https://surveys.ipsosinteractive.com/mrIWeb/mrIWeb.dll?I.Project=S1039833&amp;id=&amp;cf=ovl ">Ipsos MORI survey</a> to give us your feedback about the service.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <main class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">How to use our service</h1>
    <p class="govuk-body">The National Careers Service will help you make career decisions, whether you are starting your career or making a career change.</p>
    <p class="govuk-body">The National Careers Service will help you understand:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li><a href="#ec">what a job role could include</a></li>
    <li><a href="#skills">the skills you have</a></li>
    <li><a href="#courses">what further education courses are available near you</a></li>
    <li><a href="#htgaj">help to apply and get a job</a></li>
    </ul>

    <h2 class="govuk-heading-m" id="ec">What a job role could include</h2>
    <p class="govuk-body"><a href="ec/explorecareers">Explore careers</a> lets you search 800+ job profiles to find the careers that interest you.</p>
    <p class="govuk-body">The job profiles will provide you with impartial information on the job role, like:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>expected salary</li>
    <li>how to get into the role</li>
    <li>the skills you’ll need</li>
    <li>what you'll do day-to-day</li>
    <li>where the job can lead</li>
    <li>related further education courses to help you get into the role</li>
    </ul>
    <p class="govuk-body">Understand a role before applying and find similar roles that may suit you.</p>
    <p class="govuk-body">You can find or check your skills match the job profiles you are interested in by using our skills assessments.</p>
    <p class="govuk-body">Use our careers advice to help you apply and get the job you want.</p>
    <a class="govuk-button" href="ec/explorecareers">Search job profiles</a>
    <h2 class="govuk-heading-m" id="skills">The skills you have</h2>
    <p class="govuk-body">We offer <a href="http://nationalcareers.service.gov.uk/skills-assessment">two assessments</a> to find out what career skills, strengths and motivations you have:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li><a href="http://beta.nationalcareers.service.gov.uk/">Discover your skills and careers</a></li>
        <li><a href="http://nationalcareers.service.gov.uk/skills-health-check">Skills health check</a></li>
        </ul>
    <p class="govuk-body">You could also answer a few more questions to match to particular job profiles.</p>
        <a class="govuk-button" href="http://nationalcareers.service.gov.uk/skills-assessment">Take an assessment</a>
    <h2 class="govuk-heading-m" id="courses">Further education courses near you</h2>
    <p class="govuk-body">Use <a href="http://nationalcareers.service.gov.uk/find-a-course">Find a course</a> to look for learning and training opportunities offered by Education and Skills Funding Agency providers.</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>college courses</li>
        <li>apprenticeships</li>
        <li>GCSEs and A levels</li>
        <li>hobby and leisure courses</li>
        <li>training for 16 to 19 year olds</li>
        </ul>
    <p class="govuk-body">You can search for courses that will help you achieve the job role you want.</p>
            <a class="govuk-button" href="http://nationalcareers.service.gov.uk/find-a-course">Look for courses</a>
    <h2 class="govuk-heading-m" id="htgaj">Help to apply and get a job</h2>
    <p class="govuk-body">Use our <a href="careers-advice">career advice</a> to help you get a job.</p>
    <p class="govuk-body">Whatever stage of your career or job search, we offer advice on all stages of the process.</p>
    <p class="govuk-body">From help on finding a job, updating your CV to interview advice.</p>
    <p class="govuk-body">Whether you have found a job profile or already know what job role you want to apply for.</p>
    <p class="govuk-body">The career advice section can help you:</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>search and find the job you want</li>
            <li>write or update your CV</li>
            <li>prepare for interviews</li>
            <li>write application forms</li>
            </ul>
                    <a class="govuk-button" href="careers-advice">View our careers advice</a>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
    </div>
    </main>

    <div>
        <div class="sfContentBlock sf-Long-text">
            <footer class="govuk-footer " role="contentinfo">
                <div class="govuk-width-container ">
                    <div class="govuk-footer__meta">
                        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                            <h2 class="govuk-visually-hidden">Support links</h2>
                            <ul class="govuk-footer__inline-list">
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="http://nationalcareers.service.gov.uk/help">Help
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="http://nationalcareers.service.gov.uk/help/privacy-and-cookies">Privacy and cookies
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="http://nationalcareers.service.gov.uk/help/accessibility">Accessibility statement
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="http://nationalcareers.service.gov.uk/help/terms-and-conditions">Terms and conditions
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="http://nationalcareers.service.gov.uk/help/information-sources">Information sources
</a>
                                </li>
                            </ul>
                                                        <ul class="govuk-footer__inline-list">
                                                            <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="startjp.html">Start page (JP)</a></li>
                                                            <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="starthome.html">Start page (Home/HTGAJ)</a></li>
                                                        </ul>

                            <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
                                <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
                            </svg>
                            <span class="govuk-footer__licence-description">
All content is available under the
<a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
</span>
                        </div>
                        <div class="govuk-footer__meta-item"><a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">&copy; Crown copyright</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/jquerybundle.min.js" type="text/javascript"></script>
    <script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/all.min.js" type="text/javascript"></script>
    <script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/dfcdigital.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.GOVUKFrontend.initAll();
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>