<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

<head>
    <script type='text/javascript'>
      window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
        })(document);
        smartlook('init', '7433502c0fa3461b8c287d3a63f5a0f6d683a32a');
    </script>
    <!-- Page-hiding snippet (recommended) google optimise anti flicker -->
    <style type="text/css">
        .async-hide {
            opacity: 0 !important
        }
        .govuk-tabs__list-item--selected {
        border-top: 5px solid #207e77!important;
        margin-top: -10px!important;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="blue" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-opengraph-image.png?+G8dDdEGv7zYrR7l6mjnXg==">
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/favicon.ico?3nq8UiaSUgOsELCkqUr5SQ==" type="image/x-icon" />
    <link rel="mask-icon" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-mask-icon.svg?Kv0SWx25YQk4jUoHJzEvPg==" color="blue">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon-180x180.png?oPfhtyikIBayR9xU7kDQVQ==">
    <link rel="apple-touch-icon" sizes="167x167" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon-167x167.png?9jbLfUcfxiOdIkHXXL2ryw==">
    <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon-152x152.png?QIRtRqo3Iy4rNQZXac5WfA==">
    <link rel="apple-touch-icon" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon.png?PEXaofHnFkWOTalUuXMALg==">
    <link href="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>
        Careers advice - job profiles, information and resources | National Careers Service
    </title>
    <meta name="description" content="We provide information, advice and guidance to help you make decisions on learning, training and work.">
    <meta name="description" content="Find out what a job involves and if it&#39;s right for you." />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-c0b8ba8b1652aacad298d74f24752260187f538b50c40c2484f7f333cbc3cf2b.css">
        <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css">
        <link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-e9ec5a5f82e5c2a17927ce356e5a054cb28025ec1547ec5d00f5c98d2ec5e481.css">
        <meta name="theme-color" content="#0b0c0c">
        <meta name="viewport" content="width=device-width, initial-scale=1"
          <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-1924d57f4bba2603a29dda66a0fb53ded6bc766e697e13c27b52db13ddef3a7b.css">
        <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">
      <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-4da8ff6423b4c7ac78093091aef33b386b0f82d094c0edc62c16e5beb7a9917b.css">
</head>

<body class="govuk-template__body app-body-class">
    <script type="text/javascript">
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script> <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <div>
        <div class="sfContentBlock sf-Long-text">
<header class="govuk-header" role="banner" data-module="header">
                <div class="govuk-header__container govuk-width-container" style="border-bottom: 10px solid #207e77"><a href="home" class="govuk-header__link govuk-header__link--service-name" style="margin-bottom: 0;">National Careers Service
</a>
                    <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
                    <nav>
                        <ul id="navigation" class="govuk-header__navigation" style="margin-bottom: 2px" aria-label="Top Level Navigation">
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/explore-careers" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/skills-assessment" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/find-a-course" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Careers advice</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/contact-us" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
    </div>

    <div>
        <div class="sfContentBlock sf-Long-text">
            <div class="govuk-width-container">
                <div class="govuk-phase-banner">
                    <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">beta
</strong>
                        <span class="govuk-phase-banner__text">Complete <a target="_blank" class="govuk-link" href="https://surveys.ipsosinteractive.com/mrIWeb/mrIWeb.dll?I.Project=S1039833&amp;id=&amp;cf=ovl ">Ipsos MORI survey</a> to give us your feedback about the service.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
     <div class="primary-hero">
     <div class="govuk-width-container">
     <h1 class="govuk-heading-xl">Careers advice</h1>
          <p class="govuk-body">Making career decisions can feel overwhelming. You might want to look for a job, consider a career change, look for course, or need help to get on in your current job.</p>
          <p class="govuk-body">We're here to give you the information and advice you need in a simple way. We want to make it easier for you to make the best decision for yourself and your career.</p>
     </div>
     </div>
     <div class="govuk-width-container"> <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">


     <div class="govuk-tabs" data-module="govuk-tabs">
       <h2 class="govuk-tabs__title">
         Contents
       </h2>
       <ul class="govuk-tabs__list">
         <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
           <a class="govuk-tabs__tab" href="#finding-jobs">
             Finding jobs
           </a>
         </li>
         <li class="govuk-tabs__list-item">
           <a class="govuk-tabs__tab" href="#applying-for-jobs">
             Applying for jobs
           </a>
         </li>
         <li class="govuk-tabs__list-item">
           <a class="govuk-tabs__tab" href="#interviews">
             Interviews
           </a>
         </li>
         <li class="govuk-tabs__list-item">
           <a class="govuk-tabs__tab" href="#work-experience">
             Work experience
           </a>
         </li>
       </ul>
       <section class="govuk-tabs__panel" id="finding-jobs">
         <h4 class="govuk-heading-s"><a class="govuk-link" href="https://nationalcareers.service.gov.uk/get-a-job/advertised-job-vacancies">How to find job vacancies</a></h4>
         <p class="govuk-body-m">Find out where to look for vacancies from recruitment agencies to social media sites.</p>
         <h4 class="govuk-heading-s"><a class="govuk-link" href="https://nationalcareers.service.gov.uk/get-a-job/networking">Find a job by networking</a></h4>
         <p class="govuk-body-m">Discover jobs through people you know.</p>
         <h4 class="govuk-heading-s"><a class="govuk-link" href="">Getting the most out of a job fair</a></h4>
         <p class="govuk-body-m">Learn how to prepare for, and approach, a job fair to increase your chances of getting a job.</p>
         <h4 class="govuk-heading-s"><a class="govuk-link" href="">Get the most out of a recruitment agency</a></h4>
         <p class="govuk-body-m">Learn how to work with a recruiter to boost your chances of finding a job.</p>

       </section>
       <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="applying-for-jobs">
       <h4 class="govuk-heading-s"><a class="govuk-link" href="https://nationalcareers.service.gov.uk/get-a-job/cv-sections">How to write a CV</a></h4>
       <p class="govuk-body-m">Check our CV advice on what to include and how to make it stand out.</p>
       <h4 class="govuk-heading-s"><a class="govuk-link" href="https://nationalcareers.service.gov.uk/get-a-job/covering-letter">How to write a cover letter</a></h4>
       <p class="govuk-body-m">Learn more about cover letters, why they're important and how to use them.</p>
       <h4 class="govuk-heading-s"><a class="govuk-link" href="https://nationalcareers.service.gov.uk/get-a-job/application-forms">How to fill in an application form</a></h4>
       <p class="govuk-body-m">Get help to complete paper and online application forms.</p>
       <h4 class="govuk-heading-s"><a class="govuk-link" href="">Explaining gaps in employment</a></h4>
       <p class="govuk-body-m">Learn how to declare gaps in your employment record on your job application.</p>
       <h4 class="govuk-heading-s"><a class="govuk-link" href="">Learn to tailor your CV to specific job roles</a></h4>
       <p class="govuk-body-m">Make your CV stand out by showing how well you suit a specific job role.</p>

       </section>
       <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="interviews">
       <h4 class="govuk-heading-s"><a class="govuk-link" href="https://nationalcareers.service.gov.uk/get-a-job/interview-advice">Interview advice</a></h4>
       <p class="govuk-body-m">Find out about the different types of interviews and how to do well in them.</p>
       <h4 class="govuk-heading-s"><a class="govuk-link" href="https://nationalcareers.service.gov.uk/get-a-job/top-10-interview-questions">How to answer common interview questions</a></h4>
       <p class="govuk-body-m">Learn how to answer interview questions confidently and make a good impression.</p>
       <h4 class="govuk-heading-s"><a class="govuk-link" href="">Dealing with interview anxiety</a></h4>
       <p class="govuk-body-m">Find ways to help you beat interview anxiety.</p>
       <h4 class="govuk-heading-s"><a class="govuk-link" href="">Interview techniques and examples</a></h4>
       <p class="govuk-body-m">Showing you how to make the most of an interview.</p>

       </section>

       <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="work-experience">
       <h4 class="govuk-heading-s"><a class="govuk-link" href="https://staging.nationalcareers.service.gov.uk/get-a-job/work-experience-explained/">Work experience explained</a></h4>
       <p class="govuk-body-m">Discover more about the different types of work experience and how to find opportunities.</p>
       <h4 class="govuk-heading-s"><a class="govuk-link" href="https://staging.nationalcareers.service.gov.uk/get-a-job/how-work-experience-can-help-you/">How work experience can help</a></h4>
       <p class="govuk-body-m">Take a look at the ways work experience can help you decide on a career and boost your skills.</p>
       <h4 class="govuk-heading-s"><a class="govuk-link" href="https://staging.nationalcareers.service.gov.uk/get-a-job/how-to-support-your-child-with-work-experience/">How to support your child with work experience</a></h4>
       <p class="govuk-body-m">Check our guide for parents and carers on how to help before, during and after your child's work experience.</p>
       <h4 class="govuk-heading-s"><a class="govuk-link" href="https://staging.nationalcareers.service.gov.uk/get-a-job/work-experience-in-animal-care/">Work experience in animal care</a></h4>
       <p class="govuk-body-m">Explore different types of jobs and how to get useful skills for work in animal care.</p>

       </section>
     </div>


     </main> </div>
    <div>
        <div class="sfContentBlock sf-Long-text">
            <footer class="govuk-footer " role="contentinfo">
                <div class="govuk-width-container ">
                    <div class="govuk-footer__meta">
                        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                            <h2 class="govuk-visually-hidden">Support links</h2>
                            <ul class="govuk-footer__inline-list">
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help">Help
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help/privacy-and-cookies">Privacy and cookies
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help/accessibility">Accessibility statement
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help/terms-and-conditions">Terms and conditions
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help/information-sources">Information sources
</a>
                                </li>
                            </ul>
                                                        <ul class="govuk-footer__inline-list">
                                                            <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="startjp.html">Start page (JP)</a></li>
                                                            <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="starthome.html">Start page (Home/HTGAJ)</a></li>
                                                        </ul>

                            <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
                                <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
                            </svg>
                            <span class="govuk-footer__licence-description">
All content is available under the
<a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
</span>
                        </div>
                        <div class="govuk-footer__meta-item"><a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">&copy; Crown copyright</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/jquerybundle.min.js" type="text/javascript"></script>
    <script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/all.min.js" type="text/javascript"></script>
    <script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/dfcdigital.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.GOVUKFrontend.initAll();
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>