<!DOCTYPE html>
<html lang="en-gb" class="govuk-template ">

<head>
<script type='text/javascript'>
  window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', '7433502c0fa3461b8c287d3a63f5a0f6d683a32a');
</script>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Page-hiding snippet (recommended)  -->
<style>
.job-profile-subsection .job-profile-subsection-content {
    padding-left: 0!important;
    border-left: 0!important;
}
.govuk-accordion__section-content {
    padding-top: 25px!important;
}
.job-profile-subsection h3 {
     background-color: #ffffff!important;
     padding-left: 0!important;
     border-radius: 0!important;
     border-top: 3px solid #207e77;
}
.govuk-accordion__section-header {
    position: sticky !important;
    top: 0 !important;
    background-color: #ffffff!important;
    z-index: 1000!important;
}
</style>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta property="og:image" content="https://staging-cdn.nationalcareers.service.gov.uk/nationalcareers_toolkit/images/govuk-opengraph-image.png">

<link rel="shortcut icon" sizes="16x16 32x32 48x48" href="https://staging-cdn.nationalcareers.service.gov.uk/nationalcareers_toolkit/images/favicon.ico" type="image/x-icon" />
<link rel="mask-icon" href="https://staging-cdn.nationalcareers.service.gov.uk/nationalcareers_toolkit/images/govuk-mask-icon.svg" color="blue">
<link rel="apple-touch-icon" sizes="180x180" href="https://staging-cdn.nationalcareers.service.gov.uk/nationalcareers_toolkit/images/govuk-apple-touch-icon-180x180.png">
<link rel="apple-touch-icon" sizes="167x167" href="https://staging-cdn.nationalcareers.service.gov.uk/nationalcareers_toolkit/images/govuk-apple-touch-icon-167x167.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://staging-cdn.nationalcareers.service.gov.uk/nationalcareers_toolkit/images/govuk-apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" href="https://staging-cdn.nationalcareers.service.gov.uk/nationalcareers_toolkit/images/govuk-apple-touch-icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css">
<link href="https://staging-cdn.nationalcareers.service.gov.uk/nationalcareers_toolkit/css/all.min.css?P3pyNDHyP/EI8IicWVLV2g==" rel="stylesheet" type="text/css" />

<!--[if lt IE 9]>
<![endif]-->



    <title>Care worker | Explore careers | National Careers Service</title>

    <link rel="canonical" href="https://staging.nationalcareers.service.gov.uk/job-profiles/admin-assistant">

    <meta name="description" content="Nurses care for adults who are sick, injured or have physical disabilities.">
</head>

<body class="govuk-template__body ">

<script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script>

<a href="#main-content" class="govuk-skip-link">Skip to main content</a>


<header class="govuk-header" role="banner" data-module="header">
                <div class="govuk-header__container govuk-width-container" style="border-bottom: 10px solid #207e77"><a href="home" class="govuk-header__link govuk-header__link--service-name" style="margin-bottom: 0;">National Careers Service
</a>
                    <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
                    <nav>
                        <ul id="navigation" class="govuk-header__navigation" style="margin-bottom: 2px" aria-label="Top Level Navigation">
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/explore-careers" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/skills-assessment" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/find-a-course" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Careers advice</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/contact-us" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a></li>
                        </ul>
                    </nav>
                </div>
            </header>


<div class="govuk-width-container"><div class="govuk-phase-banner"><p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">beta
</strong>
 <span class="govuk-phase-banner__text">Complete <a target="_blank" class="govuk-link" href="https://surveys.ipsosinteractive.com/mrIWeb/mrIWeb.dll?I.Project=S1039833&amp;id=&amp;cf=ovl ">Ipsos MORI survey</a> to give us your feedback about the service.</span>
 </p></div></div>

<header class="job-profile-hero">
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1> Family support worker</h1>

                <p>Family support workers help and advise families with long or short-term difficulties.</p>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div id="Salary" class="column-40 job-profile-heroblock">
                <h2>
                    Average salary
                    <span>(a year)</span>
                </h2>

                <div class="job-profile-salary job-profile-heroblock-content">
                        <p class="dfc-code-jpsstarter">&#xA3;18,000 <span>Starter</span></p>
                        <i class="sr-hidden">to</i>
                        <p class="dfc-code-jpsexperienced">&#xA3;35,000 <span>Experienced</span></p>
                </div>
            </div>
            <div id="WorkingHours" class="column-30 job-profile-heroblock">
                <h2>Typical hours <span>(a week)</span></h2>
                <div class="job-profile-hours job-profile-heroblock-content">
                    <p class="dfc-code-jphours">
36 to 38                        <span class="dfc-code-jpwhoursdetail">a week</span>
                    </p>
                </div>
            </div>
            <div id="WorkingHoursPatterns" class="column-30 job-profile-heroblock">
                <h2>
                    Typical working pattern
                </h2>
                <div class="job-profile-pattern job-profile-heroblock-content">
                    <p class="dfc-code-jpwpattern">
                    evening / weekends
                    </p>
                </div>
            </div>
        </div>
        <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Employment outlook</span>
              </summary>

            <div class="card h-100" style="border: 0!important; background-color: #f3f2f1;">
                                  <div class="card-body" style="padding: 0!important">
                                          <div id="Salary" class="column-40 job-profile-heroblock">
                                          <h2>Future demand for this job group
                                                              <span>(until 2024)</span></h2>
                                          <div class="arrow-block job-profile-heroblock-content">
                                                                  <p class="dfc-code-jpsstarter" style="font-size: 24px; color: #207e77; font-weight: bold; padding-top: 5px">+ 5.3%
                                                                  <span>Nationally</span></p>
                                                          </div>
                                  </div>
                                </div>

            </div></details>
            </div>
</header>


    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
         <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="howtobecome">
              How to become a family support worker
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="howtobecome">
                  <div class="job-profile-sections">
                            <section id="HowToBecome">
                                <p>You can get into this job through:</p>
                            <ul>
                                <li>a college course</li>
                                <li>an apprenticeship</li>
                                <li>volunteering</li>
                                <li> applying directly</li>
                            </ul>


                                            <section class="job-profile-subsection" id="College">
                                        <h3>College</h3>
                                        <div class="job-profile-subsection-content">

                                            <p>You could do a:</p>
                                            <ul>
                                            <li>Level 3 Diploma in Health and Social Care</li>
                                            <li>Level 3 Diploma for the Children and Young People's Workforce</li>
                                            </ul>



                                                <h4>Entry requirements</h4>
                                                <p>You'll usually need:</p>
                                                <ul class="list-reqs">
                                                        <li>4 or 5 GCSEs at grades 9 to 4 (A* to C), or equivalent, for a level 3 course</li>
                                                </ul>

                                                <h4>More information</h4>
                                                <ul class="list-link">
                                                        <li><a class="htb-feature govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                                                        <li><a class="htb-feature govuk-link" href="https://www.gov.uk/further-education-courses/financial-help">funding advice</a></li>
                                                        <li><a class="htb-feature govuk-link" href="/find-a-course/home">search for courses</a></li>
                                                </ul>
                                                                              <a class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-2" href="https://nationalcareers.service.gov.uk/find-a-course">Find courses near you</a>
                                        </div>
                                    </section>

                                            <section class="job-profile-subsection" id="Apprenticeship">
                                        <h3>Apprenticeship</h3>
                                        <div class="job-profile-subsection-content">

                                            <p>You could complete a children, young people and families practitioner higher apprenticeship.</p>



                                                <h4>Entry requirements</h4>
                                                <p>You'll usually need:</p>
                                                <ul class="list-reqs">
                                                        <li>4 or 5 GCSEs at grades 9 to 4 (A* to C) and A levels, or equivalent, for a higher or degree apprenticeship</li></ul>
                                                <h4>More information</h4>
                                                <ul class="list-link">
                                                        <li><a class="htb-feature govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                                                        <li><a class="htb-feature govuk-link" href="https://www.gov.uk/apprenticeships-guide">guide to apprenticeships</a></li>
                                                </ul>
                                                                              <a class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-2" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
                                        </div>
                                    </section>

                                    <section class="job-profile-subsection" id="volunteer">
                                    <h3>Volunteering and experience</h3>
                                    <div class="job-profile-subsection-content">
                                        <p>Experience is essential when applying for training or jobs. You can get this through paid or voluntary work in:</p>
                                        <ul>
                                        <li>children's homes</li>
                                        <li>nurseries</li>
                                        <li>family refuge centres</li>
                                        <li>probation services</li>
                                        <li>family community centres</li>
                                        <li>mental health services</li>
                                        <li>youth projects</li>
                                        </ul>
                                        <div class="govuk-inset-text" style="border-left: 5px solid #b1b4b6;"><p>Read our guidance about how to obtain <a class="govuk-link" href="#abc">work experience</a>, <a class="govuk-link" href="#abc">internships</a> and <a class="govuk-link" href="#abc">volunteer work</a> to get started.</p></div>
                                    </div>
                                </section>
                                    <section class="job-profile-subsection" id="directapplication">
                                    <h3>Direct application</h3>
                                    <div class="job-profile-subsection-content">
                                        <p>Employers will expect you to have:</p>
                                        <ul>
                                        <li>experience in working with children, young people and their families</li>
                                        <li>a minimum of a level 3 qualification in childcare, social work, social care, counselling, youth work or education</li>
                                        </ul>
                                    </div>
                                </section>


                                <section class="job-profile-subsection" id="moreinfo">
                                    <h3>More information</h3>
                                    <div class="job-profile-subsection-content">
                                        <p>You can find out more about careers in support work from Think Care Careers.</p>
                                        </div>
                                </section>



                            </section>
                            </div>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="whatittakes">
              What it takes
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="whatittakes">
        <div class="job-profile-sections">
        <section id="WhatItTakes">
        <section class="job-profile-subsection">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
                    <ul>
                                            <li>
counselling skills including active listening and a non-judgemental approach
                                            </li>
                                            <li>
excellent verbal communication skills
                                            </li>
                                            <li>
sensitivity and understanding
                                            </li>
                                            <li>
patience and the ability to remain calm in stressful situations
                                            </li>
                                            <li>
to be flexible and open to change
                                            </li>
                                            <li>
the ability to work well with others
                                            </li>
                                            <li>
the ability to accept criticism and work well under pressure
                                            </li>
                                            <li>
to be able to carry out basic tasks on a computer or hand-held device
                                            </li>
                                                        <li>the ability to understand people’s reactions</li>
                                </ul>
                    </div>
            <div class="govuk-inset-text" style="border-left: 5px solid #b1b4b6;">
            <span class="govuk-heading-s">Find out more about your skills</span>
            <p>Learn more about your skills and the careers that might suit you.</p>
            <a class="govuk-button" href="https://nationalcareers.service.gov.uk/skills-assessment">Take a skills assessment</a></div>
    </section>

</section></div>        </div>
      </div>
      <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="dayinthelife">
                    A day in the life of a family support worker
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="dayinthelife">
              <p>The National Careers Service spoke to a family support worker about her work. She is employed by the Rainbow Trust and works in the community and works with families, making sure they have the support they need.</p>
              <h4 class="govuk-heading-s">What does a day in your life look like?</h4>
              <p><span class="govuk-!-font-weight-bold">8.00am:</span> We have a team meeting first thing to discuss what we’ve got coming up during the day and to ask advice on any difficult situations.</p>
              <p><span class="govuk-!-font-weight-bold">10.00am:</span> I visit Vicky, a mother who lost her daughter to sudden infant death syndrome (SIDS). We talk about the funeral and how she’s feeling. She’s worried about money and isn’t sure about her carer’s benefit now that her daughter has passed on. I help her speak to the Department for Work and Pensions, who reassure her that she will continue to receive the benefit for another 8 weeks after the death so that she has some time to adjust.</p>
              <p><span class="govuk-!-font-weight-bold">11.30pm:</span> I attend my monthly counselling session. This is mandatory for all family support workers to ensure our wellbeing in such a stress job. The counsellors make sure that we’re able to handle the more emotionally challenging parts of the job.</p>
              <p><span class="govuk-!-font-weight-bold">2.30pm:</span> I visit Claire, a new mum with postnatal depression. I make sure that she and the baby are both okay. I do a couple of loads of laundry for Claire and she talks to me about some groups for postnatal depression she’s found in her local area.</p>
              <p><span class="govuk-!-font-weight-bold">4.00pm:</span> Drove to pick up Emma and Liam up from school and looked after them for an hour while their mother was at the hospital having chemotherapy. We went to pick up Kelly from the hospital and took the family back home. I put Kelly to bed for a rest and made some food for the children and played with them until their father came home at 6pm.</p>
              </div>
            </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="whatyoulldo">
              What you'll do
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="whatyoulldo">
                <div class="job-profile-sections">
                <section id="WhatYouWillDo">
            <section class="job-profile-subsection">
                <h3>Day-to-day tasks</h3>
                <div class="job-profile-subsection-content">
                    <p>In this role you could:</p>
<ul>
    <li>work with people who have drug or alcohol addiction
</li>
    <li>support a parent who is in hospital or prison
</li>
    <li>support clients who have marital or financial difficulties
</li>
    <li>support a child or parent with a disability
</li>
    <li>attend court sessions that deal with care orders for children
</li>
    <li>work with social workers to assess a family's needs when a child returns home after being in care
</li>
    <li>support people with language barriers who are struggling to access services
</li>
    <li>help clients to develop parenting and home management skills
</li>
</ul>                </div>
            </section>
            <section class="job-profile-subsection" id="workingenvironment">
                <h3>Working environment</h3>
                <div class="job-profile-subsection-content">

                        <p>You could work in an office, at a client's home or in a court.</p>
                        <p>Your working environment may be emotionally demanding.</p>
                </div>
            </section>
        </section></div>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="careerpath">
              Career path and progression
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="careerpath">
                <div class="job-profile-sections">
            <section id="CareerPathAndProgression">
            <p>
With experience and qualifications, you could focus on a particular area, like working with people with disabilities.
            </p>
            <p>You could also become:</p>
            <ul>
            <li>a team leader, managing a group of support workers</li>
            <li>an assistant manager of a family centre or refuge.</li>
            </ul>
            <p>You may also want to consider training to become a:</p>
            <ul>
            <li>Youth worker</li>
            <li>Social worker</li>
            <li>Counsellor</li>
</ul>

            </section></div>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="currentopps">
              Current opportunities
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="currentopps">
                <div class="job-profile-sections">
<section id="CurrentOpportunities">
    <h2 class="job-profile-headings">Current opportunities</h2>
    <div class="govuk-grid-row" id="appGeneric">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m">
                Apprenticeships
                <span class="govuk-caption-m">In England</span>
            </h3>
        </div>
                <div class="govuk-grid-column-one-half">
                    <div class="opportunity-item">
                        <h4 class="govuk-heading-s">
                            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/1622654">L3 Lead Adult Care Worker Apprentice</a>
                        </h4>
                        <ul class="govuk-list">
                            <li><span class="govuk-body govuk-!-font-weight-bold">Wage: </span> £117.00 <span class="govuk-body-s govuk-secondary-colour">Weekly</span></li>
                            <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Liverpool </li>
                        </ul>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="opportunity-item">
                        <h4 class="govuk-heading-s">
                            <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/1623869">Apprentice Mental Health Support Worker</a>
                        </h4>
                        <ul class="govuk-list">
                            <li><span class="govuk-body govuk-!-font-weight-bold">Wage: </span> £258.38 <span class="govuk-body-s govuk-secondary-colour">Weekly</span></li>
                            <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Weston-super-Mare BS23 1XJ </li>
                        </ul>
                    </div>
                </div>
            <div class="govuk-grid-column-full govuk-body-m dfc-code-jp-vacancyText">
                <a class="govuk-button" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
            </div>
    </div>
                <div class="govuk-grid-row dfc-code-jp-trainingCourse">
                    <div class="govuk-grid-column-full">
                        <h3 class="govuk-heading-m">
                            Courses
                            <span class="govuk-hint">In England</span>
                        </h3>
                    </div>
                            <div class="govuk-grid-column-one-half">
                                <div class="panel panel-border-narrow opportunity-item">
                                    <h3 class="govuk-heading-s">
                                        <a href="https://nationalcareers.service.gov.uk/find-a-course/course-details?courseid=2fb440a3-b852-44f0-a28e-8038eabdefdd&r=c49f0aed-5502-491e-adeb-ed955d632952">Diploma in Health and Social Care</a>
                                    </h3>
                                    <ul class="list">
                                        <li><span class="bold-small">Provider:</span> GREEN INC (EU) LIMITED</li>
                                        <li><span class="bold-small">Start date:</span> 31 March 2020</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="govuk-grid-column-one-half">
                                <div class="panel panel-border-narrow opportunity-item">
                                    <h3 class="govuk-heading-s">
                                        <a href="https://nationalcareers.service.gov.uk/find-a-course/course-details?courseid=1ba04b25-8d9c-48b3-94af-b37868827ce6&r=559b04a9-8a13-4abd-9dff-83a1fc65c7f9">Diploma in H&SC and C&YP services Level 5</a>
                                    </h3>
                                    <ul class="list">
                                        <li><span class="bold-small">Provider:</span> VOCATIONAL TRAINING SERVICES CARE SECTOR LIMITED</li>
                                        <li><span class="bold-small">Start date:</span> 01 December 2020</li>
                                    </ul>
                                </div>
                            </div>
                </div>
                <div class="dfc-code-jp-TrainingCoursesText">
                                         <a class="govuk-button" href="https://nationalcareers.service.gov.uk/find-a-course">Find courses near you</a>
                                    </div>
    <div>
        <h3 class="govuk-heading-m">
            Jobs
            <span class="govuk-caption-m">In the United Kingdom</span>
        </h3>
        <p>The Find a job service can help you with your search for jobs and send alerts when new jobs become available.</p><a class="govuk-button" href="http://findajob.dwp.gov.uk">Find jobs near you</a>
    </div>
</section>            </div>
        </div>
      </div>

        </div>
    </div>

    <div class="govuk-grid-column-one-third" style="position: sticky; top: 0;">

<div>
    <div class="job-profile-search" style="background-color: #207e77!important;">
        <h4>Search other careers</h4>
        <form action="https://nationalcareers.service.gov.uk/search-results/" class="js-live-search-form site-search ui-front" id="job-profile-search-box" method="get">
            <div class="job-profile-search-content">
                <label for="search-main"> Enter a job title</label>
                <div class="search-input-wrapper">
                    <input class="govuk-input search-input js-search-focus js-autocomplete ui-autocomplete-input" data-autocomplete-fuzzysearch="True" data-autocomplete-maxlength="7" data-autocomplete-maxnumberdisplyed="5" data-autocomplete-minlength="2" data-autocomplete-source="/searchautocomplete" id="search-main" name="SearchTerm" type="search" value="" autocomplete="off">
                </div>
                <button class="submit" type="submit" value="Search">Search</button>
            </div>
            <input id="JobProfileUrl" name="JobProfileUrl" type="hidden" value="nurse">
            <ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;"></ul>
        </form>
    </div>
</div>



<div class="job-profile-related">
    <h3 class="govuk-heading-m">Related careers</h3>
<ul class="list list-big">
            <li><a class="govuk-link" href="/job-profiles/social-worker">Social worker</a></li>
            <li><a class="govuk-link" href="/job-profiles/social-work-assistant">Social work assistant</a></li>
            <li><a class="govuk-link" href="/job-profiles/care-worker">Care worker</a></li>
            <li><a class="govuk-link" href="/job-profiles/counsellor">Counsellor</a></li>
    </ul>    </div>

<div>
    <h3 class="govuk-heading-m">Skills assessment</h3>
    <p>Learn more about your skills and the careers that might suit you.</p>
    <a class="govuk-button" href="https://nationalcareers.service.gov.uk/skills-assessment">Take an assessment</a>
</div>
        <div>
    <h3 class="govuk-heading-m">Get help using this service</h3>
    <p class="govuk-body govuk-!-margin-bottom-0">
        <span class="govuk-body govuk-!-font-weight-bold">Call&nbsp;</span>0800 100 900 or <a class="govuk-link" style="white-space:nowrap;" href="#abc" target="'_blank'">use webchat</a>
    </p>
    <p class="govuk-caption-m govuk-!-font-size-16">8am to 10pm, 7 days a week</p>
    <p>More ways to <a class="govuk-link" href="#abc">contact us</a></p>
</div>
    </div>
</div>
                </div>
            </div>












        </main>


    </div>

    <footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>


        <ul class="govuk-footer__inline-list" aria-label="Footer Links">
            <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="https://nationalcareers.service.gov.uk/help">Help</a></li><li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="https://nationalcareers.service.gov.uk/help/cookies">Privacy and cookies</a></li><li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="https://nationalcareers.service.gov.uk/help/accessibility">Accessibility statement</a></li><li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="https://nationalcareers.service.gov.uk/help/terms-and-conditions">Terms and conditions</a></li><li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="https://nationalcareers.service.gov.uk/help/information-sources">Information sources</a></li>
        </ul>
                            <ul class="govuk-footer__inline-list">
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="startjp.html">Start page (JP)</a></li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="starthome.html">Start page (Home/HTGAJ)</a></li>
                            </ul>


                <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
                    <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
                </svg>
                <span class="govuk-footer__licence-description">
                    All content is available under the
                    <a class="govuk-footer__link" target="_blank" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="noopener noreferrer license">Open Government Licence v3.0</a>, except where otherwise stated
                </span>
            </div>
            <div class="govuk-footer__meta-item">
                <a class="govuk-footer__link govuk-footer__copyright-logo" target="_blank" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/" rel="noopener noreferrer">© Crown copyright</a>
            </div>
        </div>
    </div>
</footer>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
<script>(window.jQuery||document.write("\u003Cscript src=\u0022\/lib\/jquery\/jquery.js\u0022 crossorigin=\u0022anonymous\u0022 integrity=\u0022sha256-FgpCb\/KJQlLNfOu91ta32o\/NMZxltwRo8QtmkMRdAu8=\u0022\u003E\u003C\/script\u003E"));</script>




<script src="https://staging-cdn.nationalcareers.service.gov.uk/nationalcareers_toolkit/js/jquerybundle.min.js?jq/NP1aPZeQDFG2sHhiMEg==" type="text/javascript"></script>
<script src="https://staging-cdn.nationalcareers.service.gov.uk/nationalcareers_toolkit/js/all.min.js?2oNaJkbELNSeQAR&#x2B;pP&#x2B;r5Q==" type="text/javascript"></script>

<script>window.GOVUKFrontend.initAll()</script>

<script src="https://staging-cdn.nationalcareers.service.gov.uk/nationalcareers_toolkit/js/dfcdigital.min.js?CapXRwu94MIfs6yz6qreeQ=="></script>



</body>
</html>
