{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
<header class="govuk-header " role="banner" data-module="govuk-header"><div class="govuk-header__container govuk-width-container">
    <a href="https://nationalcareersservice.direct.gov.uk/" class="govuk-header__link govuk-header__link--service-name">National Careers Service
    </a>
    <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button><nav><ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
    <li class="govuk-header__navigation-item"><a href="" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a></li>
    <li class="govuk-header__navigation-item"><a href="#" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessments</a>
</li><li class="govuk-header__navigation-item govuk-header__navigation-item--active"><a href="" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
</li><li class="govuk-header__navigation-item"><a href="" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
</li><li class="govuk-header__navigation-item"><a href="" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
</li><li class="govuk-header__navigation-item"><a href="" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
</li></ul></nav></div></header>
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="course-details-hero">
    <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
            <a href="explore-results" class="govuk-back-link">Back</a>
                <h1 class="govuk-heading-xl">Functional Skills Qualification in English</h1>

                <p class="govuk-caption-m">Level 1 | City & Guilds</p>
            </div>
        </div>
        <div class="govuk-grid-row">
                    <div id="WorkingHoursPatterns" class="column-30 course-details-heroblock">
                        <h2>
                            Hours
                        </h2>
                        <div class="course-details-hours course-details-heroblock-content">
                            <p>
                                Daytime
                            </p>
                        </div>
                    </div>
                    <div id="WorkingHoursPatterns" class="column-30 course-details-heroblock">
                        <h2>
                            Duration
                        </h2>
                        <div class="course-details-pattern course-details-heroblock-content">
                            <p>
                                1
                                    <span>year</span>
                            </p>
                        </div>
                    </div>
                    <div id="WorkingHoursPatterns" class="column-30 course-details-heroblock">
                        <h2>
                            Location
                        </h2>
                        <div class="course-details-building course-details-heroblock-content">
                            <p>
                                On campus
                                    <span>Cirencester College</span>
                            </p>
                        </div>
                    </div>
            </div>
    </div>
</header>
<div class="govuk-width-container">
    {% endblock %}

    {% block content %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <nav role="navigation">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ol class="govuk-list govuk-list--number">
                            <li><a class="govuk-link" href="#whatlearn">What you'll learn</a></li>
                            <li><a class="govuk-link" href="#whofor">Who this course is for</a></li>
                            <li><a class="govuk-link" href="#entry">Entry requirements</a></li>
                            <li><a class="govuk-link" href="#howlearn">How you'll learn</a></li>
                        </ol>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ol class="govuk-list govuk-list--number" start="5">
                            <li><a class="govuk-link" href="#need">What you'll need</a></li>
                            <li><a class="govuk-link" href="#assessed">How you'll be assessed</a></li>
                            <li><a class="govuk-link" href="#next">Where next</a></li>
                        </ol>
                    </div>
                </div>
            </nav>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m" id="whatlearn">1. What you'll learn</h2>
        <p>You’ll use everyday situations and tasks to develop your reading, writing, speaking and listening skills. You’ll read text such as leaflets, articles and newspaper reports and show that you can understand them. You’ll learn how to write down information accurately and convey your ideas and opinions clearly. You’ll take part in discussions, listen to instructions and respond appropriately. You’ll have support to improve your understanding of the rules of grammar, punctuation and spelling.</p>

    <h2 class="govuk-heading-m" id="whofor">2. Who this course is for</h2>
        <p>This course is for anyone who would like to improve their reading, writing and spoken English perhaps to get a job or begin a course or training. This course will help you to communicate well in everyday situations and build your confidence.</p>

    <h2 class="govuk-heading-m" id="entry">3. Entry requirements</h2>
        <p>There are no formal entry requirements. You will have an initial assessment to establish which Functional Skills level of entry is right for you.</p>

    <h2 class="govuk-heading-m" id="howlearn">4. How you'll learn</h2>
        <p>Through one to one support and practical classroom-based exercises.</p>

    <h2 class="govuk-heading-m" id="need">5. What you'll need</h2>
        <p>You will need pens, note paper, USB stick and a memory card for use with cameras at a cost of £15</p>

    <h2 class="govuk-heading-m" id="assessed">6. How you'll be assessed</h2>
        <p>You will undertake a controlled assessment in which you will be required to complete a number of ICT tasks. You’ll be given a task sheet and some data files and you will have to input, extract, manipulate and/or interpret information from these files.</p>

    <h2 class="govuk-heading-m" id="next">7. Where next</h2>
        <p>Improving your ICT skills will improve your prospects in almost any area of work or study and for day to day life generally. You could progress to the next Functional Skills level, a vocational course or apply for a job.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <a href="https://www.sthelens.ac.uk/" role="button" draggable="false" class="govuk-button govuk-button--start">
  Go to provider
</a>
    </div>

        <div class="govuk-grid-column-one-third">
        <div class="app-related-items">

            <h2 class="govuk-heading-m govuk-!-margin-top-2">Provider details</h2>
                            <p class="govuk-body-lead">Cirencester College</p>

                            <ul class="govuk-list govuk-!-font-size-16">
                                <li>
                                    <span class="govuk-!-font-weight-bold">Website:</span>
                                    <a class="govuk-link" href="#">https://www.cirencester.ac.uk/</a>
                                </li>
                                <li>
                                    <span class="govuk-!-font-weight-bold">Email:</span>
                                    <a class="govuk-link" href="#">student.journeyteam@cirencester.ac.uk</a>
                                </li>
                                <li>
                                    <span class="govuk-!-font-weight-bold">Phone:</span> 01285 640994
                                </li>
                            </ul>

                            <hr class="govuk-section-break govuk-section-break--visible" />

                                </div>

            <div class="app-related-items">
                <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
                <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="#" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
                <p class="govuk-hint">8am to 10pm, 7 days a week</p>
            </div>
        </div>

    </div>
    {% endblock %}
