<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find a course</title>
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
<div class="jumbotron" style="background-color: #D3D3D3">
  <div class="container">
    <div class="col-lg-4">
    <h1 class="display-4">Find a course</h1>
      <p class="lead">Search by course name</p>
      <div class="md-form mt-0">
        <input class="form-control" type="text" placeholder="Search" value="English" aria-label="Search">
      </div>
      </div>
      </div>
</div>

<div class="container">
<div class="row">
	<aside class="col-sm-4">
<div class="card">
	<article class="card-group-item">
		<header class="card-header">
			<h6 class="title">Location</h6>
		</header>
		<div class="filter-content">
			<div class="card-body">
			<form>
				<label class="form-text">
        <input class="form-control" type="text" placeholder="Search" value="Walsall" aria-label="Search">
				</label> <!-- form-check.// -->
			</form>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->

	<article class="card-group-item">

		<div class="filter-content">
		</div>
	</article> <!-- card-group-item.// -->
</div> <!-- card.// -->




	</aside> <!-- col.// -->
	<aside class="col-sm-8">
<div class="card">
	<article class="card-group-item">
		<header class="card-header"><h6 class="title">Similar category </h6></header>
		<div class="filter-content">
			<div class="list-group list-group-flush">
			  <a href="#" class="list-group-item">Cras justo odio <span class="float-right badge badge-light round">142</span> </a>
			  <a href="#" class="list-group-item">Dapibus ac facilisis  <span class="float-right badge badge-light round">3</span>  </a>
			  <a href="#" class="list-group-item">Morbi leo risus <span class="float-right badge badge-light round">32</span>  </a>
			  <a href="#" class="list-group-item">Another item <span class="float-right badge badge-light round">12</span>  </a>
			</div>  <!-- list-group .// -->
		</div>
	</article> <!-- card-group-item.// -->
	<article class="card-group-item">
		<header class="card-header"><h6 class="title">Color check</h6></header>
		<div class="filter-content">
			<div class="card-body">
				<label class="btn btn-danger">
				  <input class="" type="checkbox" name="myradio" value="">
				  <span class="form-check-label">Red</span>
				</label>
				<label class="btn btn-success">
				  <input class="" type="checkbox" name="myradio" value="">
				  <span class="form-check-label">Green</span>
				</label>
				<label class="btn btn-primary">
				  <input class="" type="checkbox" name="myradio" value="">
				  <span class="form-check-label">Blue</span>
				</label>
			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->
</div> <!-- card.// -->



	</aside> <!-- col.// -->
</div> <!-- row.// -->

</div>
<!--container end.//-->
</body>
</html>