{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

 {% block pageScripts %} 
<script src="/public/javascripts/step-by-step-nav.js"></script> 
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
  stepByStepNavigation.start($element)
</script> 
{% endblock %}

 {% block content %}
<section class="brand--national-careers-service organisation__section-wrap organisation__margin-bottom " id="main-content">
<div class="govuk-width-container" wiid="C279">
  <div class="content-container" wiid="C280">
    <div class="breadcrumbs govuk-breadcrumbs" wiid="C281">
      <ol class="govuk-breadcrumbs__list" wiid="C282">
        <li class="govuk-breadcrumbs__list-item" wiid="C283"><a class="govuk-breadcrumbs__link" href="/" wiid="C284">Home</a></li>
        <li class="govuk-breadcrumbs__list-item" wiid="C285"> <a class="govuk-breadcrumbs__link" href="/get-a-job" wiid="C286">Get a job</a> </li>
        <li class="govuk-breadcrumbs__list-item" wiid="C287">Advertised job vacancies </li>
      </ol>
    </div>
  </div>
</div>
<div class="govuk-width-container govuk-!-margin-bottom-3 govuk-!-margin-top-3">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="sfContentBlock sf-Long-text" wiid="C293">
        <h1 class="govuk-heading-xl" wiid="C294">How to find job vacancies</h1>
        <nav aria-label="skip to your documents" role="navigation" wiid="C295">
          <div class="govuk-grid-row" wiid="C296">
            <div class="govuk-grid-column-one-half" wiid="C297">
              <ol class="govuk-list govuk-list--number" wiid="C298">
                <li wiid="C299"><a class="govuk-link" href="#job-centre-plus" wiid="C300">Jobcentre Plus</a></li>
                <li wiid="C301"><a class="govuk-link" href="#job-boards" wiid="C302">Job boards</a></li>
                <li wiid="C303"><a class="govuk-link" href="#networking-sites" wiid="C304">Networking sites</a></li>
                <li wiid="C305"><a class="govuk-link" href="#local-authority-bulletins" wiid="C306">Local council bulletins</a></li>
                <li wiid="C307"><a class="govuk-link" href="#recruitment-agencies" wiid="C308">Recruitment agencies</a></li>
                <li wiid="C309"><a class="govuk-link" href="#hidden-job-market" wiid="C310">Hidden job market</a></li>
              </ol>
            </div>
            <div class="govuk-grid-column-one-half" wiid="C311">
              <ol class="govuk-list govuk-list--number" start="7" wiid="C312">
                <li wiid="C313"><a class="govuk-link" href="#national-careers-service" wiid="C314">National Careers Service</a></li>
                <li wiid="C315"><a class="govuk-link" href="#job-fairs" wiid="C316">Job Fairs</a></li>
                <li wiid="C317"><a class="govuk-link" href="#direct-contact" wiid="C318">Direct contact</a></li>
                <li wiid="C319"><a class="govuk-link" href="#industry-magazines-journals" wiid="C320">Industry magazines</a></li>
                <li wiid="C321"><a class="govuk-link" href="#newspapers" wiid="C322">Newspapers</a></li>
              </ol>
            </div>
          </div>
        </nav>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" wiid="C323">
        <section id="find-job-vacancies" wiid="C324">
          <p class="govuk-body-m" wiid="C325">There are lots of ways to look for a new job. We describe some of them here. Choose the ones that suit you best.</p>
        </section>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" wiid="C326">
        <section id="job-centre-plus" wiid="C327">
          <h2 class="govuk-heading-l" wiid="C328">Jobcentre Plus</h2>
          <p class="govuk-body-m" wiid="C329">Most <a href="https://find-your-nearest-jobcentre.dwp.gov.uk/" class="govuk-link" wiid="C330">job centres</a> have computers that you can use to make job searching easier. You can also search online through the government's <a href="https://www.gov.uk/find-a-job" wiid="C331">job vacancy service</a>.
            Job centre advisers can give you information about:</p>
          <ul class="govuk-list govuk-list--bullet" wiid="C332">
            <li wiid="C333">local recruitment events</li>
            <li wiid="C334">government training schemes you may be able to attend</li>
            <li wiid="C335">companies you may be able to contact</li>
          </ul>
          <p class="govuk-body-m" wiid="C336">Staff will also take into account extra needs you might have like&nbsp;<a href="https://www.gov.uk/apply-30-hours-free-tax-free-childcare" class="govuk-link" wiid="C337">childcare support</a> or <a href="https://www.gov.uk/looking-for-work-if-disabled" class="govuk-link" wiid="C338">disability support.</a></p>
        </section>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" wiid="C339">
        <section id="job-boards" wiid="C340">
          <h2 class="govuk-heading-l" wiid="C341">Job boards</h2>
          <p class="govuk-body-m" wiid="C342">Job boards are websites that list job vacancies. Some boards advertise a broad range of jobs. Some only advertise jobs in a specific industry. Most of these websites allow you to apply online, using a digital version of your CV. You can also include
            a digital covering letter to support your application.</p>
          <p class="govuk-body-m" wiid="C343">Many job boards also let you sign up for email alerts that tell you when an organisation publishes a new job vacancy. When you sign up for an alert, you may be able to state what you're looking for, such as:</p>
          <ul class="govuk-list govuk-list--bullet" wiid="C344">
            <li wiid="C345">full-time, part-time or temporary work</li>
            <li wiid="C346">work in a particular location</li>
            <li wiid="C347">jobs that match your skills and experience</li>
          </ul>
        </section>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" wiid="C348">
        <section id="networking-sites" wiid="C349">
          <h2 class="govuk-heading-l" wiid="C350">Networking sites</h2>
          <p class="govuk-body-m" wiid="C351">Networking sites like <a href="http://www.linkedin.com" class="govuk-link" wiid="C352">LinkedIn</a> let you search for advertised job vacancies. You can apply through your LinkedIn profile or upload your CV.</p>
          <p class="govuk-body-m" wiid="C353">Recruitment consultants often use networking sites to find suitable people. Keep your profile updated and make it as appealing as possible to recruiters.</p>
        </section>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" wiid="C354">
        <section id="local-authority-bulletins" wiid="C355">
          <h2 class="govuk-heading-l" wiid="C356">Local council bulletins</h2>
          <p class="govuk-body-m" wiid="C357"><a href="https://www.gov.uk/find-local-council" wiid="C358">Local council</a> online or e-bulletins often include information about companies that are hiring in the area. You can use this information to:</p>
          <ul class="govuk-list govuk-list--bullet" wiid="C359">
            <li wiid="C360">approach an employer with your CV</li>
            <li wiid="C361">look for advertised vacancies</li>
            <li wiid="C362">apply for vacancies online</li>
          </ul>
        </section>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" wiid="C363">
        <section id="recruitment-agencies" wiid="C364">
          <h2 class="govuk-heading-l" wiid="C365">Recruitment agencies</h2>
          <p class="govuk-body-m" wiid="C366">Recruitment agencies help organisations find the right people to fill their vacancies. They can help you to get full-time, part-time and temporary work. Recruitment consultants can match you to job roles.</p>
          <p class="govuk-body-m" wiid="C367">Agencies are useful for connecting you with jobs that are not advertised online or in the press. Some agencies specialise in particular industries, for instance healthcare or engineering. It's worth checking their website first to see what kind of
            jobs they advertise. You can register with more than one agency at a time. This increases your chances of finding a job.</p>
          <p class="govuk-body-m" wiid="C368">When using an agency, you’ll need to:</p>
          <ul class="govuk-list govuk-list--bullet" wiid="C369">
            <li wiid="C370">ask if they deal with vacancies in the type of work you're looking for</li>
            <li wiid="C371">treat an interview with the agency like an interview with an employer</li>
            <li wiid="C372">keep in regular contact with the agency and let them know when you're available</li>
            <li wiid="C373">ask for feedback if you're not placed in a job</li>
            <li wiid="C374">be open to temporary work, as this often leads to permanent positions</li>
            <li wiid="C375">let the agency know about any specialist skills you have, for instance touch typing, languages or computer coding</li>
          </ul>
          <p class="govuk-body-m" wiid="C376">Use sites like <a href="https://www.agencycentral.co.uk/" class="govuk-link" wiid="C377">Agency Central</a> to search for recruitment agencies in your local area.</p>
        </section>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" wiid="C378">
        <section id="hidden-job-market" wiid="C379">
          <h2 class="govuk-heading-l" wiid="C380">Hidden job market</h2>
          <p class="govuk-body-m" wiid="C381">The hidden job market is the jobs that are not advertised. In some industries, this can be as high as 70% to 85% of all vacancies. Our <a href="https://nationalcareers.service.gov.uk/get-a-job/networking" class="govuk-link" wiid="C382">networking</a> page has
            advice on how to find jobs like this.</p>
          <p class="govuk-body-m" wiid="C383">You can also use social media to look for hidden work. For example, do you know someone in an online community able to direct you towards a job opportunity not yet advertised?</p>
        </section>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" wiid="C384">
        <section id="national-careers-service" wiid="C385">
          <h2 class="govuk-heading-l" wiid="C386">National Careers Service</h2>
          <p class="govuk-body-m" wiid="C387">The staff at the National Careers Service offer careers advice and guidance. You can contact them by <a href="https://nationalcareers.service.gov.uk/contact-us" class="govuk-link" wiid="C388">phone</a> or <a href="https://nationalcareers.service.gov.uk/webchat/chat" class="govuk-link" wiid="C389">webchat</a>. You can also make an appointment to see an adviser face to
            face. </p>
          <p class="govuk-body-m" wiid="C390">Advisers have information about which employers are recruiting in your area. They can also tell you about job vacancies, training schemes and apprenticeships.</p>
        </section>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" wiid="C391">
        <section id="job-fairs" wiid="C392">
          <h2 class="govuk-heading-l" wiid="C393">Job fairs</h2>
          <p class="govuk-body-m" wiid="C394">Job fairs are events where recruiters come to meet potential employees. You can find information about job fairs through:</p>
          <ul class="govuk-list govuk-list--bullet" wiid="C395">
            <li wiid="C396">school</li>
            <li wiid="C397">college</li>
            <li wiid="C398">university</li>
            <li wiid="C399">careers service</li>
            <li wiid="C400">job centre</li>
            <li wiid="C401">training organisations</li>
            <li wiid="C402">charities</li>
          </ul>
        </section>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" wiid="C403">
        <section id="direct-contact" wiid="C404">
          <h2 class="govuk-heading-l" wiid="C405">Direct contact with employers</h2>
          <p class="govuk-body-m" wiid="C406">Approaching employers in person can be very effective. You can contact them by email, phone or visit in person. This gives you the opportunity to make a good impression.</p>
          <p class="govuk-body-m" wiid="C407">If you are going to visit, first make an appointment to speak with the most appropriate person. This may be a supervisor, manager or human resources (HR) officer.</p>
          <p class="govuk-body-m" wiid="C408">Ask the person about potential job opportunities and training schemes. They may also ask you questions, so have some answers prepared and be ready to hand in your CV if they ask for one.</p>
          <p class="govuk-body-m" wiid="C409">You may find that the person you need to speak to is not available or they may even reject your approach. This can be difficult to handle but try not to take it personally, as it may be that they’re simply too busy to see you at that time. You
            can always try again later.</p>
        </section>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" wiid="C410">
        <section id="industry-magazines-journals" wiid="C411">
          <h2 class="govuk-heading-l" wiid="C412">Industry magazines and journals</h2>
          <p class="govuk-body-m" wiid="C413">You can find advertised jobs in industry journals or trade magazines for your area of work. With these publications you'll often find:</p>
          <ul class="govuk-list govuk-list--bullet" wiid="C414">
            <li wiid="C415">subscription is free if you're already in the industry</li>
            <li wiid="C416">larger newsagents and libraries stock them</li>
            <li wiid="C417">they include news on companies that are expanding and what skills they need</li>
          </ul>
          <p class="govuk-body-m" wiid="C418">Industry publications are not restricted to magazines and journals. Many organisations have industry-specific websites. You can use these to find and apply for vacancies.</p>
        </section>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" wiid="C419">
        <section id="newspapers" wiid="C420">
          <h2 class="govuk-heading-l" wiid="C421">Newspapers</h2>
          <p class="govuk-body-m" wiid="C422">Newspapers advertise local and national jobs. Your newsagent can tell you which newspapers are available in your area. You can also find a selection of newspapers at your local library.</p>
        </section>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="gem-c-image-card colour-selector section--brand-grey govuk-!-padding-3">
        <figure class="gem-c-image-card__image-wrapper"> <img class="gem-c-image-card__image" alt="" src="/public/images/register-with-us.png"> </figure>
        <div class="gem-c-image-card__text-wrapper  govuk-!-padding-2">
          <h2 class="govuk-heading-s brand--national-careers-service"><a href="#" class="brand__color">Register with us</a></h2>
          <p class="govuk-body-s"> Create an account to receive email updates, save your skills assessment results, and bookmark jobs and courses of interest. </p>
        </div>
      </div>
      <div class="gem-c-image-card colour-selector section--brand-grey govuk-!-padding-3">
        <div class="gem-c-image-card__text-wrapper  govuk-!-padding-2">
          <h2 class="govuk-heading-s brand--national-careers-service"><a href="#" class="brand__color">Disability support</a></h2>
          <p class="govuk-body-s"> If you have a disability, we recommend that you get in touch with one of our advisers to ensure you receive the best possible support. </p>
        </div>
      </div>
      <div class="gem-c-image-card colour-selector section--brand-grey govuk-!-padding-3">
        <figure class="gem-c-image-card__image-wrapper"> <img class="gem-c-image-card__image" alt="" src="/public/images/contact-us.png"> </figure>
        <div class="gem-c-image-card__text-wrapper govuk-!-padding-2 ">
          <h2 class="govuk-heading-s brand--national-careers-service"><a href="#" class="brand__color">Contact us</a></h2>
          <p class="govuk-body-s">Wherever you are in your decision-making, you can call <strong>0800 100 900</strong> or use <a href="#" class="govuk-link">webchat</a>. You can also contact us in <a href="#" class="govuk-link">other ways</a>. </p>
        </div>
      </div>
      <div class="gem-c-image-card colour-selector govuk-!-padding-3">
        <h2 class="govuk-heading-m">Tell us how we have done</h2>
        <p class="govuk-body-s brand--national-careers-service">We are always looking for ways to improve our service.
          Complete our <a target="_blank" class="govuk-link brand__color" href="https://surveys.ipsosinteractive.com/mrIWeb/mrIWeb.dll?I.Project=S1039833&amp;id=&amp;cf=ovl ">Ipsos MORI survey</a> to give us your feedback about the service - it should only take a few minutes and your answers will be completely anonymous.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %} 