{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}


{% block content %}

<section class="brand--national-careers-service organisation__section-wrap organisation__margin-bottom" id="featured-documents">
	<div class="govuk-width-container govuk-!-margin-bottom-3 govuk-!-margin-top-3">
		<div class="govuk-grid-row">
	  		<div class="govuk-grid-column-two-thirds">
		  		<iframe width="630" height="315" title="What National Careers Service do" src="https://www.youtube.com/embed/BN4rdE2HXaw?controls=0;autoplay=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			  <track src="captions_en.vtt" kind="captions" srclang="en" label="english_captions">
		  	</div>

			<div class="govuk-grid-column-one-third">
				<div class="section-featured">
					<h2 class="govuk-heading-s govuk-!-margin-bottom-2">Featured pages</h2>
					<ol class="app-c-topic-list app-c-topic-list--small brand--national-careers-service ">
					  <li class="app-c-topic-list__item">
						<a class="govuk-link app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="#">Job profiles</a>
					  </li>
					  <li class="app-c-topic-list__item">
						<a class="govuk-link app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="#">Personal skills assessment</a>
					  </li>
					  <li class="app-c-topic-list__item">
						<a class="govuk-link app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="#">Find a course</a>
					  </li>
					  <li class="app-c-topic-list__item">
						<a class="govuk-link app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="#">The Skills Toolkit</a>
					  </li>
					  <li class="app-c-topic-list__item">
						<a class="govuk-link app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="#">Improve your CV</a>
					  </li>
					  <li class="app-c-topic-list__item">
						<a class="govuk-link app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="#">Interview skills</a>
					  </li>
					  <li class="app-c-topic-list__item">
						<a class="govuk-link app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="#">World Skills UK</a>
					  </li>
				  </ol>
				</div>
			</div>
		</div>
   </div>
</section>
<section class="brand--national-careers-service brand__border-color organisation__section-wrap organisation__margin-bottom ncs-masthead-container colour-selector section--brand-grey" id="what-you-need-support">
	<div class="govuk-width-container govuk-!-padding-top-4 govuk-!-padding-bottom-4 brand__border-color organisation__brand-border-top">
		<div class="govuk-grid-row">
			<h2 class="govuk-heading-m">Tell us whats you need support with</h2>
			<p class="govuk-body-s">To provide you with best careers advice and information, we need to know a bit more about your current situation and what you would like support with. Please select from the options below.</p>
		</div>

		<div class="govuk-grid-row">
			<div class="govuk-grid-row organisation__margin-top">
				<div class="govuk-grid-column-full-width ncs-masthead align-center">
					<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
						<span class="govuk-body-m">I am aged&nbsp; </span>
						<select class="govuk-select" id="age" name="support-need" aria-label="I am aged options">
							<option value="" selected></option>
							<option value="published">Under 16</option>
							<option value="updated">17-18</option>
							<option value="views">19-24</option>
							<option value="comments">25-34</option>
							<option value="comments">35+</option>
						</select>
						<span class="govuk-body-m">  &nbsp;&nbsp; and currently  &nbsp; </span>
						<select class="govuk-select" id="work-status" name="support-need" aria-label="I am currently options">
							<option value="" selected></option>
							<option value="published">Employed</option>
							<option value="updated">Unemployed</option>
							<option value="views">In education</option>
							<option value="comments">Furloughed</option>
							<option value="comments">Facing redundancy</option>
						</select>
						<br/><span class="govuk-body-m">I am looking for 
							<select class="govuk-select" id="my-need" name="support-need" aria-label="I am looking for options">
								<option value="" selected></option>
								<option value="published">Advice on career pathways</option>
								<option value="updated">Advice on getting a job</option>
								<option value="views">Advice on job applications (e.g. CVs)</option>
								<option value="comments">Courses and qualifications</option>
								<option value="comments">Apprenticeships and traineeships</option>
								<option value="updated">Funding options</option>
								<option value="updated">Work experience</option>
							</select>
						</span>
						<input class="govuk-button button-white" type="submit" value="Submit">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="brand--national-careers-service brand__border-color organisation__section-wrap organisation__margin-bottom section-stay-update " id="stay-up-to-date">
    <div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-5 govuk-!-margin-top-5">
	  <div class="govuk-grid-column-one-half  govuk-!-padding-left-0">
		  <h2 class="govuk-heading-m">Stay up to date with the National Careers Service</h2>
		  <div class="govuk-grid-column-full-width overflow-hidden">
			  <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
				<div class="gem-c-image-card colour-selector section--brand-grey">
					<figure class="gem-c-image-card__image-wrapper">
						<img class="gem-c-image-card__image" alt="" src="/public/images/register-with-us.png">
					</figure>
					<div class="gem-c-image-card__text-wrapper  govuk-!-padding-2">
						<h2 class="govuk-heading-s brand--national-careers-service"><a href="#" class="brand__color">Register with us</a></h2>
						<p class="govuk-body-s"> 
						  Create an account to receive email updates, save your skills assessment results, and bookmark jobs and courses of interest
						</p>
					</div>
				</div>
			  </div>
			  <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
				<div class="gem-c-image-card colour-selector section--brand-grey">
					<figure class="gem-c-image-card__image-wrapper">
						<img class="gem-c-image-card__image" alt="" src="/public/images/contact-us.png">
					</figure>
					<div class="gem-c-image-card__text-wrapper govuk-!-padding-2 ">
						<h2 class="govuk-heading-s brand--national-careers-service"><a href="#" class="brand__color">Contact us</a></h2>
						<p class="govuk-body-s"> 
							Call 0800 100 900 or use webchat. You can also
							contact us in other ways,including sending us an
							online message or post.
						</p>
					</div>
				</div>
			  </div>
			</div>
		  	<div class="govuk-grid-column-full-width govuk-!-padding-2">
				<h2 class="govuk-heading-s brand--national-careers-service"><a href="#" class="brand__color">Hear from others like you</a>
				<p class="govuk-body-s user-quote"> 
					<span>"</span>I wasn’t sure where to start when considering a change in career.
					Using some of support on the National Careers Service website
					helped me to understand what my options are and how I can get
					into the career I’m interested in.<span>"</span>
				</p>
		  	</div>
		</div>
		
		
		<div class="govuk-grid-column-one-half">
			<h2 class="govuk-heading-m">Access careers support near you</h2>
			<p class="govuk-body govuk-!-font-size-16"> Select your region</p>
			<div class="gem-c-image-card">
				<figure class="gem-c-image-card__image-wrapper">
					<img class="gem-c-image-card__image" alt="" src="/public/images/select-region.png">
				</figure>
			</div>
		</div>
	</div>
</section>
  
<section class="brand--national-careers-service organisation__section-wrap organisation__margin-bottom colour-selector section--brand-grey" id="how-we-have-done-documents">
    <div class="govuk-grid-row govuk-width-container brand__border-color organisation__brand-border-top">
		  <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
			<h2 class="govuk-heading-m">Tell us how we have done</h2>
			 <p class="govuk-body-s brand--national-careers-service">We are always looking for ways to improve our service.
			Complete our <a target="_blank" class="govuk-link brand__color" href="https://surveys.ipsosinteractive.com/mrIWeb/mrIWeb.dll?I.Project=S1039833&amp;id=&amp;cf=ovl ">Ipsos MORI survey</a> to give us your feedback about the service - it should only take a few minutes and your answers will be completely anonymous.</p>
        </div>
		<div class="govuk-grid-column-one-half">
			<h2 class="govuk-heading-m">Find careers services for other parts of the UK</h2>
			<p class="govuk-body-s">The National Careers Service offers advice about careers and skills in England. For careers advice in other parts of the UK visit:</p>
			<ul class="govuk-list govuk-list--bullet govuk-body-s">
				<li class="brand--national-careers-service"><a href="https://www.myworldofwork.co.uk/" class="brand__color">Skills Development Scotland - My World of Work</a></li>
				<li class="brand--national-careers-service"><a href="https://www.careerswales.com/en/" class="brand__color">Careers Wales</a></li>
				<li class="brand--national-careers-service"><a href="https://www.nidirect.gov.uk/campaigns/careers" class="brand__color">Careers Service Northern Ireland</a></li>
			</ul>
		</div>
      </div>
</section>
{% endblock %}
