{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

 {% block pageScripts %} 
<script src="/public/javascripts/step-by-step-nav.js"></script> 
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
  stepByStepNavigation.start($element)
</script> 
{% endblock %}

 {% block content %}
<section class="brand--national-careers-service organisation__section-wrap organisation__margin-bottom " id="main-content">
<div class="govuk-width-container govuk-!-margin-bottom-3 govuk-!-margin-top-3">
  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"> Your next steps </h1>
      <p> If you would like to change career but are unsure where to start, we
        recommend taking the following steps. If you already have a career in
        mind, see our advice on finding job vacancies. </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
        <ol class="app-step-nav__steps">
          <li class="app-step-nav__step js-step" id="check-youre-allowed-to-drive" >
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
              <h2 class="app-step-nav__title"> <span class="app-step-nav__circle app-step-nav__circle--number"> <span class="app-step-nav__circle-inner"> <span class="app-step-nav__circle-background"> <span class="govuk-visually-hidden">Step</span> 1 </span> </span> </span> <span class="js-step-title"> Take a skills assessment </span> </h2>
              <p> Take a skills assessment to think about the type of work you want
                to do. It takes 5 to 10 minutes. At the end, you’ll get a summary
                of job groups that might interest you based on your answers. </p>
            </div>
            <div class="app-step-nav__panel js-panel govuk-table__cell--numeric" id="step-panel-check-youre-allowed-to-drive-1"> <a class="govuk-link govuk-button govuk-!-margin-bottom-1" href="#" wiid="C300">Start assessment</a> </div>
          </li>
          <li class="app-step-nav__step js-step" id="get-a-provisional-licence" >
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h2 class="app-step-nav__title"> <span class="app-step-nav__circle app-step-nav__circle--number"> <span class="app-step-nav__circle-inner"> <span class="app-step-nav__circle-background"> <span class="govuk-visually-hidden">Step</span> 2 </span> </span> </span> <span class="js-step-title"> Job profiles </span> </h2>
              <p>Use our job profiles to find out what experience or qualifications
                you need to enter the careers you are interested in.</p>
            </div>
            <div class="app-step-nav__panel js-panel  govuk-table__cell--numeric" id="step-panel-get-a-provisional-licence-2">
              <input class="govuk-input govuk-!-width-three-quarters" id="event-name" name="event-name" type="text">
              <a class="govuk-link govuk-button govuk-!-margin-bottom-1" href="#" wiid="C300">Search</a> </div>
          </li>
          <li class="app-step-nav__step js-step" id="driving-lessons-and-practice" >
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h2 class="app-step-nav__title"> <span class="app-step-nav__circle app-step-nav__circle--number"> <span class="app-step-nav__circle-inner"> <span class="app-step-nav__circle-background"> <span class="govuk-visually-hidden">Step</span> 3 </span> </span> </span> <span class="js-step-title"> Labour market trends in your local area </span> </h2>
              <p>Take a look at the labour market trends in your local area to
                understand the demand for the careers you are interested in.</p>
            </div>
            <div class="app-step-nav__panel js-panel  govuk-table__cell--numeric" id="step-panel-driving-lessons-and-practice-3">
              <input class="govuk-input govuk-!-width-three-quarters" id="event-name" name="event-name" type="text">
              <a class="govuk-link govuk-button govuk-!-margin-bottom-1" href="#" wiid="C300">Search</a> </div>
          </li>
          <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test" >
            <div class="app-step-nav__header js-toggle-panel" data-position="5">
              <h2 class="app-step-nav__title"> <span class="app-step-nav__circle app-step-nav__circle--number"> <span class="app-step-nav__circle-inner"> <span class="app-step-nav__circle-background"> <span class="govuk-visually-hidden">Step</span> 4 </span> </span> </span> <span class="js-step-title"> Speak to a careers adviser </span> </h2>
              <p>Speak to one of our careers advisers to discuss your options for
                entering your chosen career(s).</p>
            </div>
            <div class="app-step-nav__panel js-panel  govuk-table__cell--numeric" id="step-panel-book-and-manage-your-theory-test-5"> <a class="govuk-link govuk-button govuk-!-margin-bottom-1" href="#" wiid="C300">Start webchat</a> </div>
          </li>
          <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test" >
            <div class="app-step-nav__header js-toggle-panel" data-position="6">
              <h2 class="app-step-nav__title"> <span class="app-step-nav__circle app-step-nav__circle--number"> <span class="app-step-nav__circle-inner"> <span class="app-step-nav__circle-background"> <span class="govuk-visually-hidden">Step</span> 5 </span> </span> </span> <span class="js-step-title"> Find a job advice </span> </h2>
              <p>Once you are ready to search for a job and apply, see our <a class="govuk-link brand__color" href="#/" wiid="C300">advice
                on finding job vacancies.</p>
            </div>
            <div class="app-step-nav__panel js-panel  govuk-table__cell--numeric" id="step-panel-book-and-manage-your-driving-test-6"> <a class="govuk-link govuk-button govuk-!-margin-bottom-1" href="get-a-job" wiid="C300">Find a job advice</a> </div>
          </li>
        </ol>
      </div>
		
		
		
		
		<div class="gem-c-image-card colour-selector section--brand-grey govuk-grid-column-one-third">
        <div class="gem-c-image-card__text-wrapper  govuk-!-padding-2">
          <h2 class="govuk-heading-s  govuk-!-margin-bottom-0"><a href="#" class="brand__color">Find a job by
networking</a></h2>
        </div>
      </div>
      <div class="gem-c-image-card  govuk-grid-column-one-third">

        <div class="gem-c-image-card__text-wrapper  govuk-!-padding-2">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-0"><a href="#" class="brand__color">Improve your CV
before applying</a></h2>

        </div>
      </div>
      <div class="gem-c-image-card colour-selector section--brand-grey govuk-grid-column-one-third">
        <div class="gem-c-image-card__text-wrapper govuk-!-padding-2 ">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-0"><a href="#" class="brand__color">Personal skills
assessment</a></h2>
          
        </div>
      </div>
		
		<section class="brand--national-careers-service organisation__section-wrap" id="how-we-have-done-documents">
  <div class="govuk-grid-column-full-width govuk-!-padding-2">
				
				<h2 class="govuk-heading-s brand--national-careers-service"><a href="#" class="brand__color">Hear from others like you</a></h2>
				<p class="govuk-body-s user-quote"> 
					<span>"</span>I wasn’t sure where to start when considering a change in career.
					Using some of support on the National Careers Service website
					helped me to understand what my options are and how I can get
					into the career I’m interested in.<span>"</span>
				</p>
		  	</div></section>
		
		
		
		
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="gem-c-image-card colour-selector section--brand-grey">
        <figure class="gem-c-image-card__image-wrapper"> <img class="gem-c-image-card__image" alt="" src="/public/images/register-with-us.png"> </figure>
        <div class="gem-c-image-card__text-wrapper  govuk-!-padding-2">
          <h2 class="govuk-heading-s brand--national-careers-service"><a href="#" class="brand__color">Register with us</a></h2>
          <p class="govuk-body-s"> Create an account to receive email updates, save your skills assessment results, and bookmark jobs and courses of interest. </p>
        </div>
      </div>
      <div class="gem-c-image-card colour-selector section--brand-grey">
        <figure class="gem-c-image-card__image-wrapper"> <img class="gem-c-image-card__image" alt="" src="/public/images/register-with-us.png"> </figure>
        <div class="gem-c-image-card__text-wrapper  govuk-!-padding-2">
          <h2 class="govuk-heading-s brand--national-careers-service"><a href="#" class="brand__color">Disability support</a></h2>
          <p class="govuk-body-s"> If you have a disability, we recommend that you get in touch with one of our advisers to ensure you receive the best possible support. </p>
        </div>
      </div>
      <div class="gem-c-image-card colour-selector section--brand-grey">
        <figure class="gem-c-image-card__image-wrapper"> <img class="gem-c-image-card__image" alt="" src="/public/images/contact-us.png"> </figure>
        <div class="gem-c-image-card__text-wrapper govuk-!-padding-2 ">
          <h2 class="govuk-heading-s brand--national-careers-service"><a href="#" class="brand__color">Contact us</a></h2>
          <p class="govuk-body-s">Wherever you are in your decision-making, you can call <strong>0800 100 900</strong> or use <a href="#" class="govuk-link">webchat</a>. You can also contact us in <a href="#" class="govuk-link">other ways</a>. </p>
        </div>
      </div>
      <div class="gem-c-image-card colour-selector ">
        <h2 class="govuk-heading-m">Tell us how we have done</h2>
        <p class="govuk-body-s brand--national-careers-service">We are always looking for ways to improve our service.
          Complete our <a target="_blank" class="govuk-link brand__color" href="https://surveys.ipsosinteractive.com/mrIWeb/mrIWeb.dll?I.Project=S1039833&amp;id=&amp;cf=ovl ">Ipsos MORI survey</a> to give us your feedback about the service - it should only take a few minutes and your answers will be completely anonymous.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %} 