{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

 {% block pageScripts %} 
<script src="/public/javascripts/step-by-step-nav.js"></script> 
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
  stepByStepNavigation.start($element)
</script> 
{% endblock %}

 {% block content %}
<div class="govuk-width-container" wiid="C279">
  <div class="content-container" wiid="C280">
    <div class="breadcrumbs govuk-breadcrumbs" wiid="C281">
      <ol class="govuk-breadcrumbs__list" wiid="C282">
        <li class="govuk-breadcrumbs__list-item" wiid="C283"><a class="govuk-breadcrumbs__link" href="../" wiid="C284">Home</a></li>
        <li class="govuk-breadcrumbs__list-item" wiid="C287">Your next steps </li>
      </ol>
    </div>
  </div>
</div>
<section class="brand--national-careers-service organisation__section-wrap organisation__margin-bottom colour-selector section--brand-grey  govuk-!-padding-3" id="">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l"> Your next steps </h1>
        <p> If you’re thinking about a change of career and you’re unsure where to start you could: </p>
      </div>
    </div>
  </div>
</section>
<section class="brand--national-careers-service organisation__section-wrap organisation__margin-bottom" id="main-content">
  <div class="govuk-width-container govuk-!-margin-bottom-3 govuk-!-margin-top-3">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Hide all" data-hide-all-text="Show all">
          <ol class="app-step-nav__steps">
            <li class="app-step-nav__step js-step" id="check-youre-allowed-to-drive" >
              <div class="app-step-nav__header js-toggle-panel" data-position="1">
                <h2 class="app-step-nav__title"> <span class="app-step-nav__circle app-step-nav__circle--number"> <span class="app-step-nav__circle-inner"> <span class="app-step-nav__circle-background"> <span class="govuk-visually-hidden">Step</span> 1 </span> </span> </span> <span class="js-step-title"> Skills assessment </span> </h2>
                <p> Do a short, 5 – 10 minute skills assessment to check out what kinds of jobs might suit you </p>
              </div>
              <div class="app-step-nav__panel js-panel govuk-table__cell--numeric" id="step-panel-check-youre-allowed-to-drive-1"> <a class="govuk-link govuk-button govuk-!-margin-bottom-1" href="#" wiid="C300">Start assessment</a> </div>
            </li>
            <li class="app-step-nav__step js-step" id="get-a-provisional-licence" >
              <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h2 class="app-step-nav__title"> <span class="app-step-nav__circle app-step-nav__circle--number"> <span class="app-step-nav__circle-inner"> <span class="app-step-nav__circle-background"> <span class="govuk-visually-hidden">Step</span> 2 </span> </span> </span> <span class="js-step-title"> Job profiles </span> </h2>
                <p>Use our job profiles to learn what’s involved and what you need to get into careers that interest you.</p>
              </div>
              <div class="app-step-nav__panel js-panel  govuk-table__cell--numeric" id="step-panel-get-a-provisional-licence-2">
                <input class="govuk-input govuk-!-width-three-quarters" id="event-name" name="event-name" type="text">
                <a class="govuk-link govuk-button govuk-!-margin-bottom-1" href="#" wiid="C300">Search</a> </div>
            </li>
            <li class="app-step-nav__step js-step" id="driving-lessons-and-practice" >
              <div class="app-step-nav__header js-toggle-panel" data-position="3">
                <h2 class="app-step-nav__title"> <span class="app-step-nav__circle app-step-nav__circle--number"> <span class="app-step-nav__circle-inner"> <span class="app-step-nav__circle-background"> <span class="govuk-visually-hidden">Step</span> 3 </span> </span> </span> <span class="js-step-title"> Job market trends in your area </span> </h2>
                <p>Find out which jobs are likely to be easiest or hardest to find in your area and what types of careers and industries are growing.</p>
              </div>
              <div class="app-step-nav__panel js-panel  govuk-table__cell--numeric" id="step-panel-driving-lessons-and-practice-3">
                <input class="govuk-input govuk-!-width-three-quarters" id="job-market-trends" name="event-name" type="text">
                <a class="govuk-link govuk-button govuk-!-margin-bottom-1" href="#" wiid="C300">Search</a> </div>
            </li>
            <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test" >
              <div class="app-step-nav__header js-toggle-panel" data-position="5">
                <h2 class="app-step-nav__title"> <span class="app-step-nav__circle app-step-nav__circle--number"> <span class="app-step-nav__circle-inner"> <span class="app-step-nav__circle-background"> <span class="govuk-visually-hidden">Step</span> 4 </span> </span> </span> <span class="js-step-title"> Speak to an adviser </span> </h2>
                <p>Speak to an adviser online about your options and get help to plan your steps.</p>
              </div>
              <div class="app-step-nav__panel js-panel  govuk-table__cell--numeric" id="step-panel-book-and-manage-your-theory-test-5"> <a class="govuk-link govuk-button govuk-!-margin-bottom-1" href="#" wiid="C300">Start webchat</a> </div>
            </li>
            <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test" >
              <div class="app-step-nav__header js-toggle-panel" data-position="6">
                <h2 class="app-step-nav__title"> <span class="app-step-nav__circle app-step-nav__circle--number"> <span class="app-step-nav__circle-inner"> <span class="app-step-nav__circle-background"> <span class="govuk-visually-hidden">Step</span> 5 </span> </span> </span> <span class="js-step-title"> Job advice </span> </h2>
                <p>See our advice on how to find job vacancies in your chosen career.</p>
              </div>
              <div class="app-step-nav__panel js-panel  govuk-table__cell--numeric" id="step-panel-book-and-manage-your-driving-test-6"> <a class="govuk-link govuk-button govuk-!-margin-bottom-1" href="advertised-job-vacancies" wiid="C300">Find a job advice</a> </div>
            </li>
          </ol>
        </div>
		  
        <div class="govuk-grid-column-full-width">
			<h2 class="govuk-heading-m"> People who viewed this also looked at </h2>
			<div class="gem-c-image-card colour-selector section--brand-grey govuk-grid-column-one-third">
			  <div class="gem-c-image-card__text-wrapper  govuk-!-padding-3">
				<h2 class="govuk-heading-s  govuk-!-margin-bottom-0"><a href="#" class="brand__color">Find a job by
				  networking</a></h2>
			  </div>
			</div>
			<div class="gem-c-image-card  colour-selector section--brand-grey govuk-grid-column-one-third">
			  <div class="gem-c-image-card__text-wrapper  govuk-!-padding-3">
				<h2 class="govuk-heading-s govuk-!-margin-bottom-0"><a href="#" class="brand__color">Improve your CV
				  before applying</a></h2>
			  </div>
			</div>
			<div class="gem-c-image-card colour-selector section--brand-grey govuk-grid-column-one-third">
			  <div class="gem-c-image-card__text-wrapper govuk-!-padding-3 ">
				<h2 class="govuk-heading-s govuk-!-margin-bottom-0"><a href="#" class="brand__color">Personal skills
				  assessment</a></h2>
			  </div>
			</div>
		</div>
        <section class="brand--national-careers-service organisation__section-wrap" id="how-we-have-done-documents">
          <div class="govuk-grid-column-full-width govuk-!-padding-2">
            <p class="govuk-body-s user-quote"> <span class="user-quote-icon"> <img src="/public/images/icons/quote-l.png" width="41" height="37" alt=""/> </span> <span class="govuk-body-s user-quote-text">I wasn’t sure where to start when considering a change in career.
              Using some of support on the National Careers Service website
              helped me to understand what my options are and how I can get
              into the career I’m interested in.</span> <span class="user-quote-icon-right"> <img src="/public/images/icons/quote-r.png" width="41" height="37" alt=""/> </span> </p>
          </div>
        </section>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="gem-c-image-card colour-selector section--brand-grey govuk-!-padding-3">
          <figure class="gem-c-image-card__image-wrapper"> <img class="gem-c-image-card__image" alt="Register with us" src="/public/images/register-with-us.png"> </figure>
          <div class="gem-c-image-card__text-wrapper govuk-!-margin-top-3" wiid="C440"> <span class="gem-c-image-card__title"> <a class="gem-c-image-card__title-link brand__color" href="#" wiid="C442">Register with us</a> </span>
            <p class="govuk-body-s  govuk-!-margin-top-2 govuk-!-margin-bottom-1"> Create an account to receive email updates, save your skills assessment results, and bookmark jobs and courses of interest. </p>
          </div>
        </div>
        <div class="gem-c-image-card colour-selector section--brand-grey govuk-!-padding-3"> 
          
          <figure class="gem-c-image-card__image-wrapper"> <img class="gem-c-image-card__image" alt="" src="/public/images/users-with-disability.png"> </figure>
          
			<div class="gem-c-image-card__text-wrapper govuk-!-margin-top-3"> <span class="gem-c-image-card__title" wiid="C441"> <a class="gem-c-image-card__title-link brand__color" href="#">Users with a disability</a> </span>
              <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-1">If you have a disability, we recommend that you get in touch with one of our advisers to ensure you receive the best possible support.</p>
            </div>
        </div>
        <div class="gem-c-image-card colour-selector section--brand-grey govuk-!-padding-3">
          <div class="gem-c-image-card govuk-!-margin-bottom-1">
            <figure class="gem-c-image-card__image-wrapper"> <img class="gem-c-image-card__image" alt="Register with us" src="/public/images/contact-us.png"> </figure>
            <div class="gem-c-image-card__text-wrapper govuk-!-margin-top-3"> <span class="gem-c-image-card__title" wiid="C441"> <a class="gem-c-image-card__title-link brand__color" href="#">Contact us</a> </span>
              <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-1">Call <strong>0800 100 900</strong> or use <a href="#" class="govuk-link">webchat</a>. You can also
                contact us in other ways,including sending us an online message or post. </p>
            </div>
          </div>
        </div>
		  <div class="gem-c-image-card colour-selector  section--brand-grey govuk-!-padding-3">
        <h2 class="govuk-heading-s">Tell us how we have done</h2>
        <p class="govuk-body-s brand--national-careers-service">We are always looking for ways to improve our service.
          Complete our <a target="_blank" class="govuk-link brand__color" href="https://surveys.ipsosinteractive.com/mrIWeb/mrIWeb.dll?I.Project=S1039833&amp;id=&amp;cf=ovl ">Ipsos MORI survey</a> to give us your feedback about the service - it should only take a few minutes and your answers will be completely anonymous.</p>
      </div>
      </div>
      
    </div>
  </div>

</section>
{% endblock %} 