<div id="primary-nav-v3">
  <div class="govuk-width-container primary-nav print--hide">
    <nav>
      <ul class="nav--controls">
        <li class="nav--controls__item"> <a href="#" id="menu-toggle" aria-controls="nav-primary" class="nav--controls__menu ">
          <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
          </a> </li>
      </ul>
      <div class="wrapper nav-main--hidden" id="nav-primary" aria-expanded="false">
        <ul class="primary-nav__list">
          <li class="primary-nav__item js-nav hide--sm old-ie--display-block govuk-header__navigation-item"> <a class="primary-nav__link col col--md-7 col--lg-9" href="../V3">Home</a></li>
          <li class="primary-nav__item js-nav hide--sm old-ie--display-block govuk-header__navigation-item"> <a class="primary-nav__link col col--md-7 col--lg-9" href="#">Advice for you</a>
            <ul class="primary-nav__child-list col col--md-16 col--lg-20 js-expandable__content js-nav-hidden jsEnhance" aria-expanded="false" aria-label="submenu">
              <li class="primary-nav__child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="#">Job profiles</a> </li>
              <li class="primary-nav__child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="#">Find a course</a> </li>
              <li class="primary-nav__child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="#">The Skills Toolkit</a> </li>
              <li class="primary-nav__child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="../V3/advertised-job-vacancies-2">Finding job vacancies</a> </li>
              <li class="primary-nav__child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="#">Activity skills assessment</a> </li>
              <li class="primary-nav__child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="#">Personal skills assessment</a> </li>
              <li class="primary-nav__child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="#">Improve your CV</a> </li>
              <li class="primary-nav__child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="../V3/local_area">Regional information</a> </li>
              <li class="primary-nav__child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="#">Contact us</a> </li>
            </ul>
          </li>
          <li class="primary-nav__item js-nav hide--sm old-ie--display-block govuk-header__navigation-item"> <a class="primary-nav__link col col--md-8 col--lg-10 " href="#" aria-haspopup="true">Advice for supporting others</a>
            <ul class="primary-nav__child-list col col--md-16 col--lg-20 js-expandable__content js-nav-hidden jsEnhance primary-nav__sub-child-on" aria-expanded="false" aria-label="submenu">
              <li class="primary-nav__child-item  js-expandable__child govuk-header__navigation-item "> <a class="primary-nav__child-link govuk-!-font-weight-bold" tabindex="-1" href="#">Schools</a>
				  <ul class="primary-nav__sub-child-list col col--md-16 col--lg-20 js-expandable__content js-nav-hidden jsEnhance" aria-expanded="false" aria-label="submenu">
                  <li class="primary-nav__sub-child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="#">Classroom resources</a> </li>
                  <li class="primary-nav__sub-child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="#">Parent resources</a> </li>
                  <li class="primary-nav__sub-child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="#">World Skills UK</a> </li>
                  <li class="primary-nav__sub-child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="#">Gatsby benchmarks</a> </li>
                </ul>
              </li>
              <li class="primary-nav__child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link govuk-!-font-weight-bold" tabindex="-1" href="#">Careers advisers</a>
                <ul class="primary-nav__sub-child-list col col--md-16 col--lg-20 js-expandable__content js-nav-hidden jsEnhance" aria-expanded="false" aria-label="submenu">
                  <li class="primary-nav__sub-child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="#">Coach</a> </li>
                  <li class="primary-nav__sub-child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="#">Action plans</a> </li>
                  <li class="primary-nav__sub-child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="#">Recent changes</a> </li>
                </ul>
              </li>
              <li class="primary-nav__child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link govuk-!-font-weight-bold" tabindex="-1" href="#">Employers</a>
                <ul class="primary-nav__sub-child-list col col--md-16 col--lg-20 js-expandable__content js-nav-hidden jsEnhance" aria-expanded="false" aria-label="submenu">
                  <li class="primary-nav__sub-child-item  js-expandable__child govuk-header__navigation-item"> <a class="primary-nav__child-link" tabindex="-1" href="#">Work with us</a> </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="primary-nav__item js-nav hide--sm old-ie--display-block govuk-header__navigation-item"> <a class="primary-nav__link col col--md-7 col--lg-9" href="../V3/about-us">About us</a></li>

        </ul>
      </div>
    </nav>
  </div>
</div>
