<div class="gem-c-image-card ncs-block-link">
<figure class="gem-c-image-card__image-wrapper"> <img class="gem-c-image-card__image" alt="Register with us" src="/public/images/register-with-us.png"> </figure>
          <div class="gem-c-image-card__text-wrapper" wiid="C440"> <span class="gem-c-image-card__title"> <a class="gem-c-image-card__title-link brand__color" href="#" wiid="C442">Register with us</a> </span>
            <p class="govuk-body-s  govuk-!-margin-top-2 govuk-!-margin-bottom-1"> Create an account to receive email updates, save your skills assessment results, and bookmark jobs and courses of interest. </p>
          </div>
        </div>