<div class="gem-c-image-card">
<!--          <figure class="gem-c-image-card__image-wrapper"> <img class="gem-c-image-card__image" alt="" src="/public/images/users-with-disability.png"> </figure>-->
          <div class="gem-c-image-card__text-wrapper govuk-!-margin-top-3"> <span class="gem-c-image-card__title" wiid="C441"> <a class="gem-c-image-card__title-link brand__color" href="#">Users with a disability</a> </span>
            <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-1">If you have a disability, we recommend that you get in touch with one of our advisers to ensure you receive the best possible support.</p>
          </div>
        </div>