<div class="alert-box-grey">
  <h2 class="govuk-heading-s">
    <p class="govuk-body-m">
	  I am currently <strong>employed</strong> and aged <strong>18-24</strong> and looking for <strong>advice on career pathways</strong>
	  </p>
  </h2>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> update my situation </span> </summary>
    <div class="govuk-details__text">
      <form action="/V4/your-next-steps-2" method="post" class="form ncs-masthead align-center" id="your-next-steps">
        <div class="govuk-body-m" style="text-align: left">I am currently
          <select name="select1" id="select1" class="govuk-select" name="currently" aria-label="I am looking for options">
          <option value="none" selected disabled hidden></option>
          <option value="1">employed</option>
          <option value="2">in-education</option>
          <option value="3">furloughed</option>
          <option value="4">facing redundancy</option>
          </select>
          &nbsp;&nbsp;and aged&nbsp;
          <select name="select2" id="select2" class="govuk-select govuk-input--width-5" style="width:100px" name="age" aria-label="I am looking for options">
          <option value="1" selected></option>
          <option value="1">18-24</option>
          <option value="1">25-34</option>
          <option value="1">35-49</option>
          <option value="1">50+</option>
          <option value="2" selected></option>
          <option value="2">Under 16</option>
          <option value="2">16-17</option>
          <option value="2">18-24</option>
          <option value="3" selected></option>
          <option value="3">18-24</option>
          <option value="3">25-34</option>
          <option value="3">35-49</option>
          <option value="3">50+</option>
          <option value="4" selected></option>
          <option value="4">18-24</option>
          <option value="4">25-34</option>
          <option value="4">35-49</option>
          <option value="4">50+</option>
          </select>
        </div>
        <div class="govuk-body-m next-line" style="text-align: left" >and looking for &nbsp;
          <select name="select3" id="select3" style="min-width: 350px !important" class="govuk-select govuk-!-width-two-thirds" name="looking-for" aria-label="I am looking for options">
          <option value="" selected></option>
          <option value="1" selected></option>
          <option value="1">understanding my options</option>
          <option value="1">advice on getting a job (incl self employment)</option>
          <option value="1">courses and qualifications (further education / training)</option>
          <option value="1">funding options</option>
          <option value="1">skills assessement</option>
          <option value="2" selected></option>
          <option value="2">understanding my options</option>
          <option value="2">advice on getting a job (incl self employment)</option>
          <option value="2">advice on job applications (e.g. CVs)</option>
          <option value="2">skills assessement</option>
          <option value="3" selected></option>
          <option value="3">understanding my options</option>
          <option value="3">advice on getting a job (incl self employment)</option>
          <option value="3">advice on job applications (e.g. CVs)</option>
          <option value="3">skills assessement</option>
          <option value="4" selected></option>
          <option value="4">understanding my options</option>
          <option value="4">advice on getting a job (incl self employment)</option>
          <option value="4">advice on job applications (e.g. CVs)</option>
          <option value="4">skills assessement</option>
          </select>
        </div>
        <input class="govuk-button" type="submit" value="Show me what's next">
      </form>
    </div>
  </details>
</div>
