{% extends "layout_ncs.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-headingl govuk-!-margin-top-6">CLASSROOM BASED EXAMPLE</h1>

        <nav role="navigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <ol class="govuk-list govuk-list--number">
                                <li><a class="govuk-link" href="#courseDetails">Course details</a></li>
                                <li><a class="govuk-link" href="#whoFor">Who this course is for</a></li>
                                <li><a class="govuk-link" href="#entryReq">Entry requirements</a></li>
                                <li><a class="govuk-link" href="#whatLearn">What you'll learn</a></li>
                                <li><a class="govuk-link" href="#howLearn">How you'll learn</a></li>
                            </ol>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <ol class="govuk-list govuk-list--number" start="6">
                                <li><a class="govuk-link" href="#whatBring">What you'll need to bring</a></li>
                                <li><a class="govuk-link" href="#howAssessed">How you'll be assessed</a></li>
                                <li><a class="govuk-link" href="#nextSteps">Next steps</a></li>
                                <li><a class="govuk-link" href="#venue">Venue</a></li>
                                <li><a class="govuk-link" href="#otherDatesVenues">Other venues and dates</a></li>
                            </ol>
                        </div>
                    </div>
                </nav>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-m" id="courseDetails">1. Course details</h2>
        <table class="govuk-table k-table">
        <caption class="govuk-visually-hidden">Table with course details</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Qualification name</th>
                    <td class="govuk-table__cell">Maths and Further Maths</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Qualification level</th>
                    <td class="govuk-table__cell">Level 3</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Awarding organisation</th>
                    <td class="govuk-table__cell">Open College Network London Region</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Course webpage</th>
                    <td class="govuk-table__cell"><a href="url" target="_blank">url</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Course type</th>
                    <td class="govuk-table__cell">Classroom based</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Course hours</th>
                    <td class="govuk-table__cell">Flexible</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Course start date</th>
                    <td class="govuk-table__cell">14 September 2016</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Cost</th>
                    <td class="govuk-table__cell">£0.00</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Cost description</th>
                    <td class="govuk-table__cell">Abc</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Attendance pattern</th>
                    <td class="govuk-table__cell">Daytime</td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-m" id="whoFor">2. Who this course is for</h2>
        <p class="govuk-body">More and more subjects come to depend upon mathematical tools and there is a national shortage of people with these skills.  Mathematics will equip you with the necessary skills to cope with numerous jobs and higher education courses.  This is particularly true with scientific, technical, financial or management careers.  Mathematics is an important subject in the study of Engineering, Computing and Physics.  A good A-level in Mathematical will ensure you are taken seriously by universities or in job interviews.  The Mathematics course allows you to build on GCSE work and also involves new ideas and powerful techniques for solving problems.  The mathematical language, as well as increasing your knowledge and enjoyment of this important subject.  In recent years Walsall Academy has sent students to study mathematics at the best of British universities like Oxford, Birmingham, Durham and Warwick. AS
        Paper 1 - Pure Mathematics (67%) - 2 hour examination
        Paper 2 – Statistics and Mechanics (33%) – 1 hour examination
        A Level
        Paper 1 – Pure Mathematics 1 (33%) – 2 hour examination
        Paper 2 – Pure Mathematics 2 (33%) – 2 hour examination
        Paper 3 – Statistics and Mechanics (33%) – 2 hour examination
        Section A: Statistics
        Section B: Mechanics
        </p>

        <h2 class="govuk-heading-m" id="entryReq">3. Entry requirements</h2>
        <p class="govuk-body">Grade 6 in GCSE Mathematics (Higher Tier)
        Further Mathematics	Grade 7 in GCSE Mathematics (preferably Grade A*)
        </p>

        <h2 class="govuk-heading-m" id="whatLearn">4. What you'll learn</h2>
        <p class="govuk-body">Check with course provider</p>

        <h2 class="govuk-heading-m" id="howLearn">5. How you'll learn</h2>
        <p class="govuk-body">Check with course provider</p>

        <h2 class="govuk-heading-m" id="whatBring">6. What you'll need to bring</h2>
        <p class="govuk-body">Check with course provider</p>

        <h2 class="govuk-heading-m" id="howAssessed">7. How you'll be assessed</h2>
        <p class="govuk-body">Check with course provider</p>

        <h2 class="govuk-heading-m" id="nextSteps">8. Next steps</h2>
        <p class="govuk-body">Check with course provider</p>

        <h2 class="govuk-heading-m" id="venue">9. Venue</h2>
<table class="govuk-table k-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Name</th>
                    <td class="govuk-table__cell">
                        Lowestoft Campus
                    </td>
                </tr>

                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Address</th>
                        <td class="govuk-table__cell">
St Peter's Street<br>
                                                        Suffolk<br>
                            NR32 2NB<br>

                            <a class="govuk-link" target="_blank" href="https://maps.google.com/?q=52.48237,1.74365">Find on Google maps</a>
                        </td>
                    </tr>



                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Email</th>
                        <td class="govuk-table__cell"><a href="mailto:info@eastcoast.ac.uk" style="word-break:break-all;">info@eastcoast.ac.uk</a> </td>
                    </tr>

                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Phone</th>
                        <td class="govuk-table__cell">0800 854695</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Fax</th>
                        <td class="govuk-table__cell">01502 500031</td>
                    </tr>
                                    <tr class="govuk-table__row">
                        <td class="govuk-table__header">Website</td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link" target="_blank" href="https://www.eastcoast.ac.uk" style="word-break:break-all;">https://www.eastcoast.ac.uk</a>
                        </td>
                    </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" id="otherDatesVenues">10. Other venues and dates</h2>
        <table class="govuk-table k-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Venue</th>
                    <th class="govuk-table__header">Start date</th>
                    <th class="govuk-table__header">Options</th>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Rush Green Campus</td>
                    <td class="govuk-table__cell">26 February 2019</td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View course</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="#" class="govuk-back-link">Back to results</a>
    </div>
            <div class="govuk-grid-column-one-third">
                        <div class="app-related-items">

                            <h2 class="govuk-heading-m govuk-!-margin-top-2">Provider details</h2>
                    <p class="govuk-body-lead">BESPOKE PROFESSIONAL DEVELOPMENT AND TRAINING LIMITED</p>

                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            Website:
                            <a class="govuk-link" href="https://www.beprodevelopment.co.uk/">beprodevelopment.co.uk</a>
                        </li>
                        <li>
                            Email:
                            <a class="govuk-link" href="#">enquiries@beprodevelopment.co.uk</a>
                        </li>
                        <li>
                            Phone: 01642 956970
                        </li>
                    </ul>

                    <h2 class="govuk-heading-m">Provider performance information</h2>

                    <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-2">8</p>

                    <p class="govuk-body-s govuk-!-font-weight-bold">out of 10 for learner satisfaction</p>

                    <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-2">6.3</p>

                    <p class="govuk-body-s govuk-!-font-weight-bold">out of 10 for employer satisfaction</p>

                    <hr class="govuk-section-break govuk-section-break--visible" />

                        </div>

            <div class="app-related-items">
                <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
                <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="#" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
                <p class="govuk-hint">8am to 10pm, 7 days a week</p>
            </div>

        </div>
    </div>
{% endblock %}
