{% extends "layout_ncs.html" %}

{% block pageTitle %}
Give feedback - National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="https://nationalcareersservice.direct.gov.uk/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="index">Contact us</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="select-option">Why would you like to contact us?</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                What is your feedback about?
            </li>
        </ol>
    </div></div></div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form id="userform" method="post">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h2 class="govuk-fieldset__heading">
                                What is your feedback about?
                            </h2>
                        </legend>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="careers" name="feedbackCategory" type="radio" value="careers">
                                <label class="govuk-label govuk-radios__label" for="careers">
                                    Careers
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="qualifications" name="feedbackCategory" type="radio" value="qualifications">
                                <label class="govuk-label govuk-radios__label" for="qualifications">
                                    Qualifications
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="coursesearch" name="feedbackCategory" type="radio" value="coursesearch">
                                <label class="govuk-label govuk-radios__label" for="coursesearch">
                                    Courses
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="funding" name="feedbackCategory" type="radio" value="funding">
                                <label class="govuk-label govuk-radios__label" for="funding">
                                    Funding
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="website" name="feedbackCategory" type="radio" value="website">
                                <label class="govuk-label govuk-radios__label" for="website">
                                    Website
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="customerservice" name="feedbackCategory" type="radio" value="customerservice">
                                <label class="govuk-label govuk-radios__label" for="customerservice">
                                    Customer service
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="general" name="feedbackCategory" type="radio" value="general">
                                <label class="govuk-label govuk-radios__label" for="general">
                                    Something else
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-character-count" data-module="character-count" data-maxlength="1000">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="more-detail">Give us your feedback. If you're commenting on particular pages, it will help us if you include links to them.</label>
                    <span id="more-detail-hint" class="govuk-hint">Do not include any personal or sign in information.</span>
                    <textarea class="govuk-textarea js-character-count" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                </div>
                    <span id="more-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
    You can enter up to 1000 characters
  </span>
                </div>
                <div class="govuk-form-group">
                    <button data-module="govuk-button" type="submit" class="govuk-button">
                        Continue
                    </button>
                </div>
            </form>
        </div>
        {% include "includes/side-contact-us.html" %}
    </div>
{% endblock %}
