{% extends "layout_ncs.html" %}

{% block pageTitle %}
Contact us - National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://nationalcareersservice.direct.gov.uk/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        Contact us
      </li>
    </ol>
  </div></div></div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Contact us</h1>
      <h2 class="govuk-heading-s">Webchat</h2>
      <p class="govuk-body-m">Contact an adviser using <a class="govuk-link" href="https://nationalcareers.service.gov.uk/webchat/chat/">webchat</a>. This service is open from 8am to 10pm, 7 days a week.</p>
      <h2 class="govuk-heading-s">Phone</h2>
      <p class="govuk-body-m">Call 0800 100 900 to speak to an adviser. Lines are open from 8am to 10pm, 7 days a week. Calls are free from landlines and most mobile numbers. Find out about <a href="https://www.gov.uk/call-charges">call charges and freephone numbers</a>.</p>
      <p class="govuk-body-m">If you need advice in a different language, choose option 5 to speak to an adviser using an interpreter.</p>
      <h2 class="govuk-heading-s">Online message</h2>
      <p class="govuk-body-m"><a class="govuk-link" href="select-option">Send us an online message</a> to ask an adviser a question, report a technical issue or tell us what you think about our service.</p>
      <h2 class="govuk-heading-s">Callback</h2>
      <p class="govuk-body-m">Tell us your phone number and an adviser will <a class="govuk-link" href="https://cxdirect.serco.com/phone_callback.htm">call you back</a>.</p>
      <h2 class="govuk-heading-s">Face-to-face advice</h2>
      <p class="govuk-body-m">Call 0800 100 900 to find out if you're eligible for a face-to-face appointment with an adviser.</p>
      <h2 class="govuk-heading-s">Text</h2>
      <p class="govuk-body-m">Text your name and the word ADVICE to 07766 413219 and an adviser will call you back for free. You can also use this text number to ask for information like telephone numbers and addresses.</p>
      <p class="govuk-body-m">Please note: we cannot open pictures sent by text.</p>
      <h2 class="govuk-heading-s">Post</h2>
      <p class="govuk-body-m">
        National Careers Service<br>
        PO Box 1331<br>
        Newcastle Upon Tyne<br>
        NE99 5EB
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <p class="govuk-body-m">The National Careers Service offers advice about careers and skills in England. For careers advice in other parts of the UK visit:</p>
        <ul class="govuk-list">
          <li><a class="govuk-link" href="https://www.myworldofwork.co.uk/">Skills Development Scotland - <br>My World of Work</a></li>
          <li><a class="govuk-link" href="https://www.careerswales.com/">Careers Wales</a></li><li><a class="govuk-link" href="https://www.nidirect.gov.uk/campaigns/careers">Careers Service Northern Ireland</a></li>
        </ul>
      </aside>
    </div>
  </div>
{% endblock %}
