{% extends "layout_ncs.html" %}

{% block pageTitle %}
Why would you like to contact us?
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="https://nationalcareersservice.direct.gov.uk/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="index">Contact us</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                Why would you like to contact us?
            </li>
        </ol>
    </div></div></div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form id="userform" method="post">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                        Why would you like to contact us?
                    </h1>
                </legend>
                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="adviser" name="whyContactUs" type="radio" value="adviser">
                        <label class="govuk-label govuk-radios__label" for="adviser">
                            Contact an adviser
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="technical" name="whyContactUs" type="radio" value="technical">
                        <label class="govuk-label govuk-radios__label" for="technical">
                            Report a technical issue
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="feedback" name="whyContactUs" type="radio" value="feedback">
                        <label class="govuk-label govuk-radios__label" for="feedback">
                            Give feedback
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
            <div class="govuk-form-group">
                <button data-module="govuk-button" type="submit" class="govuk-button">
                    Continue
                </button>
            </div>
            </form>
        </div>
        {% include "includes/side-contact-us.html" %}
    </div>
{% endblock %}
