{% extends "layout_ncs.html" %}

{% block pageTitle %}
Thank you for contacting us - National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Thank you for contacting us</h1>
      <p class="govuk-body-m">We'll get back to you as soon as possible.</p>
      <p class="govuk-body-m"><a class="govuk-link" href="https://nationalcareers.service.gov.uk">Return to the Explore careers home page</a></p>
    </div>
    {% include "includes/side-contact-us.html" %}
  </div>
{% endblock %}
