{% extends "layout_ncs.html" %}

{% block pageTitle %}
Enter your details - National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="https://nationalcareersservice.direct.gov.uk/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="index">Contact us</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="select-option">Why would you like to contact us?</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="contact-an-adviser">Contact an adviser</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                Enter your details
            </li>
        </ol>
    </div></div></div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Enter your details</h1>
            <p class="govuk-body-m">We need your details so that one of our advisers can contact you.</p>
            <p class="govuk-body-m">Our advisers will use your date of birth and postcode to give you information that's relevant to you, for example on courses and funding.</p>
            <form id="userform" method="post">
            <fieldset class="govuk-fieldset">

                <div class="govuk-form-group">
                    <label class="govuk-label" for="firstName">
                        First name
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="firstName" name="firstName" autocomplete="given-name" spellcheck="false" type="text">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="lastName">
                        Last name
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="lastName" name="lastName" autocomplete="family-name" spellcheck="false" type="text">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="emailAddress">
                        Email address
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="emailAddress" name="emailAddress" autocomplete="email" type="text">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="confirmEmailAddress">
                        Confirm email address
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="confirmEmailAddress" name="confirmEmailAddress" autocomplete="email" type="text">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="dob-day">
                        Date of birth
                    </label>
                        <span id="dob-hint" class="govuk-hint">For example, 31 3 1980</span>
                        <div class="govuk-date-input" id="dob">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dob-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" autocomplete="bday-day" pattern="[0-9]*">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dob-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" autocomplete="bday-month" pattern="[0-9]*">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dob-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" autocomplete="bday-year" pattern="[0-9]*">
                                </div>
                            </div>
                        </div>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="address-postcode">
                        Postcode
                    </label>
                    <span id="postcode-hint" class="govuk-hint">For example, SW1A 1AA</span>
                    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" autocomplete="postal-code" type="text">
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">Terms and conditions
                            </h2>
                        </legend>
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="terms" name="terms" type="checkbox" value="terms">
                                <label class="govuk-label govuk-checkboxes__label" for="terms">
                                    I accept the <a class="govuk-link" href="https://nationalcareersservice.direct.gov.uk/about-us/terms-and-conditions">terms and conditions</a> and I am 13 or over
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </fieldset>
                <div class="govuk-form-group">
                    <button data-module="govuk-button" type="submit" class="govuk-button">
                        Send
                    </button>
                </div>
            </form>
        </div>
        {% include "includes/side-contact-us.html" %}
    </div>
{% endblock %}
