{% extends "layout_ncs.html" %}

{% block pageTitle %}
Enter your details - National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="https://nationalcareersservice.direct.gov.uk/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="index">Contact us</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="select-option">Why would you like to contact us?</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="technical">What is your technical issue?</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                Enter your details
            </li>
        </ol>
    </div></div></div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Enter your details</h1>
            <p class="govuk-body-m">We need your details to handle your request.</p>
            <form id="userform" method="post">
            <fieldset class="govuk-fieldset">

                <div class="govuk-form-group">
                    <label class="govuk-label" for="firstName">
                        First name
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="firstName" name="firstName" autocomplete="given-name" spellcheck="false" type="text">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="lastName">
                        Last name
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="lastName" name="lastName" autocomplete="family-name" spellcheck="false" type="text">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="emailAddress">
                        Email address
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="emailAddress" name="emailAddress" autocomplete="email" type="text">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="confirmEmailAddress">
                        Confirm email address
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="confirmEmailAddress" name="confirmEmailAddress" autocomplete="email" type="text">
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">Can we contact you if we need more details?
                            </h2>
                        </legend>
                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact-yes" name="contact" type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="contact-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact-no" name="contact" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="contact-no">
                                    No
                                </label>
                                </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">Terms and conditions
                            </h2>
                        </legend>
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="terms" name="terms" type="checkbox" value="terms">
                                <label class="govuk-label govuk-checkboxes__label" for="terms">
                                    I accept the <a class="govuk-link" href="https://nationalcareersservice.direct.gov.uk/about-us/terms-and-conditions">terms and conditions</a> and I am 13 or over
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </fieldset>
                <div class="govuk-form-group">
                    <button data-module="govuk-button" type="submit" class="govuk-button">
                        Send
                    </button>
                </div>
            </form>
        </div>
        {% include "includes/side-contact-us.html" %}
    </div>
{% endblock %}
