{% extends "layout_ncs.html" %}

{% block pageTitle %}
Contact an adviser - National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="https://nationalcareersservice.direct.gov.uk/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="index">Contact us</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="select-option">Why would you like to contact us?</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                Contact an adviser
            </li>
        </ol>
    </div></div></div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a class="govuk-link" href="#category-error">Choose a category</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="#more-detail-error">Enter a message with your query</a>
                        </li>
                    </ul>
                </div>
            </div>
            <form id="userform" method="post">
                <div class="govuk-form-group govuk-form-group--error">
                    <fieldset class="govuk-fieldset" aria-describedby="category-error">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h2 class="govuk-fieldset__heading">
                                What is your query about?
                            </h2>
                        </legend>
                        <span id="category-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Choose a category</span>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="careers" name="queryCategory" type="radio" value="careers">
                                <label class="govuk-label govuk-radios__label" for="careers">
                                    Careers
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="qualifications" name="queryCategory" type="radio" value="qualifications">
                                <label class="govuk-label govuk-radios__label" for="qualifications">
                                    Qualifications
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="findingacourse" name="queryCategory" type="radio" value="findingacourse">
                                <label class="govuk-label govuk-radios__label" for="findingacourse">
                                    Courses
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="funding" name="queryCategory" type="radio" value="funding">
                                <label class="govuk-label govuk-radios__label" for="funding">
                                    Funding
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="generalfeedback" name="queryCategory" type="radio" value="generalfeedback">
                                <label class="govuk-label govuk-radios__label" for="generalfeedback">
                                    Something else
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-character-count" data-module="character-count" data-maxlength="1000">
                <div class="govuk-form-group govuk-form-group--error">
                    <label class="govuk-label" for="more-detail">Enter your query for the adviser.
                    </label>
                    <span id="more-detail-hint" class="govuk-hint">Do not include any personal or sign in information.</span>
                    <span id="more-detail-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter a message with your query
                    </span>
                    <textarea class="govuk-textarea js-character-count" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                </div>
                    <span id="more-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
    You can enter up to 1000 characters
  </span>
                </div>
                <div class="govuk-form-group">
                    <button data-module="govuk-button" type="submit" class="govuk-button">
                        Continue
                    </button>
                </div>
            </form>
        </div>
        {% include "includes/side-contact-us.html" %}
    </div>
{% endblock %}
