{% extends "layout_ncs_home.html" %}

{% block beforeContent %}
</div>
<header class="header-global" style="background: #8C1454">
    <div class="govuk-width-container">

        <div class="nav-wrapper">

            <a href="/" class="logo"><img src="/public/images/ncs-4.png" alt="Go to the NCS homepage">
            </a>

            <button data-module="govuk-button" class="global-navigation__toggler" data-toggler="nav" aria-expanded="true">
                <span>Menu</span> <span class="icon">
<svg width="16" height="13" xmlns="http://www.w3.org/2000/svg"><g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M14.5 1.12H1.464M14.5 6.12H1.464M14.5 11.24H1.464"></path></g></svg>
        </span>
            </button>

                        <nav class="global-navigation" data-toggle="nav" data-app-pathinfo="/about-ccs/" aria-hidden="false">

                <ul class="nav-list nav-list--secondary">
            <li class="nav-list__item">
            <a class="nav-list__link" href="">About us</a>
        </li>
            <li class="nav-list__item">
            <a class="nav-list__link item-current" href="/contact">Contact us</a>
        </li>
                    <li class="nav-list__item">
                    <a class="nav-list__link  ">Skills health check</a>
                </li>


            <li class="nav-list__item">
            <a class="nav-list__link  " href="https://www.crowncommercial.gov.uk/help-and-support/">Help to get a job</a>
        </li>
                    </ul>


                <ul class="nav-list nav-list--primary">
            <li class="nav-list__item">
            <a class="nav-list__link" href="/agreements">Explore careers</a>
        </li>
            <li class="nav-list__item">
            <a class="nav-list__link  " href="/suppliers">Discover your skills and careers</a>
        </li>
            <li class="nav-list__item">
            <a class="nav-list__link  " href="/agreements/upcoming">Find a course</a>
        </li>

                    </ul>


            </nav>
                    </div>


    </div>
</header>
<div class="govuk-width-container">
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}
{% block content %}
<main id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Contact us</h1>
      <h2 class="govuk-heading-s">Webchat</h2>
      <p class="govuk-body-m">Contact an adviser using <a class="govuk-link" href="https://nationalcareers.service.gov.uk/webchat/chat/">webchat</a>. This service is open from 8am to 10pm, 7 days a week.</p>
      <h2 class="govuk-heading-s">Phone</h2>
      <p class="govuk-body-m">Call 0800 100 900 to speak to an adviser. Lines are open from 8am to 10pm, 7 days a week. Calls are free from landlines and most mobile numbers. Find out about <a href="https://www.gov.uk/call-charges">call charges and freephone numbers</a>.</p>
      <p class="govuk-body-m">If you need advice in a different language, choose option 5 to speak to an adviser using an interpreter.</p>
      <h2 class="govuk-heading-s">Online message</h2>
      <p class="govuk-body-m"><a class="govuk-link" href="select-option">Send us an online message</a> to ask an adviser a question, report a technical issue or tell us what you think about our service.</p>
      <h2 class="govuk-heading-s">Callback</h2>
      <p class="govuk-body-m">Tell us your phone number and an adviser will <a class="govuk-link" href="https://cxdirect.serco.com/phone_callback.htm">call you back</a>.</p>
      <h2 class="govuk-heading-s">Face-to-face advice</h2>
      <p class="govuk-body-m">Call 0800 100 900 to find out if you're eligible for a face-to-face appointment with an adviser.</p>
      <h2 class="govuk-heading-s">Text</h2>
      <p class="govuk-body-m">Text your name and the word ADVICE to 07766 413219 and an adviser will call you back for free. You can also use this text number to ask for information like telephone numbers and addresses.</p>
      <p class="govuk-body-m">Please note: we cannot open pictures sent by text.</p>
      <h2 class="govuk-heading-s">Post</h2>
      <p class="govuk-body-m">
        National Careers Service<br>
        PO Box 1331<br>
        Newcastle Upon Tyne<br>
        NE99 5EB
      </p>
    </div>
<div class="govuk-grid-column-one-third">
    <div class="app-related-items" style="border-top: 10px solid #8C1454">
        <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
        <p class="govuk-body-m" style="margin-bottom: 0px;"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="https://nationalcareers.service.gov.uk/webchat/chat/" rel="external" target="'_blank'">use webchat</a></p>
        <p class="govuk-caption-m">8am to 10pm, 7 days a week</p>
    </div>

</div>  </div>

</main>
{% endblock %}
