{% extends "layout_ncs_home.html" %}

{% block beforeContent %}
</div>
<header class="header-global" style="background: #8C1454">
    <div class="govuk-width-container">

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content" style="color: #FFFFFF"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" style="color: #FFFFFF" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
        <div class="nav-wrapper" style="border-bottom: solid 1px #FFFFFF">

            <a href="/" class="logo"><img src="/public/images/ncs-4.png" alt="Go to the NCS homepage">
            </a>

            <button data-module="govuk-button" class="global-navigation__toggler" data-toggler="nav" aria-expanded="true">
                <span>Menu</span> <span class="icon">
<svg width="16" height="13" xmlns="http://www.w3.org/2000/svg"><g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M14.5 1.12H1.464M14.5 6.12H1.464M14.5 11.24H1.464"></path></g></svg>
        </span>
            </button>

                        <nav class="global-navigation" data-toggle="nav" data-app-pathinfo="/about-ccs/" aria-hidden="false">

                <ul class="nav-list nav-list--secondary">
            <li class="nav-list__item">
            <a class="nav-list__link" href="">About us</a>
        </li>
            <li class="nav-list__item">
            <a class="nav-list__link  " href="/contact">Contact us</a>
        </li>
                    <li class="nav-list__item">
                    <a class="nav-list__link  ">Skills health check</a>
                </li>


            <li class="nav-list__item">
            <a class="nav-list__link  " href="https://www.crowncommercial.gov.uk/help-and-support/">Help to get a job</a>
        </li>
                    </ul>


                <ul class="nav-list nav-list--primary">
            <li class="nav-list__item">
            <a class="nav-list__link item-current" href="/agreements">Explore careers</a>
        </li>
            <li class="nav-list__item">
            <a class="nav-list__link  " href="/suppliers">Discover your skills and careers</a>
        </li>
            <li class="nav-list__item">
            <a class="nav-list__link  " href="/agreements/upcoming">Find a course</a>
        </li>

                    </ul>


            </nav>

                    </div>


    </div>
</header><header class="PROD_hero" style="background: #8C1454">
    <div class="PROD_full-page-width-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Explore careers</h1>
                <p class="govuk-body-lead">Find out what a job involves and if it's right for you.</p>
                <form id="searchForm">
                                    <!-- <label>Enter a job title</label> -->
                                    <div class="PROD_search">
                                        <div id="search-box" class="PROD_search__input-container">
                                            <input id="searchInput" class="PROD_search__input" autocomplete="off" placeholder="" type="text">
                                        </div>
                                        <input class="PROD_search__submit" type="button" value="Search">
                                    </div>
                                </form>
            </div>
            <div class="govuk-grid-column-one-third">
            </div>
        </div>
    </div>
</header>
<div class="govuk-width-container">
{% endblock %}
{% block content %}
<main id="content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Explore by job category</h2>
        </div>
        <div class="govuk-grid-column-full">

            <ul class="list category-list homepage-categories">
                <li><a href="../../_sprintL1/e2e/job-categories/administration">Administration</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/animal-care">Animal care</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/beauty-and-wellbeing">Beauty and wellbeing</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/business-and-finance">Business and finance</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/computing-technology-and-digital">Computing, technology and digital</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/construction-and-trades">Construction and trades</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/creative-and-media">Creative and media</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/delivery-and-storage">Delivery and storage</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/emergency-and-uniform-services">Emergency and uniform services</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/engineering-and-maintenance">Engineering and maintenance</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/environment-and-land">Environment and land</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/government-services">Government services</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/healthcare">Healthcare</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/home-services">Home services</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/hospitality-and-food">Hospitality and food</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/law-and-legal">Law and legal</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/managerial">Managerial</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/manufacturing">Manufacturing</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/retail-and-sales">Retail and sales</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/science-and-research">Science and research</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/social-care">Social care</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/sports-and-leisure">Sports and leisure</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/teaching-and-education">Teaching and education</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/transport">Transport</a></li>
                <li><a href="../../_sprintL1/e2e/job-categories/travel-and-tourism">Travel and tourism</a></li>
            </ul>

        </div>
    </div>

</main>
{% endblock %}
