{% extends "layout.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
    <div class="PROD_full-page-width-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">National Careers Service</h1>
                <p class="govuk-body-lead">We provide information, advice and guidance to help you make decisions on learning, training and work.</p>
            </div>
        </div>
    </div>
</header>
<div class="govuk-width-container">
{% endblock %}

{% block content %}
    <div class="PROD_full-page-width-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <div>
                    <h2 class="govuk-heading-m"><a href="#">Explore careers</a></h2>
                    <p class="govuk-body-m">Find out what a job involves and if it's right for you.</p>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <div>
                    <h2 class="govuk-heading-m"><a href="#">Assess myself</a></h2>
                    <p class="govuk-body-m"><strong>Placeholder</strong> - potentially joining Skills Health Check & Discover Skills and Careers</p>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <div>
                    <h2 class="govuk-heading-m"><a href="#">Find a course</a></h2>
                    <p class="govuk-body-m">Look for courses and learning providers and save information about them.</p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <div>
                    <h2 class="govuk-heading-m"><a href="#">Contact us</a></h2>
                    <p class="govuk-body-m">Find out about the different ways to get in touch.</p>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <div>
                    <h2 class="govuk-heading-m"><a href="#">Help to get a job</a></h2>
                    <p class="govuk-body-m">Get advice on the different stages of a job hunt, including how to improve your interview technique and write an effective CV.</p>
                </div>
            </div>

        </div>


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <h2 class="govuk-heading-m">We are redesigning this service</h2>
                    <p class="govuk-body-m">If you had a Lifelong Learning Account you can still use your existing details to
                        sign in. You'll be able to view your saved:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>CVs</li>
                        <li>Skills health check reports</li>
                        <li>action plans</li>
                        <li>course searches</li>
                    </ul>
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
                    <p class="govuk-body-m">Call 0800 100 900 or use <a href="#">webchat</a>.</p>
                    <p class="govuk-body-m">You can also <a href="">send us an online message</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
