<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

<head>
    <!-- Page-hiding snippet (recommended) google optimise anti flicker -->
    <style type="text/css">
        .async-hide {
            opacity: 0 !important
        }
        .homepage-jobcategories li a {
        font-size: 19px!important;
        }
                .separator::before, .separator::after {
                border-bottom: 6px solid #207e77!important;
                }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="blue" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-opengraph-image.png?+G8dDdEGv7zYrR7l6mjnXg==">
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/favicon.ico?3nq8UiaSUgOsELCkqUr5SQ==" type="image/x-icon" />
    <link rel="mask-icon" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-mask-icon.svg?Kv0SWx25YQk4jUoHJzEvPg==" color="blue">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon-180x180.png?oPfhtyikIBayR9xU7kDQVQ==">
    <link rel="apple-touch-icon" sizes="167x167" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon-167x167.png?9jbLfUcfxiOdIkHXXL2ryw==">
    <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon-152x152.png?QIRtRqo3Iy4rNQZXac5WfA==">
    <link rel="apple-touch-icon" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon.png?PEXaofHnFkWOTalUuXMALg==">
    <link href="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/css/all.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css" />
    <title>
        Careers advice - job profiles, information and resources | National Careers Service
    </title>
    <meta name="description" content="We provide information, advice and guidance to help you make decisions on learning, training and work.">
    <meta name="description" content="Find out what a job involves and if it&#39;s right for you." />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-c0b8ba8b1652aacad298d74f24752260187f538b50c40c2484f7f333cbc3cf2b.css">
        <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css">
        <link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-e9ec5a5f82e5c2a17927ce356e5a054cb28025ec1547ec5d00f5c98d2ec5e481.css">
        <meta name="theme-color" content="#0b0c0c">
        <meta name="viewport" content="width=device-width, initial-scale=1"
          <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-1924d57f4bba2603a29dda66a0fb53ded6bc766e697e13c27b52db13ddef3a7b.css">
        <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">
      <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-4da8ff6423b4c7ac78093091aef33b386b0f82d094c0edc62c16e5beb7a9917b.css">
</head>

<body class="govuk-template__body app-body-class">
    <script type="text/javascript">
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script> <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <div>
        <div class="sfContentBlock sf-Long-text">
<header class="govuk-header" role="banner" data-module="header">
                <div class="govuk-header__container govuk-width-container" style="border-bottom: 10px solid #207e77"><a href="../home" class="govuk-header__link govuk-header__link--service-name" style="margin-bottom: 0;">National Careers Service
</a>
                    <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
                    <nav>
                        <ul id="navigation" class="govuk-header__navigation" style="margin-bottom: 2px" aria-label="Top Level Navigation">
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/explore-careers" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/skills-assessment" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/find-a-course" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Careers advice</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/contact-us" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
    </div>

    <div>
        <div class="sfContentBlock sf-Long-text">
            <div class="govuk-width-container">
                <div class="govuk-phase-banner">
                    <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">beta
</strong>
                        <span class="govuk-phase-banner__text">Complete <a target="_blank" class="govuk-link" href="https://surveys.ipsosinteractive.com/mrIWeb/mrIWeb.dll?I.Project=S1039833&amp;id=&amp;cf=ovl ">Ipsos MORI survey</a> to give us your feedback about the service.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="sfContentBlock sf-Long-text">
            <section class="primary-hero">
                <div class="govuk-width-container">
                    <div id="ServiceBanner_T0499ABFB002_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Hero banner content">
                        <div>
                            <div class="sf-Long-text">
                                <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                        <h1 class="govuk-heading-xl">Explore careers</h1>
                                        </div>
                                    <div class="govuk-grid-column-two-thirds">
                                        <p class="govuk-body-lead govuk-!-margin-bottom-4">Find out what a job involves and if it's right for you.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper app-main-class govuk-!-padding-top-6" id="main-content" role="main">
                        <div style="width: 66%;">
                        <h2 class="govuk-heading-m govuk-!-padding-top-4">Search for a job title</h2>
                        <form action="https://nationalcareers.service.gov.uk/explore-careers/Search/" class="site-search ui-front govuk-!-padding-bottom-4" id="header-search" method="post">
                                                            <label class="input-label" id="input-label" for="search-input" style="font-size: 19px;">Enter a job title</label>
                                                                            <div class="input-wrapper">
                                                                                <input type="search" id="search-input" name="searchTerm" title="Search" class="govuk-input input-search-item input-search js-search-focus">
                                                                                <div class="input-search-item input-submit-wrapper">
                                                                                    <button data-module="govuk-button" type="submit" class="input-search-submit">Search</button>
                                                                                </div>
                                                                            </div></form>
                        </div>
                                        <div class="separator govuk-!-padding-bottom-4">
                                        <span style="font-size: 24px; font-weight: bold">or</span></div>
        <h2 class="govuk-heading-m govuk-!-padding-top-0">Explore by job category</h2>
        <ul class="homepage-jobcategories">
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/administration">Administration</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/animal-care">Animal care</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/beauty-and-wellbeing">Beauty and wellbeing</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/business-and-finance">Business and finance</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/computing-technology-and-digital">Computing, technology and digital</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/construction-and-trades">Construction and trades</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/creative-and-media">Creative and media</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/delivery-and-storage">Delivery and storage</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/emergency-and-uniform-services">Emergency and uniform services</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/engineering-and-maintenance">Engineering and maintenance</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/environment-and-land">Environment and land</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/government-services">Government services</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/healthcare">Healthcare</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/home-services">Home services</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/hospitality-and-food">Hospitality and food</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/law-and-legal">Law and legal</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/managerial">Managerial</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/manufacturing">Manufacturing</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/retail-and-sales">Retail and sales</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/science-and-research">Science and research</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/social-care">Social care</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/sports-and-leisure">Sports and leisure</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/teaching-and-education">Teaching and education</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/transport">Transport</a></li>
                    <li><a href="http://nationalcareers.service.gov.uk/job-categories/travel-and-tourism">Travel and tourism</a></li>
            </ul>
        </main>
    </div>

    <div>
        <div class="sfContentBlock sf-Long-text">
            <footer class="govuk-footer " role="contentinfo">
                <div class="govuk-width-container ">
                    <div class="govuk-footer__meta">
                        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                            <h2 class="govuk-visually-hidden">Support links</h2>
                            <ul class="govuk-footer__inline-list">
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="http://nationalcareers.service.gov.uk/help">Help
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="http://nationalcareers.service.gov.uk/help/privacy-and-cookies">Privacy and cookies
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="http://nationalcareers.service.gov.uk/help/accessibility">Accessibility statement
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="http://nationalcareers.service.gov.uk/help/terms-and-conditions">Terms and conditions
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="http://nationalcareers.service.gov.uk/help/information-sources">Information sources
</a>
                                </li>
                            </ul>
                                                        <ul class="govuk-footer__inline-list">
                                                            <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="../startjp.html">Start page (JP)</a></li>
                                                            <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="../starthome.html">Start page (Home/HTGAJ)</a></li>
                                                            <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="explorecareers2.html">Alternative EC</a></li>
                                                        </ul>

                            <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
                                <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
                            </svg>
                            <span class="govuk-footer__licence-description">
All content is available under the
<a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
</span>
                        </div>
                        <div class="govuk-footer__meta-item"><a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">&copy; Crown copyright</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/jquerybundle.min.js" type="text/javascript"></script>
    <script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/all.min.js" type="text/javascript"></script>
    <script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/dfcdigital.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.GOVUKFrontend.initAll();
    </script>
</body>

</html>