<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

<head>
    <script type='text/javascript'>
      window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
        })(document);
        smartlook('init', '7433502c0fa3461b8c287d3a63f5a0f6d683a32a');
    </script>
    <!-- Page-hiding snippet (recommended) google optimise anti flicker -->
    <style type="text/css">
        .async-hide {
            opacity: 0 !important
        }
        .separator::before, .separator::after {
        border-bottom: 6px solid #207e77!important;
        }

    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="blue" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-opengraph-image.png?+G8dDdEGv7zYrR7l6mjnXg==">
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/favicon.ico?3nq8UiaSUgOsELCkqUr5SQ==" type="image/x-icon" />
    <link rel="mask-icon" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-mask-icon.svg?Kv0SWx25YQk4jUoHJzEvPg==" color="blue">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon-180x180.png?oPfhtyikIBayR9xU7kDQVQ==">
    <link rel="apple-touch-icon" sizes="167x167" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon-167x167.png?9jbLfUcfxiOdIkHXXL2ryw==">
    <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon-152x152.png?QIRtRqo3Iy4rNQZXac5WfA==">
    <link rel="apple-touch-icon" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon.png?PEXaofHnFkWOTalUuXMALg==">
    <link href="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css" />
    <title>
        Careers advice - job profiles, information and resources | National Careers Service
    </title>
    <meta name="description" content="We provide information, advice and guidance to help you make decisions on learning, training and work.">
    <meta name="description" content="Find out what a job involves and if it&#39;s right for you." />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-c0b8ba8b1652aacad298d74f24752260187f538b50c40c2484f7f333cbc3cf2b.css">
        <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css">
        <link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-e9ec5a5f82e5c2a17927ce356e5a054cb28025ec1547ec5d00f5c98d2ec5e481.css">
        <meta name="theme-color" content="#0b0c0c">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-1924d57f4bba2603a29dda66a0fb53ded6bc766e697e13c27b52db13ddef3a7b.css">
        <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">
      <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-4da8ff6423b4c7ac78093091aef33b386b0f82d094c0edc62c16e5beb7a9917b.css">
</head>

<body class="govuk-template__body app-body-class">
    <script type="text/javascript">
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script> <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <div>
        <div class="sfContentBlock sf-Long-text">
<header class="govuk-header" role="banner" data-module="header">
                <div class="govuk-header__container govuk-width-container" style="border-bottom: 10px solid #207e77"><a href="home" class="govuk-header__link govuk-header__link--service-name" style="margin-bottom: 0;">National Careers Service
</a>
                    <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
                    <nav>
                        <ul id="navigation" class="govuk-header__navigation" style="margin-bottom: 2px" aria-label="Top Level Navigation">
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/explore-careers" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/skills-assessment" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/find-a-course" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Careers advice</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/contact-us" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a></li>
                            <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
    </div>

    <div>
        <div class="sfContentBlock sf-Long-text">
            <div class="govuk-width-container">
                <div class="govuk-phase-banner">
                    <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">beta
</strong>
                        <span class="govuk-phase-banner__text">Complete <a target="_blank" class="govuk-link" href="https://surveys.ipsosinteractive.com/mrIWeb/mrIWeb.dll?I.Project=S1039833&amp;id=&amp;cf=ovl ">Ipsos MORI survey</a> to give us your feedback about the service.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-width-container">

                                              <h2 class="govuk-heading-l govuk-!-padding-top-8">What are your interests?</h2>
                                              <div class="govuk-checkboxes govuk-checkboxes--small dual-checkbox-container" style="width: 75%;">
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                                              Writing and blogging
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                                                              Visual arts
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                                                              Travel
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                                             Transport and driving
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-5" name="organisation" type="checkbox" value="DfT">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-5">
                                                              Sport - playing or watching
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-6" name="organisation" type="checkbox" value="DfT">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-6">
                                                              Outdoor activities
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-1" name="organisation" type="checkbox" value="DfT">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-1">
                                                              News and current affairs
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-7" name="organisation" type="checkbox" value="DfT">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-7">
                                                              Music
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-8" name="organisation" type="checkbox" value="DfT">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-8">
                                                              Making money
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-9" name="organisation" type="checkbox" value="DfT">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-9">
                                                              History, heritage and culture
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-10" name="organisation" type="checkbox" value="DfT">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-10">
                                                              Gaming
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-11" name="organisation" type="checkbox" value="DfT">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-11">
                                                              Food and cookery
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-17" name="organisation" type="checkbox" value="DfT">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-17">
                                                              Fashion and beauty
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-12" name="organisation" type="checkbox" value="DfT">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-12">
                                                              DIY and home improvements
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-13" name="organisation" type="checkbox" value="DfT">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-13">
                                                              Crafts and making things
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-14" name="organisation" type="checkbox" value="DfT">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-14">
                                                              Computer and tech
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-18" name="organisation" type="checkbox" value="DfT">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-18">
                                                              Business innovation
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                            <input class="govuk-checkboxes__input" id="organisation-15" name="organisation" type="checkbox" value="DfT">
                                                            <label class="govuk-label govuk-checkboxes__label" for="organisation-15">
                                                              Broadcasting and performing arts
                                                            </label>
                                                          </div>
                                                          <div class="govuk-checkboxes__item checkbox-container-item">
                                                                                    <input class="govuk-checkboxes__input" id="organisation-16" name="organisation" type="checkbox" value="DfT">
                                                                                    <label class="govuk-label govuk-checkboxes__label" for="organisation-16">
                                                                                      Animals or pets
                                                                                    </label>
                                                                                  </div>

                                                        </div>

                                                                                                      <h2 class="govuk-heading-l govuk-!-padding-top-8">Select the most important to you</h2>
                                                                                                      <div class="govuk-form-group">
                                                                                                        <fieldset class="govuk-fieldset">
                                                                                                          <div class="govuk-radios govuk-radios--small">
                                                                                                            <div class="govuk-radios__item">
                                                                                                              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                                                                                                              <label class="govuk-label govuk-radios__label" for="changed-name">
                                                                                                                I want to work flexible hours
                                                                                                              </label>
                                                                                                            </div>
                                                                                                            <div class="govuk-radios__item">
                                                                                                              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                                                                                              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                                                                                                I want to work part time

                                                                                                              </label>
                                                                                                            </div>
                                                                                                            <div class="govuk-radios__item">
                                                                                                              <input class="govuk-radios__input" id="changed-name-3" name="changed-name" type="radio" value="year">
                                                                                                              <label class="govuk-label govuk-radios__label" for="changed-name-3">
                                                                                                                I want to work term time only

                                                                                                              </label>
                                                                                                            </div>
                                                                                                            <div class="govuk-radios__item">
                                                                                                              <input class="govuk-radios__input" id="changed-name-4" name="changed-name" type="radio" value="year">
                                                                                                              <label class="govuk-label govuk-radios__label" for="changed-name-4">
                                                                                                              I don’t want a physically demanding career
                                                                                                              </label>
                                                                                                            </div>
                                                                                                            <div class="govuk-radios__item">
                                                                                                              <input class="govuk-radios__input" id="changed-name-5" name="changed-name" type="radio" value="year">
                                                                                                              <label class="govuk-label govuk-radios__label" for="changed-name-5">
                                                                                                              I don’t want to work outside
                                                                                                              </label>
                                                                                                            </div>
                                                                                                            <div class="govuk-radios__item">
                                                                                                              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                                                                                              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                                                                                              I don’t want to work in an office
                                                                                                              </label>
                                                                                                            </div>
                                                                                                            <div class="govuk-radios__item">
                                                                                                              <input class="govuk-radios__input" id="changed-name-6" name="changed-name" type="radio" value="year">
                                                                                                              <label class="govuk-label govuk-radios__label" for="changed-name-6">
                                                                                                              I don’t have a UK driver’s license</label>
                                                                                                            </div>
                                                                                                          </div>
                                                                                                        </fieldset>
                                                                                                      </div>

                                          <a href="https://nationalcareers.service.gov.uk/search-results?searchTerm=analyst" class="govuk-button" style="float: right; color: white">Show me careers</a><br><br><br>

        </div>


    <div>
        <div class="sfContentBlock sf-Long-text">
            <footer class="govuk-footer " role="contentinfo">
                <div class="govuk-width-container ">
                    <div class="govuk-footer__meta">
                        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                            <h2 class="govuk-visually-hidden">Support links</h2>
                            <ul class="govuk-footer__inline-list">
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="http://nationalcareers.service.gov.uk/help">Help
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="http://nationalcareers.service.gov.uk/help/privacy-and-cookies">Privacy and cookies
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="http://nationalcareers.service.gov.uk/help/accessibility">Accessibility statement
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="http://nationalcareers.service.gov.uk/help/terms-and-conditions">Terms and conditions
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="http://nationalcareers.service.gov.uk/help/information-sources">Information sources
</a>
                                </li>
                            </ul>
                                                        <ul class="govuk-footer__inline-list">
                                                            <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="../startjp.html">Start page (JP)</a></li>
                                                            <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="../starthome.html">Start page (Home/HTGAJ)</a></li>
                                                        </ul>

                            <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
                                <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
                            </svg>
                            <span class="govuk-footer__licence-description">
All content is available under the
<a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
</span>
                        </div>
                        <div class="govuk-footer__meta-item"><a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">&copy; Crown copyright</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/jquerybundle.min.js" type="text/javascript"></script>
    <script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/all.min.js" type="text/javascript"></script>
    <script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/dfcdigital.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.GOVUKFrontend.initAll();
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>