{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

 {% block pageScripts %} 
<script src="/public/javascripts/step-by-step-nav.js"></script> 
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
  stepByStepNavigation.start($element)
</script> 
{% endblock %}

 {% block content %}
<section class="brand--national-careers-service organisation__section-wrap organisation__margin-bottom " id="main-content">
<div class="govuk-width-container govuk-!-margin-bottom-3 govuk-!-margin-top-3">
	
	<div class="govuk-width-container" wiid="C292"> 
<div class="content-container" wiid="C293">
    <div class="breadcrumbs govuk-breadcrumbs" wiid="C294">
        <ol class="govuk-breadcrumbs__list" wiid="C295">
            <li class="govuk-breadcrumbs__list-item" wiid="C296"><a class="govuk-breadcrumbs__link" href="/DSD" wiid="C297">Home</a></li>
                <li class="govuk-breadcrumbs__list-item" wiid="C298">Get a job</li>
        </ol>
    </div>
</div> </div>
	</div>
</section>

<section class="brand--national-careers-service organisation__section-wrap organisation__margin-bottom " id="main-content">
<div class="govuk-width-container govuk-!-margin-bottom-3 govuk-!-margin-top-3">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Content container" wiid="C302">
        <div wiid="C303">
          <div class="sfContentBlock sf-Long-text" wiid="C304">
            <h1 class="govuk-heading-xl" wiid="C305">Help to get a job</h1>
            <p class="govuk-body-m" wiid="C306">Find a job that's right for you with our advice on where to search, how to apply, CVs and interviews. You'll also get tips on how to find unadvertised vacancies by using your contacts.</p>
            <h2 class="govuk-heading-s" wiid="C307"><a class="govuk-link" href="/get-a-job/advertised-job-vacancies" wiid="C308">How to find job vacancies</a></h2>
            <p class="govuk-body-m" wiid="C309">Find out where to look for vacancies from recruitment agencies to social media sites.</p>
            <h2 class="govuk-heading-s" wiid="C310"><a class="govuk-link" href="/get-a-job/networking" wiid="C311">Find a job by networking</a></h2>
            <p class="govuk-body-m" wiid="C312">Discover jobs through people you know.</p>
            <h2 class="govuk-heading-s" wiid="C313"><a class="govuk-link" href="/get-a-job/cv-sections" wiid="C314">How to write a CV</a></h2>
            <p class="govuk-body-m" wiid="C315">Check our CV advice on what to include and how to make it stand out.</p>
            <h2 class="govuk-heading-s" wiid="C316"><a class="govuk-link" href="/get-a-job/covering-letter" wiid="C317">How to write a cover letter</a></h2>
            <p class="govuk-body-m" wiid="C318">Learn more about cover letters, why they're important and how to use them.</p>
            <h2 class="govuk-heading-s" wiid="C319"><a class="govuk-link" href="/get-a-job/application-forms" wiid="C320">How to fill in an application form</a></h2>
            <p class="govuk-body-m" wiid="C321">Get help to complete paper and online application forms.</p>
            <h2 class="govuk-heading-s" wiid="C322"><a class="govuk-link" href="/get-a-job/interview-advice" wiid="C323">Interview advice</a></h2>
            <p class="govuk-body-m" wiid="C324">Find out about the different types of interviews and how to do well in them.</p>
            <h2 class="govuk-heading-s" wiid="C325"><a class="govuk-link" href="/get-a-job/top-10-interview-questions" wiid="C326">How to answer common interview questions</a></h2>
            <p class="govuk-body-m" wiid="C327">Learn how to answer interview questions confidently and make a good impression.</p>
            <h2 class="govuk-heading-s" wiid="C328"><a class="govuk-link" href="/get-a-job/how-to-develop-your-soft-skills" wiid="C329">How to develop your soft skills</a></h2>
            <p class="govuk-body-m" wiid="C330">Learn and develop your soft skills, like communication and leadership skills.</p>
            <h2 class="govuk-heading-s" wiid="C331"><a class="govuk-link" href="/get-a-job/advice-for-if-you-lose-your-job" wiid="C332">Advice for if you lose your job</a></h2>
            <p class="govuk-body-m" wiid="C333">Find useful advice and resources for if you have recently been made redundant or become unemployed.</p>
            <h2 class="govuk-heading-s" wiid="C334"><a class="govuk-link" href="/get-a-job/advice-for-furloughed-workers" wiid="C335">Advice for furloughed workers</a></h2>
            <p class="govuk-body-m" wiid="C336">Find out about your rights and get help when becoming furloughed.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third right-banner-section">
        <div class="gem-c-image-card colour-selector section--brand-grey govuk-!-padding-3">
          <figure class="gem-c-image-card__image-wrapper"> <img class="gem-c-image-card__image" alt="Register with us" src="/public/images/register-with-us.png"> </figure>
          <div class="gem-c-image-card__text-wrapper govuk-!-margin-top-3" wiid="C440"> <span class="gem-c-image-card__title"> <a class="gem-c-image-card__title-link brand__color" href="#" wiid="C442">Register with us</a> </span>
            <p class="govuk-body-s  govuk-!-margin-top-2 govuk-!-margin-bottom-1"> Create an account to receive email updates, save your skills assessment results, and bookmark jobs and courses of interest. </p>
          </div>
        </div>
        <div class="gem-c-image-card colour-selector section--brand-grey govuk-!-padding-3"> 
          
          <figure class="gem-c-image-card__image-wrapper"> <img class="gem-c-image-card__image" alt="" src="/public/images/users-with-disability.png"> </figure>
          
			<div class="gem-c-image-card__text-wrapper govuk-!-margin-top-3"> <span class="gem-c-image-card__title" wiid="C441"> <a class="gem-c-image-card__title-link brand__color" href="#">Users with a disability</a> </span>
              <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-1">If you have a disability, we recommend that you get in touch with one of our advisers to ensure you receive the best possible support.</p>
            </div>
        </div>
        <div class="gem-c-image-card colour-selector section--brand-grey govuk-!-padding-3">
          <div class="gem-c-image-card govuk-!-margin-bottom-1">
            <figure class="gem-c-image-card__image-wrapper"> <img class="gem-c-image-card__image" alt="Register with us" src="/public/images/contact-us.png"> </figure>
            <div class="gem-c-image-card__text-wrapper govuk-!-margin-top-3"> <span class="gem-c-image-card__title" wiid="C441"> <a class="gem-c-image-card__title-link brand__color" href="#">Contact us</a> </span>
              <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-1">Call <strong>0800 100 900</strong> or use <a href="#" class="govuk-link">webchat</a>. You can also
                contact us in other ways,including sending us an online message or post. </p>
            </div>
          </div>
        </div>
		  <div class="gem-c-image-card colour-selector  brand__border-color organisation__brand-border-top section--brand-grey govuk-!-padding-3 govuk-!-margin-top-3">
        <h2 class="govuk-heading-s">Tell us how we have done</h2>
        <p class="govuk-body-s brand--national-careers-service">We are always looking for ways to improve our service.
          Complete our <a target="_blank" class="govuk-link brand__color" href="https://surveys.ipsosinteractive.com/mrIWeb/mrIWeb.dll?I.Project=S1039833&amp;id=&amp;cf=ovl ">Ipsos MORI survey</a> to give us your feedback about the service - it should only take a few minutes and your answers will be completely anonymous.</p>
      </div>
      </div>
  </div>
</div>
{% endblock %} 