{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
Choosing an online course
{% endblock %}

<!-- govuk-header__navigation-item--active -->

{% block header %}
{% include "includes/cookie-banner.html" %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <a href="https://nationalcareersservice.direct.gov.uk/" class="govuk-header__link govuk-header__link--service-name">National Careers Service
    </a>
    <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
    <nav>
      <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="#" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/course-directory" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/contact-us/home" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}

<!-- breadcrumbs start -->

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="landing">Online courses</a>
    </li>
    <!-- <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="topics">Course subjects</a>
    </li> -->
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Choosing an online course</li>
  </ol>
</div>

<!-- breadcrumbs end -->
</div>

<!-- <header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Online learning courses for furlough workers</h1>
        <p class="govuk-body-lead">Mollit dolore sit sit mollit culpa esse esse voluptate nulla ad.</p>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</header> -->
<div class="govuk-width-container">
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Choosing an online course</h1>

      <p class="govuk-body">Learning online or e-learning is a way to improve your skills without leaving your home.</p>

      <h2 class="govuk-heading-l">Online learning explained</h2>

      <p class="govuk-body">Online learning takes place over the internet instead of in a classroom. It’s a flexible way to  fit learning around your daily life. You can study subjects that are useful for most jobs like:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>maths</li>
        <li>English</li>
        <li>how to use a computer</li>
      </ul>

      <p class="govuk-body">There are also courses for developing skills that are specific to particular jobs. There could be a course that suits your interests and current level of skill. Use our find a course tool to explore free online courses that may be available now.</p>

      <p class="govuk-body">You’ll usually enrol online and get access to a website where you can find course materials. Some courses have an online tutor. You may also have the chance to get to know other learners through a ‘virtual classroom’ or group chat.</p>


      <h2 class="govuk-heading-l">What to look for in an online course</h2>

      <p class="govuk-body">You should make sure:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the course provider has a good reputation - ask for recommendations</li>
        <li>you understand the course details and entry requirements</li>
        <li>what support you’ll get from an online tutor</li>
        <li>If you’ll get a certificate or qualification at the end</li>
      </ul>

      <p class="govuk-body">When signing up for an online course you should check:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>when you can start</li>
        <li>Whether there will be any cost</li>
        <li>the methods you will use to learn - is it the right method for you (for example, group work)?</li>
        <li>how long the course will be</li>
        <li>what course materials the provider will give you or what you need to buy</li>
      </ul>


      <h2 class="govuk-heading-l">Find an online course</h2>

      <p class="govuk-body">Nulla cupidatat anim nostrud esse magna dolor consectetur fugiat laborum incididunt culpa adipisicing.</p>


      <a href="topics"><button class="govuk-button" data-module="govuk-button">
          Continue to courses
        </button></a>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items">
        <div class="">
          <h2 class="govuk-heading-m">Advice on online learning</h2>
          <ul class="govuk-list">
            <!-- <li><a class="govuk-link" href="choosing-an-online-course" target="_blank">Choosing an online course</a></li> -->
            <li><a class="govuk-link" href="the-benefits-of-online-learning" target="_blank">The benefits to learning online</a></li>
            <li><a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" class="govuk-link" target="_blank">What qualification levels mean</a></li>
          </ul>
        </div>
      </aside>

      <aside class="app-related-items">
        <div class="">
          <h2 class="govuk-heading-m">Skills assessment</h2>
          <p><a href="https://beta.nationalcareers.service.gov.uk/" target="_blank">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
        </div>
      </aside>

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
        <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="https://nationalcareers.service.gov.uk/webchat/chat/" target="_blank" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
        <p class="govuk-hint">8am to 10pm, 7 days a week</p>
      </aside>

      <!-- <aside class="app-related-items" role="complementary">
        <p class="govuk-body-m">The National Careers Service offers advice about careers and skills in England. For careers advice in other parts of the UK visit:</p>
        <ul class="govuk-list">
          <li><a class="govuk-link" href="https://www.myworldofwork.co.uk/">Skills Development Scotland - <br>My World of Work</a></li>
          <li><a class="govuk-link" href="https://www.careerswales.com/">Careers Wales</a></li>
          <li><a class="govuk-link" href="https://www.nidirect.gov.uk/campaigns/careers">Careers Service Northern Ireland</a></li>
        </ul>
      </aside> -->
    </div>

  </div>
  {% endblock %}
