{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
<header class="govuk-header " role="banner" data-module="govuk-header"><div class="govuk-header__container govuk-width-container">
    <a href="https://nationalcareersservice.direct.gov.uk/" class="govuk-header__link govuk-header__link--service-name">National Careers Service
    </a>
    <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button><nav><ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
    <li class="govuk-header__navigation-item"><a href="" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a></li>
    <li class="govuk-header__navigation-item"><a href="#" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessments</a>
</li><li class="govuk-header__navigation-item govuk-header__navigation-item--active"><a href="find-course" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
</li><li class="govuk-header__navigation-item"><a href="" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
</li><li class="govuk-header__navigation-item"><a href="" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
</li><li class="govuk-header__navigation-item"><a href="" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
</li></ul></nav></div></header>
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<div class="course-details-hero">
    <div class="govuk-width-container">
    <div class="govuk-grid-row course-details-padding">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Award in Using ICT</h1>
                <p class="govuk-caption-m">Level 1</p>
            </div>
        </div>
    </div>
</div>
<div class="govuk-width-container">
    {% endblock %}

    {% block content %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <table class="govuk-table">
            <span class="govuk-heading-m" id="courseinfo">Course information</span>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Start date</th>
                  <td class="govuk-table__cell">Flexible</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Location</th>
                  <td class="govuk-table__cell">St Helens</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Cost description</th>
                  <td class="govuk-table__cell">Funding varies depending on circumstances. If you are under 19, then this course is free.</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Duration</th>
                  <td class="govuk-table__cell">1 year</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Course type</th>
                    <td class="govuk-table__cell">Work-based</td>
                </tr>
              </tbody>
            </table>

    <h2 class="govuk-heading-m" id="whofor">Who this course is for</h2>
        <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking employment where IT skills are required. The course will give you the opportunity to gain experience of IT and software applications for personal or office use as well as becoming skilled in specific areas of technology such as in using website software or mobile devices.  It’s the next step for anyone who has already completed a level 1 IT course.</p>
    <h2 class="govuk-heading-m" id="entry">Entry requirements</h2>
        <p>You will need to be familiar with using a computer and have reasonable literacy and numeracy skills. Level 1 IT qualifications would be an advantage.</p>
    <h2 class="govuk-heading-m" id="whatlearn">What you'll learn</h2>
        <p>The course has only one compulsory unit which covers using IT to improve productivity. For the remainder of the course you are able to select units that cover the specific IT skills you require. You could study software applications such as word processing and spreadsheets, using the internet, using email and creating presentations. Hardware skills can include setting up an IT system, using collaborative technology and mobile devices and optimising system performance.  You’ll also gain some useful transferable skills including time-management, team working, research and communication through this course.</p>


    <h2 class="govuk-heading-m" id="howlearn">How you'll learn</h2>
        <p>This is a practical, hands-on course. You will learn in an IT suite through demonstrations, discussions and practice exercises. You will have one to one support from a tutor to make sure you’re keeping on track. Or You’ll learn through access to materials on an online learning portal.</p>

    <h2 class="govuk-heading-m" id="need">What you'll need to bring</h2>
        <p>Notebook, pen, folder for course handouts, memory stick on which to save assignments. You will need access to the internet to be able to use online resources that support this course.</p>

    <h2 class="govuk-heading-m" id="assessed">How you'll be assessed</h2>
        <p>You’ll be assessed through timed assignments at the end of every unit. You’ll get the chance to do practice assignments beforehand and only take the final unit assignment when both you and your tutor are confident that you will pass.</p>

    <h2 class="govuk-heading-m" id="next">Next steps</h2>
        <p>Employment or an apprenticeship in an office such as administrator, secretary, or general office assistant. You could progress from junior office roles to those requiring greater use of IT or a higher level of responsibility. You could build on your qualification with more units of the same level (e.g. desk top publishing, using project management software or using the internet) or go on to a Level 3 qualification in IT such as OCR Level 3 Certificate for IT Users.</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <a href="https://www.sthelens.ac.uk/courses/computing/382-itq/825-level-1-itq-certificate-in-it-user-skills" target="_blank" role="button" draggable="false" class="govuk-button govuk-button--start">
  Go to course provider
</a>
    </div>


        <div class="govuk-grid-column-one-third">
        <div class="app-related-items">

            <h2 class="govuk-heading-m govuk-!-margin-top-2">Course provider</h2>
                            <p class="govuk-body-lead">St Helens College</p>

                            <ul class="govuk-list govuk-!-font-size-16">
                                <li>
                                    <span class="govuk-!-font-weight-bold">Website:</span>
                                    <a class="govuk-link" href="#">https://www.sthelens.ac.uk/</a>
                                </li>
                                <li>
                                    <span class="govuk-!-font-weight-bold">Email:</span>
                                    <a class="govuk-link" href="#">enquire@sthelens.ac.uk/</a>
                                </li>
                                <li>
                                    <span class="govuk-!-font-weight-bold">Phone:</span> 0800 996699
                                </li>
                            </ul>

                            <hr class="govuk-section-break govuk-section-break--visible" />

                                </div>

            <div class="app-related-items">
                <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
                <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="#" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
                <p class="govuk-hint">8am to 10pm, 7 days a week</p>
            </div>
        </div>

    </div>
    {% endblock %}
