{% extends "layout_ncs_new.html" %}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">

    <div class="govuk-header__logo" style="width: 100%; margin-bottom: 0px;">
        <a href="homepage" class="govuk-header__link govuk-header__link--service-name">National Careers Service
        </a>
      <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav><ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation"><li class="govuk-header__navigation-item"><a href="explore" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a>
       </li><li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/skills-assessment" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a>
      </li><li class="govuk-header__navigation-item"><a href="course-search" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
       </li><li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/contact-us" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
       </li><li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
       </li><li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
       </li></ul></nav>
    </div>
  </div>
</header>
{% endblock %}

{% block pageTitle %}
Homepage
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
    <div class="PROD_full-page-width-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">National Careers Service</h1>
                <p class="govuk-body-lead">We provide information, advice and guidance to help you make decisions on learning, training and work.</p>
            </div>
            <div class="govuk-grid-column-one-third">
            </div>
        </div>
    </div>
</header>
<div class="govuk-width-container">
    {% endblock %}

    {% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        <p class="govuk-body-lead">Use our career tools to help you with your choices on careers, training and work. Whatever your situation, there's something to help.</p>
    </div>
</div>
<div class="govuk-grid-row">
      <div class="flex-container">
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="explore">
        <h2 class="govuk-heading-m card-title">Explore careers</h2>
        <p class="govuk-body"></p>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
            <a class="cards" href="https://nationalcareers.service.gov.uk/skills-assessment">
        <h2 class="govuk-heading-m card-title">Skills assessments</h2>
        <p class="govuk-body"></p>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
            <a class="cards" href="course-search">
        <h2 class="govuk-heading-m card-title">Find a course</h2>
        <p class="govuk-body"></p>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
            <a class="cards" href="https://nationalcareers.service.gov.uk/get-a-job">
        <h2 class="govuk-heading-m card-title">Help to get a job</h2>
        <p class="govuk-body"></p>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
            <a class="cards" href="https://nationalcareersservice.direct.gov.uk/about-us">
        <h2 class="govuk-heading-m card-title">About us</h2>
        <p class="govuk-body"></p>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
            <a class="cards" href="https://nationalcareers.service.gov.uk/contact-us">
        <h2 class="govuk-heading-m card-title">Contact us</h2>
        <p class="govuk-body"></p>
        </a>
      </div>

</div>
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
      </div>

    </div>    </div>
    {% endblock %}
