{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
Furloughed workers
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <a href="https://nationalcareersservice.direct.gov.uk/" class="govuk-header__link govuk-header__link--service-name">National Careers Service
    </a>
    <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
    <nav>
      <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a>
        </li>
        <li class="govuk-header__navigation-item govuk-header__navigation-item--active"><a href="#" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/course-directory" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/contact-us/home" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Online learning courses for furlough workers</h1>
        <p class="govuk-body-lead">Mollit dolore sit sit mollit culpa esse esse voluptate nulla ad.</p>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</header>
<div class="govuk-width-container">
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Online learning courses for furlough workers</h2>
      <p class="govuk-body">If your employer puts you on temporary leave (<a href="https://www.gov.uk/government/publications/guidance-to-employers-and-businesses-about-covid-19/covid-19-guidance-for-employees#furloughed-workers" class="govuk-link" >furlough</a>) because of coronavirus, you could be paid 80% of your wages while you’re off work. <a href="https://www.gov.uk/guidance/check-if-you-could-be-covered-by-the-coronavirus-job-retention-scheme" class="govuk-link" >HM Revenue and Customs’ guidance</a> can help you understand if you’re eligible.</p>
      <p class="govuk-body">You do not need to sign in or create an account to save your assessment. You can also complete it later and look at your results again at any time.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Find an online learning course</li>
        <li>Find a job</li>
      </ul>

      <p class="govuk-body">If you have been put on furlough, you could take this opportunity to improve your skills or retrain by taking an online course.</p>

      <p class="govuk-body">The Education and Skills Funding Agency (ESFA) are offering online learning courses with their providers, and Microsoft and the Open University.</p>

      <h2 class="govuk-heading-l">Find an online learning course</h2>

      <p class="govuk-body">Learning courses are available in <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" class="govuk-link">level 3 to 5 qualifications</a>, in subject areas like:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Digital </li>
        <li>Healthcare</li>
        <li>Accounting</li>
        <li>Social care</li>
        <li>Business</li>
        <li>Retail</li>
      </ul>


      <h3 class="govuk-heading-m">Which of these best describes your situation?</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#" class="govuk-link">I want to develop skills for my personal development</a></li>
        <li><a href="#" class="govuk-link">I don't know what my career options are</a></li>
        <li><a href="#" class="govuk-link">I want to develop skills for the career I want</a></li>
      </ul>




      <h2 class="govuk-heading-l">Find a job</h2>

      <p class="govuk-body">For <a href="https://nationalcareers.service.gov.uk/get-a-job" class="govuk-link">help applying for a job</a>:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://nationalcareers.service.gov.uk/get-a-job/cv-sections" class="govuk-link">How to write a CV</a></li>
        <li><a href="https://nationalcareers.service.gov.uk/get-a-job/covering-letter" class="govuk-link">How to write a cover letter</a></li>
        <li><a href="https://nationalcareers.service.gov.uk/get-a-job/top-10-interview-questions" class="govuk-link">How to answer common interview questions</a></li>
      </ul>




    </div>

    <div class="govuk-grid-column-one-third">
      <div class="app-related-items">
        <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
        <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="#" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
        <p class="govuk-hint">8am to 10pm, 7 days a week</p>
      </div>
    </div>

  </div>
  {% endblock %}
