{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
Online courses for furlough workers
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <a href="https://nationalcareersservice.direct.gov.uk/" class="govuk-header__link govuk-header__link--service-name">National Careers Service
    </a>
    <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
    <nav>
      <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="#" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/course-directory" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/contact-us/home" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Online courses for furlough workers</h1>
        <p class="govuk-body-lead">Explore courses to help you improve your current skills or gain new ones.</p>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</header>
<div class="govuk-width-container">
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Learning and training for furlough</h2>
      <p class="govuk-body">If your employer puts you on temporary leave (<a href="https://www.gov.uk/government/publications/guidance-to-employers-and-businesses-about-covid-19/covid-19-guidance-for-employees#furloughed-workers" class="govuk-link">furlough</a>) because of coronavirus, you could be paid 80% of your wages while you’re off work. <a href="https://www.gov.uk/guidance/check-if-you-could-be-covered-by-the-coronavirus-job-retention-scheme" class="govuk-link">HM Revenue and Customs’ guidance</a> can help you understand if you’re eligible.</p>
      <p class="govuk-body">The Education and Skills Funding Agency (ESFA) are offering free online learning courses with their providers to give furlough workers in England the opportunity to improve existing skills or explore new ones.</p>

      <p class="govuk-body">Whether you are looking to progress your career or looking for a good use of your time during furlough, there are many benefits to learning online. An online course can help you develop a skill or interest you have. </p>

      <p class="govuk-body">The online courses range in topic and from <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" class="govuk-link">levels 1 to 5 qualifications</a>, see our qualification
        guidance if you’re unsure what course is best suited to you.</p>

      <!-- <a href="topics"><button class="govuk-button" data-module="govuk-button">
          Continue to courses
        </button></a> -->

        <p class="govuk-body"><a class="govuk-link govuk-button" href="topics">Continue to courses</a></p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-l">Other ways to develop your skills</h2>

        <p class="govuk-body">You could also consider volunteering during furlough. This is a great way to support your community, local services and charities. You’ll also be gaining skills and experience that you may be able to use in the future.</p>

        <p class="govuk-body">You can find out more about volunteering from:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://www.england.nhs.uk/2020/03/your-nhs-needs-you-nhs-call-for-volunteer-army/" class="govuk-link">NHS Volunteers</a></li>
          <li><a href="https://do-it.org/" class="govuk-link">Do it</a></li>
          <li><a href="https://volunteeringmatters.org.uk/want-to-volunteer/" class="govuk-link">Volunteering Matters</a></li>
        </ul>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items">
        <div class="">
          <h2 class="govuk-heading-m">Advice on online learning</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="choosing-an-online-course" target="_blank">Choosing an online course</a></li>
            <li><a class="govuk-link" href="the-benefits-of-online-learning" target="_blank">The benefits to learning online</a></li>
            <li><a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" class="govuk-link" target="_blank">What qualification levels mean</a></li>
          </ul>
        </div>
      </aside>

      <aside class="app-related-items">
        <div class="">
          <h2 class="govuk-heading-m">Skills assessment</h2>
          <p><a href="https://beta.nationalcareers.service.gov.uk/" target="_blank">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
        </div>
      </aside>

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
        <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="https://nationalcareers.service.gov.uk/webchat/chat/" target="_blank" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
        <p class="govuk-hint">8am to 10pm, 7 days a week</p>
      </aside>

      <aside class="app-related-items" role="complementary">
        <p class="govuk-body-m">The National Careers Service offers advice about careers and skills in England. For careers advice in other parts of the UK visit:</p>
        <ul class="govuk-list">
          <li><a class="govuk-link" href="https://www.myworldofwork.co.uk/">Skills Development Scotland - <br>My World of Work</a></li>
          <li><a class="govuk-link" href="https://www.careerswales.com/">Careers Wales</a></li>
          <li><a class="govuk-link" href="https://www.nidirect.gov.uk/campaigns/careers">Careers Service Northern Ireland</a></li>
        </ul>
      </aside>

    </div>

  </div>
  {% endblock %}
