{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
Online course subjects
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <a href="https://nationalcareersservice.direct.gov.uk/" class="govuk-header__link govuk-header__link--service-name">National Careers Service
    </a>
    <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
    <nav>
      <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="#" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/course-directory" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/contact-us/home" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}

<!-- breadcrumbs start -->

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="landing">Online courses</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Course subjects</li>
  </ol>
</div>

<!-- breadcrumbs end -->
</div>

<!-- <header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Online learning courses for furlough workers</h1>
        <p class="govuk-body-lead">Mollit dolore sit sit mollit culpa esse esse voluptate nulla ad.</p>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</header> -->
<div class="govuk-width-container">
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Online course subjects</h1>

    <p class="govuk-body">Explore the following course subjects to find a suitable online course for you. Each subject offers courses at different qualification levels and concentrates on different skills.</p>

    <p class="govuk-body">If you are not sure which skills you want to develop or improve, you can take a skills assessment.</p>


    <ul class="govuk-list">
      <li class="govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="courses">Improve your maths</a></h2>
        <p class="govuk-body govuk-!-margin-top-0">Learn basic maths skills, looking at how to work with numbers.</p>
      </li>
      <li class="govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="courses">Improve your English</a></h2>
        <p class="govuk-body govuk-!-margin-top-0">Learn basic English skills like writing, grammar and spelling.</p>
      </li>
      <li class="govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="courses">Computing, digital and IT</a></h2>
        <p class="govuk-body govuk-!-margin-top-0">Get started with basic computer skills, learn to use software like Word and Powerpoint.</p>
      </li>
      <li class="govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="courses">Leadership and management</a></h2>
        <p class="govuk-body govuk-!-margin-top-0">Develop your communication skills and understand how to lead and motivate a team.</p>
      </li>
      <li class="govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="courses">Finance, book-keeping and accounts</a></h2>
        <p class="govuk-body govuk-!-margin-top-0">Learn about managing finances and how to use accounting software.</p>
      </li>
      <li class="govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="courses">Teaching, learning support and advice</a></h2>
        <p class="govuk-body govuk-!-margin-top-0">Gain practical skills to help you work with children and young adults.</p>
      </li>
      <li class="govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="courses">Health and social care</a></h2>
        <p class="govuk-body govuk-!-margin-top-0">Learn how to care for people with mental and physical health conditions.</p>
      </li>
      <li class="govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="courses">Business and administration</a></h2>
        <p class="govuk-body govuk-!-margin-top-0">Improve your workplace skills, like communication and performance.</p>
      </li>
    </ul>

  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items">
      <div class="">
        <h2 class="govuk-heading-m">Advice on online learning</h2>
        <ul class="govuk-list">
          <li><a class="govuk-link" href="choosing-an-online-course" target="_blank">Choosing an online course</a></li>
          <li><a class="govuk-link" href="the-benefits-of-online-learning" target="_blank">The benefits to learning online</a></li>
          <li><a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" class="govuk-link" target="_blank">What qualification levels mean</a></li>
        </ul>
      </div>
    </aside>

    <aside class="app-related-items">
      <div class="">
        <h2 class="govuk-heading-m">Skills assessment</h2>
        <p><a href="https://beta.nationalcareers.service.gov.uk/" target="_blank">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
      </div>
    </aside>

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
      <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="https://nationalcareers.service.gov.uk/webchat/chat/" target="_blank" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
      <p class="govuk-hint">8am to 10pm, 7 days a week</p>
    </aside>

    <!-- <aside class="app-related-items" role="complementary">
      <p class="govuk-body-m">The National Careers Service offers advice about careers and skills in England. For careers advice in other parts of the UK visit:</p>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="https://www.myworldofwork.co.uk/">Skills Development Scotland - <br>My World of Work</a></li>
        <li><a class="govuk-link" href="https://www.careerswales.com/">Careers Wales</a></li>
        <li><a class="govuk-link" href="https://www.nidirect.gov.uk/campaigns/careers">Careers Service Northern Ireland</a></li>
      </ul>
    </aside> -->
  </div>

</div>
  {% endblock %}
