<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

<head>
    <!-- Page-hiding snippet (recommended) google optimise anti flicker -->
    <style type="text/css">
        .async-hide {
            opacity: 0 !important
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="blue" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-opengraph-image.png?+G8dDdEGv7zYrR7l6mjnXg==">
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/favicon.ico?3nq8UiaSUgOsELCkqUr5SQ==" type="image/x-icon" />
    <link rel="mask-icon" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-mask-icon.svg?Kv0SWx25YQk4jUoHJzEvPg==" color="blue">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon-180x180.png?oPfhtyikIBayR9xU7kDQVQ==">
    <link rel="apple-touch-icon" sizes="167x167" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon-167x167.png?9jbLfUcfxiOdIkHXXL2ryw==">
    <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon-152x152.png?QIRtRqo3Iy4rNQZXac5WfA==">
    <link rel="apple-touch-icon" href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/images/govuk-apple-touch-icon.png?PEXaofHnFkWOTalUuXMALg==">
    <link href="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css" />
    <title>
        Careers advice - job profiles, information and resources | National Careers Service
    </title>
    <meta name="description" content="We provide information, advice and guidance to help you make decisions on learning, training and work.">
    <meta name="description" content="Find out what a job involves and if it&#39;s right for you." />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-c0b8ba8b1652aacad298d74f24752260187f538b50c40c2484f7f333cbc3cf2b.css">
        <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css">
        <link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-e9ec5a5f82e5c2a17927ce356e5a054cb28025ec1547ec5d00f5c98d2ec5e481.css">
        <meta name="theme-color" content="#0b0c0c">
        <meta name="viewport" content="width=device-width, initial-scale=1"
          <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-1924d57f4bba2603a29dda66a0fb53ded6bc766e697e13c27b52db13ddef3a7b.css">
        <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">
      <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-4da8ff6423b4c7ac78093091aef33b386b0f82d094c0edc62c16e5beb7a9917b.css">
</head>

<body class="govuk-template__body app-body-class">
    <script type="text/javascript">
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script> <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <div>
        <div class="sfContentBlock sf-Long-text">
<header class="govuk-header" role="banner" data-module="header">
                <div class="govuk-header__container govuk-width-container" style="border-bottom: 10px solid #207e77"><a href="/" class="govuk-header__link govuk-header__link--service-name" style="margin-bottom: 0;">National Careers Service
</a>
                    <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
                    <nav>
                        <ul id="navigation" class="govuk-header__navigation" style="margin-bottom: 2px" aria-label="Top Level Navigation">
                            <li class="govuk-header__navigation-item"><a href="/explore-careers" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a>
                            </li>
                            <li class="govuk-header__navigation-item"><a href="/skills-assessment" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a>
                            </li>
                            <li class="govuk-header__navigation-item"><a href="/find-a-course" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
                            </li>
                            <li class="govuk-header__navigation-item"><a href="/contact-us" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
                            </li>
                            <li class="govuk-header__navigation-item"><a href="/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
                            </li>
                            <li class="govuk-header__navigation-item"><a href="/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
    </div>

    <div>
        <div class="sfContentBlock sf-Long-text">
            <div class="govuk-width-container">
                <div class="govuk-phase-banner">
                    <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">beta
</strong>
                        <span class="govuk-phase-banner__text">Complete <a target="_blank" class="govuk-link" href="https://surveys.ipsosinteractive.com/mrIWeb/mrIWeb.dll?I.Project=S1039833&amp;id=&amp;cf=ovl ">Ipsos MORI survey</a> to give us your feedback about the service.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="sfContentBlock sf-Long-text">
            <section class="primary-hero">
                <div class="govuk-width-container">
                    <div id="ServiceBanner_T0499ABFB002_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Hero banner content">
                        <div>
                            <div class="sf-Long-text">
                                <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                        <h1 class="govuk-heading-xl">Careers advice and guidance</h1>
                                        </div>
                                    <div class="govuk-grid-column-two-thirds">
                                        <p class="govuk-body-lead">We provide information, advice and guidance to help you make decisions on learning, training and work.</p>
                                    <label class="input-label" id="input-label" for="search-input" style="font-size: 19px;">Search for career profiles</label>
                                                    <div class="input-wrapper">
                                                        <input type="search" id="search-input" name="searchTerm" title="Search" class="govuk-input input-search-item input-search js-search-focus">
                                                        <div class="input-search-item input-submit-wrapper">
                                                            <button data-module="govuk-button" type="submit" class="input-search-submit">Search</button>
                                                        </div>
                                                    </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper app-main-class govuk-!-padding-top-6" id="main-content" role="main">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
        <style>
        .govuk-accordion__controls {
        display: none;
        }
        </style>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                  Search for careers by categories
                </span>
              </h2>
              <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                If you don't know what career profile you're looking for, you can search by career category.
              </div>
            </div>
            <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
            <div class="wrapper" id="wrapper">
                <div class="content browse">
            <div class="browse-panes root section" data-module="track-click" aria-busy="false" style="padding-top: 0"><div id="subsection" class="subsection-pane pane" style="display: none;"></div><div id="section" class="section-pane pane with-sort"><div class="pane-inner curated">
              <h2 tabindex="-1" class="js-heading">Benefits</h2>
              <ul>
                  <li class="">
                    <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="1" data-track-label="/browse/benefits/entitlement" data-track-options="{&quot;dimension28&quot;:&quot;9&quot;,&quot;dimension29&quot;:&quot;How benefits work&quot;}" class="govuk-link" href="/browse/benefits/entitlement">
                      <h3>How benefits work</h3>
                      <p>Benefit calculators, how payments work, changes of circumstance, benefit fraud and appeals</p>
            </a>      </li>
                  <li class="">
                    <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="2" data-track-label="/browse/benefits/universal-credit" data-track-options="{&quot;dimension28&quot;:&quot;9&quot;,&quot;dimension29&quot;:&quot;Universal Credit&quot;}" class="govuk-link" href="/browse/benefits/universal-credit">
                      <h3>Universal Credit</h3>
                      <p>Applying, signing into your account, and help with housing, disability, health conditions and unemployment</p>
            </a>      </li>
                  <li class="">
                    <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="3" data-track-label="/browse/benefits/tax-credits" data-track-options="{&quot;dimension28&quot;:&quot;9&quot;,&quot;dimension29&quot;:&quot;Tax credits&quot;}" class="govuk-link" href="/browse/benefits/tax-credits">
                      <h3>Tax credits</h3>
                      <p>Getting Working Tax Credit and Child Tax Credit, managing your tax credits and when tax credits stop</p>
            </a>      </li>
                  <li class="">
                    <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="4" data-track-label="/browse/benefits/jobseekers-allowance" data-track-options="{&quot;dimension28&quot;:&quot;9&quot;,&quot;dimension29&quot;:&quot;Jobseeker's Allowance and low income benefits&quot;}" class="govuk-link" href="/browse/benefits/jobseekers-allowance">
                      <h3>Jobseeker's Allowance and low income benefits</h3>
                      <p>Getting JSA, Income Support, Budgeting Loans and other help if you’re on a low income</p>
            </a>      </li>
                  <li class="">
                    <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="5" data-track-label="/browse/benefits/disability" data-track-options="{&quot;dimension28&quot;:&quot;9&quot;,&quot;dimension29&quot;:&quot;Carers and disability benefits&quot;}" class="govuk-link" href="/browse/benefits/disability">
                      <h3>Carers and disability benefits</h3>
                      <p>Help for disabilities including Personal Independence Payment, Carer's Allowance, and Employment and Support Allowance</p>
            </a>      </li>
                  <li class="">
                    <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="6" data-track-label="/browse/benefits/child" data-track-options="{&quot;dimension28&quot;:&quot;9&quot;,&quot;dimension29&quot;:&quot;Child Benefit&quot;}" class="govuk-link" href="/browse/benefits/child">
                      <h3>Child Benefit</h3>
                      <p>Getting and managing your Child Benefit</p>
            </a>      </li>
                  <li class="">
                    <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="7" data-track-label="/browse/benefits/families" data-track-options="{&quot;dimension28&quot;:&quot;9&quot;,&quot;dimension29&quot;:&quot;Benefits for families&quot;}" class="govuk-link" href="/browse/benefits/families">
                      <h3>Benefits for families</h3>
                      <p>Getting maternity pay, help with childcare and free school meals</p>
            </a>      </li>
                  <li class="">
                    <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="8" data-track-label="/browse/benefits/heating" data-track-options="{&quot;dimension28&quot;:&quot;9&quot;,&quot;dimension29&quot;:&quot;Heating and housing benefits&quot;}" class="govuk-link" href="/browse/benefits/heating">
                      <h3>Heating and housing benefits</h3>
                      <p>Getting Housing Benefit, Winter Fuel Payment, Cold Weather Payment and other help for housing costs</p>
            </a>      </li>
                  <li class="">
                    <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="9" data-track-label="/browse/benefits/bereavement" data-track-options="{&quot;dimension28&quot;:&quot;9&quot;,&quot;dimension29&quot;:&quot;Death and benefits&quot;}" class="govuk-link" href="/browse/benefits/bereavement">
                      <h3>Death and benefits</h3>
                      <p>Getting Widowed Parent's Allowance, Bereavement Payment and other help when someone dies</p>
            </a>      </li>
              </ul>
            </div>
            </div>
              <div id="root" class="pane root-pane">
              <h2 class="visuallyhidden" tabindex="-1">All categories</h2>
              <ul style="padding: 0">
                  <li class="active">
                    <a style="background-color: #207e77" data-track-category="firstLevelBrowseLinkClicked" data-track-action="1" data-track-label="/browse/benefits" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Benefits&quot;}" class="govuk-link" href="/browse/benefits">Benefits</a>
                  </li>
                  <li class="">
                    <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="2" data-track-label="/browse/births-deaths-marriages" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Births, deaths, marriages and care&quot;}" class="govuk-link" href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a>
                  </li>
                  <li class="">
                    <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="3" data-track-label="/browse/business" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Business and self-employed&quot;}" class="govuk-link" href="/browse/business">Business and self-employed</a>
                  </li>
                  <li class="">
                    <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="4" data-track-label="/browse/childcare-parenting" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Childcare and parenting&quot;}" class="govuk-link" href="/browse/childcare-parenting">Childcare and parenting</a>
                  </li>
                  <li class="">
                    <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="5" data-track-label="/browse/citizenship" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Citizenship and living in the UK&quot;}" class="govuk-link" href="/browse/citizenship">Citizenship and living in the UK</a>
                  </li>
                  <li class="">
                    <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="6" data-track-label="/browse/justice" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Crime, justice and the law&quot;}" class="govuk-link" href="/browse/justice">Crime, justice and the law</a>
                  </li>
                  <li class="">
                    <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="7" data-track-label="/browse/disabilities" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Disabled people&quot;}" class="govuk-link" href="/browse/disabilities">Disabled people</a>
                  </li>
                  <li class="">
                    <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="8" data-track-label="/browse/driving" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Driving and transport&quot;}" class="govuk-link" href="/browse/driving">Driving and transport</a>
                  </li>
                  <li class="">
                    <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="9" data-track-label="/browse/education" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Education and learning&quot;}" class="govuk-link" href="/browse/education">Education and learning</a>
                  </li>
                  <li class="">
                    <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="10" data-track-label="/browse/employing-people" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Employing people&quot;}" class="govuk-link" href="/browse/employing-people">Employing people</a>
                  </li>
                  <li class="">
                    <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="11" data-track-label="/browse/environment-countryside" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Environment and countryside&quot;}" class="govuk-link" href="/browse/environment-countryside">Environment and countryside</a>
                  </li>
                  <li class="">
                    <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="12" data-track-label="/browse/housing-local-services" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Housing and local services&quot;}" class="govuk-link" href="/browse/housing-local-services">Housing and local services</a>
                  </li>
                  <li class="">
                    <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="13" data-track-label="/browse/tax" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Money and tax&quot;}" class="govuk-link" href="/browse/tax">Money and tax</a>
                  </li>
                  <li class="">
                    <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="14" data-track-label="/browse/abroad" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Passports, travel and living abroad&quot;}" class="govuk-link" href="/browse/abroad">Passports, travel and living abroad</a>
                  </li>
                  <li class="">
                    <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="15" data-track-label="/browse/visas-immigration" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Visas and immigration&quot;}" class="govuk-link" href="/browse/visas-immigration">Visas and immigration</a>
                  </li>
                  <li class="">
                    <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="16" data-track-label="/browse/working" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Working, jobs and pensions&quot;}" class="govuk-link" href="/browse/working">Working, jobs and pensions</a>
                  </li>
              </ul>
            </div>

            </div>

                </div>
              </div>
        </div>
          </div>
        </div>

        </main>
    </div>

    <div>
        <div class="sfContentBlock sf-Long-text">
            <footer class="govuk-footer " role="contentinfo">
                <div class="govuk-width-container ">
                    <div class="govuk-footer__meta">
                        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                            <h2 class="govuk-visually-hidden">Support links</h2>
                            <ul class="govuk-footer__inline-list">
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help">Help
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help/privacy-and-cookies">Privacy and cookies
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help/accessibility">Accessibility statement
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help/terms-and-conditions">Terms and conditions
</a>
                                </li>
                                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help/information-sources">Information sources
</a>
                                </li>
                            </ul>
                            <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
                                <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
                            </svg>
                            <span class="govuk-footer__licence-description">
All content is available under the
<a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
</span>
                        </div>
                        <div class="govuk-footer__meta-item"><a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">&copy; Crown copyright</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/jquerybundle.min.js" type="text/javascript"></script>
    <script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/all.min.js" type="text/javascript"></script>
    <script src="https://dev-cdn.nationalcareersservice.org.uk/nationalcareers_toolkit/js/dfcdigital.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.GOVUKFrontend.initAll();
    </script>
</body>

</html>