
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="govuk:content-id" content="f141fa95-0d79-4aed-8429-ed223a8f106a">
<meta name="govuk:schema-name" content="mainstream_browse_page">
<meta name="govuk:publishing-application" content="collections-publisher">
<meta name="govuk:format" content="mainstream_browse_page">
<meta name="govuk:navigation-page-type" content="First Level Browse">
<meta name="description" content="Includes eligibility, appeals, tax credits and Universal Credit">
<meta name="csrf-token" content="ZdvwhK4VpI5In+ZL/L1m/Exrh8AB/IgXBj7EkV7Gl8BvN5DcUlV2gbvw7n8sedDXAE8yqMtFCRQVc/W3z8+cbg==">
<meta name="csrf-param" content="authenticity_token">
    <meta charset="utf-8">
    <title>GOV.UK</title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-c0b8ba8b1652aacad298d74f24752260187f538b50c40c2484f7f333cbc3cf2b.css">
<!--<![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-11027733d1abeac34c7bf14e37fea30366ad3a87cfd7f7a084de3a3b4b838412.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css">

    <link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-e9ec5 a5f82e5c2a17927ce356e5a054cb28025ec1547ec5d00f5c98d2ec5e481.css">
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-a4524544a53d57a7e259b4bb966b9c32557c98c920b77e52d09304642b68401a.js"></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-1924d57f4bba2603a29dda66a0fb53ded6bc766e697e13c27b52db13ddef3a7b.css">
<!--<![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-40c60d07866c397b92055d03e2ba718d212ede58a127f1f61696ab648d8b123d.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-e5e1eaa5adefa3987302e6761ce03133d44b120aadb23c61db441df0cf4a852b.css">

    <script src="https://assets.publishing.service.gov.uk/static/global-bar-init-3abac7067a4f91eb71d1587e3b44c073e372dbe21a187cb6a9e165619667e998.js"></script>
    <script>
      if (GOVUK.globalBarInit) {
        window.GOVUK.globalBarInit.init()
      }
    </script>


    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

  <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-4da8ff6423b4c7ac78093091aef33b386b0f82d094c0edc62c16e5beb7a9917b.css">
<link rel="alternate" type="application/json" href="/api/content/browse/benefits">
<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/collections/print-ea79e10f9f5b0df66170c595d36461b2937b4f7f1626a8375dff687816732fe4.css">
<meta name="govuk:rendering-application" content="collections">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink govuk-link">Skip to main content</a>
      </div>
    </div>

<header class="govuk-header" role="banner" data-module="header">
                <div class="govuk-header__container govuk-width-container" style="border-bottom: 10px solid #207e77"><a href="/" class="govuk-header__link govuk-header__link--service-name" style="margin-bottom: 0;">National Careers Service
</a>
                    <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
                    <nav>
                        <ul id="navigation" class="govuk-header__navigation" style="margin-bottom: 2px" aria-label="Top Level Navigation">
                            <li class="govuk-header__navigation-item"><a href="/explore-careers" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a>
                            </li>
                            <li class="govuk-header__navigation-item"><a href="/skills-assessment" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a>
                            </li>
                            <li class="govuk-header__navigation-item"><a href="/find-a-course" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
                            </li>
                            <li class="govuk-header__navigation-item"><a href="/contact-us" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
                            </li>
                            <li class="govuk-header__navigation-item"><a href="/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
                            </li>
                            <li class="govuk-header__navigation-item"><a href="/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
  <div class="wrapper" id="wrapper">

    <main id="content" role="main" class="content browse">

<div class="browse-panes section" data-state="section" data-module="track-click">
  <div id="section" class="section-pane pane with-sort">
    <div class="pane-inner curated">
  <h2 tabindex="-1" class="js-heading">Benefits</h2>
  <ul>
      <li class="">
        <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="1" data-track-label="/browse/benefits/entitlement" data-track-options='{"dimension28":"9","dimension29":"How benefits work"}' class="govuk-link" href="/browse/benefits/entitlement">
          <h3>How benefits work</h3>
          <p>Benefit calculators, how payments work, changes of circumstance, benefit fraud and appeals</p>
</a>      </li>
      <li class="">
        <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="2" data-track-label="/browse/benefits/universal-credit" data-track-options='{"dimension28":"9","dimension29":"Universal Credit"}' class="govuk-link" href="/browse/benefits/universal-credit">
          <h3>Universal Credit</h3>
          <p>Applying, signing into your account, and help with housing, disability, health conditions and unemployment</p>
</a>      </li>
      <li class="">
        <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="3" data-track-label="/browse/benefits/tax-credits" data-track-options='{"dimension28":"9","dimension29":"Tax credits"}' class="govuk-link" href="/browse/benefits/tax-credits">
          <h3>Tax credits</h3>
          <p>Getting Working Tax Credit and Child Tax Credit, managing your tax credits and when tax credits stop</p>
</a>      </li>
      <li class="">
        <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="4" data-track-label="/browse/benefits/jobseekers-allowance" data-track-options="{&quot;dimension28&quot;:&quot;9&quot;,&quot;dimension29&quot;:&quot;Jobseeker's Allowance and low income benefits&quot;}" class="govuk-link" href="/browse/benefits/jobseekers-allowance">
          <h3>Jobseeker's Allowance and low income benefits</h3>
          <p>Getting JSA, Income Support, Budgeting Loans and other help if you’re on a low income</p>
</a>      </li>
      <li class="">
        <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="5" data-track-label="/browse/benefits/disability" data-track-options='{"dimension28":"9","dimension29":"Carers and disability benefits"}' class="govuk-link" href="/browse/benefits/disability">
          <h3>Carers and disability benefits</h3>
          <p>Help for disabilities including Personal Independence Payment, Carer's Allowance, and Employment and Support Allowance</p>
</a>      </li>
      <li class="">
        <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="6" data-track-label="/browse/benefits/child" data-track-options='{"dimension28":"9","dimension29":"Child Benefit"}' class="govuk-link" href="/browse/benefits/child">
          <h3>Child Benefit</h3>
          <p>Getting and managing your Child Benefit</p>
</a>      </li>
      <li class="">
        <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="7" data-track-label="/browse/benefits/families" data-track-options='{"dimension28":"9","dimension29":"Benefits for families"}' class="govuk-link" href="/browse/benefits/families">
          <h3>Benefits for families</h3>
          <p>Getting maternity pay, help with childcare and free school meals</p>
</a>      </li>
      <li class="">
        <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="8" data-track-label="/browse/benefits/heating" data-track-options='{"dimension28":"9","dimension29":"Heating and housing benefits"}' class="govuk-link" href="/browse/benefits/heating">
          <h3>Heating and housing benefits</h3>
          <p>Getting Housing Benefit, Winter Fuel Payment, Cold Weather Payment and other help for housing costs</p>
</a>      </li>
      <li class="">
        <a data-track-category="secondLevelBrowseLinkClicked" data-track-action="9" data-track-label="/browse/benefits/bereavement" data-track-options='{"dimension28":"9","dimension29":"Death and benefits"}' class="govuk-link" href="/browse/benefits/bereavement">
          <h3>Death and benefits</h3>
          <p>Getting Widowed Parent's Allowance, Bereavement Payment and other help when someone dies</p>
</a>      </li>
  </ul>
</div>

  </div>

  <div id="root" class="pane root-pane">
  <h2 class="visuallyhidden" tabindex="-1">All categories</h2>
  <ul>
      <li class="active">
        <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="1" data-track-label="/browse/benefits" data-track-options='{"dimension28":"16","dimension29":"Benefits"}' class="govuk-link" href="/browse/benefits">Benefits</a>
      </li>
      <li class="">
        <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="2" data-track-label="/browse/births-deaths-marriages" data-track-options='{"dimension28":"16","dimension29":"Births, deaths, marriages and care"}' class="govuk-link" href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a>
      </li>
      <li class="">
        <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="3" data-track-label="/browse/business" data-track-options='{"dimension28":"16","dimension29":"Business and self-employed"}' class="govuk-link" href="/browse/business">Business and self-employed</a>
      </li>
      <li class="">
        <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="4" data-track-label="/browse/childcare-parenting" data-track-options='{"dimension28":"16","dimension29":"Childcare and parenting"}' class="govuk-link" href="/browse/childcare-parenting">Childcare and parenting</a>
      </li>
      <li class="">
        <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="5" data-track-label="/browse/citizenship" data-track-options='{"dimension28":"16","dimension29":"Citizenship and living in the UK"}' class="govuk-link" href="/browse/citizenship">Citizenship and living in the UK</a>
      </li>
      <li class="">
        <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="6" data-track-label="/browse/justice" data-track-options='{"dimension28":"16","dimension29":"Crime, justice and the law"}' class="govuk-link" href="/browse/justice">Crime, justice and the law</a>
      </li>
      <li class="">
        <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="7" data-track-label="/browse/disabilities" data-track-options='{"dimension28":"16","dimension29":"Disabled people"}' class="govuk-link" href="/browse/disabilities">Disabled people</a>
      </li>
      <li class="">
        <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="8" data-track-label="/browse/driving" data-track-options='{"dimension28":"16","dimension29":"Driving and transport"}' class="govuk-link" href="/browse/driving">Driving and transport</a>
      </li>
      <li class="">
        <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="9" data-track-label="/browse/education" data-track-options='{"dimension28":"16","dimension29":"Education and learning"}' class="govuk-link" href="/browse/education">Education and learning</a>
      </li>
      <li class="">
        <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="10" data-track-label="/browse/employing-people" data-track-options='{"dimension28":"16","dimension29":"Employing people"}' class="govuk-link" href="/browse/employing-people">Employing people</a>
      </li>
      <li class="">
        <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="11" data-track-label="/browse/environment-countryside" data-track-options='{"dimension28":"16","dimension29":"Environment and countryside"}' class="govuk-link" href="/browse/environment-countryside">Environment and countryside</a>
      </li>
      <li class="">
        <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="12" data-track-label="/browse/housing-local-services" data-track-options='{"dimension28":"16","dimension29":"Housing and local services"}' class="govuk-link" href="/browse/housing-local-services">Housing and local services</a>
      </li>
      <li class="">
        <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="13" data-track-label="/browse/tax" data-track-options='{"dimension28":"16","dimension29":"Money and tax"}' class="govuk-link" href="/browse/tax">Money and tax</a>
      </li>
      <li class="">
        <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="14" data-track-label="/browse/abroad" data-track-options='{"dimension28":"16","dimension29":"Passports, travel and living abroad"}' class="govuk-link" href="/browse/abroad">Passports, travel and living abroad</a>
      </li>
      <li class="">
        <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="15" data-track-label="/browse/visas-immigration" data-track-options='{"dimension28":"16","dimension29":"Visas and immigration"}' class="govuk-link" href="/browse/visas-immigration">Visas and immigration</a>
      </li>
      <li class="">
        <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="16" data-track-label="/browse/working" data-track-options='{"dimension28":"16","dimension29":"Working, jobs and pensions"}' class="govuk-link" href="/browse/working">Working, jobs and pensions</a>
      </li>
  </ul>
</div>

</div>

    </main>

  </div>


    <footer class="group js-footer" id="footer" role="contentinfo">
      <div class="govuk-width-container">
        <div class="footer-container govuk-main-wrapper">
              <div class="govuk-grid-row footer-categories" data-module="track-click">
      <div class="govuk-grid-column-two-thirds">
        <h2>Transition period</h2>
        <ul>
          <li>
            <a data-track-category="footerClicked" data-track-action="transitionLinks" data-track-label="Find out what it means for you" href="/transition" class="govuk-link">
               Find out what it means for you
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="govuk-grid-row footer-categories" data-module="track-click">
      <div class="govuk-grid-column-two-thirds">
        <h2>Services and information</h2>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <ul>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Benefits" href="/browse/benefits">
                  Benefits
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Births, deaths, marriages and care" href="/browse/births-deaths-marriages">
                  Births, deaths, marriages and care
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Business and self-employed" href="/browse/business">
                  Business and self-employed
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="" href="/browse/childcare-parenting">
                  Childcare and parenting
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Citizenship and living in the UK" href="/browse/citizenship">
                  Citizenship and living in the UK
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Crime, justice and the law" href="/browse/justice">
                  Crime, justice and the law
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Disabled people" href="/browse/disabilities">
                  Disabled people
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Driving and transport" href="/browse/driving">
                  Driving and transport
                </a>
              </li>
            </ul>
          </div>
          <div class="govuk-grid-column-one-half">
            <ul>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Education and learning" href="/browse/education">
                  Education and learning
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Employing people" href="/browse/employing-people">
                  Employing people
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Environment and countryside" href="/browse/environment-countryside">
                  Environment and countryside
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Housing and local services" href="/browse/housing-local-services">
                  Housing and local services
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Money and tax" href="/browse/tax">
                  Money and tax
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Passports, travel and living abroad" href="/browse/abroad">
                  Passports, travel and living abroad
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Visas and immigration" href="/browse/visas-immigration">
                  Visas and immigration
                </a>
              </li>
              <li>
                <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Working, jobs and pensions" href="/browse/working">
                  Working, jobs and pensions
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <h2>Departments and policy</h2>

        <ul>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="How government works" href="/government/how-government-works">
              How government works
            </a>
          </li>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Departments" href="/government/organisations">
              Departments
            </a>
          </li>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Worldwide" href="/world">
              Worldwide
            </a>
          </li>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Services" href="/search/services">
              Services
            </a>
          </li>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Guidance and regulation" href="/search/guidance-and-regulation">
              Guidance and regulation
            </a>
          </li>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="News and communications" href="/search/news-and-communications">
              News and communications
            </a>
          </li>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Research and statistics" href="/search/research-and-statistics">
              Research and statistics
            </a>
          </li>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Policy papers and consultations" href="/search/policy-papers-and-consultations">
              Policy papers and consultations
            </a>
          </li>
          <li>
            <a class="govuk-link" data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Transparency and freedom of information releases" href="/search/transparency-and-freedom-of-information-releases">
              Transparency and freedom of information releases
            </a>
          </li>
        </ul>
      </div>
      <hr>
    </div>


          <div class="footer-meta">
            <div class="footer-meta-inner">
                <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a class="govuk-link" href="/help">Help</a></li>
  <li><a class="govuk-link" href="/help/privacy-notice">Privacy</a></li>
  <li><a class="govuk-link" href="/help/cookies">Cookies</a></li>
  <li><a class="govuk-link" href="/contact">Contact</a></li>
  <li><a class="govuk-link" href="/help/accessibility-statement">Accessibility statement</a></li>
  <li><a class="govuk-link" href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a class="govuk-link" href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>
    Built by the
    <a href="https://www.gov.uk/government/organisations/government-digital-service" class="govuk-link">
      Government Digital Service
    </a>
  </li>
</ul>



              <div class="open-government-licence">
                <p class="logo">
                  <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license" class="govuk-link open-government-licence__logo-link">
                    Open Government Licence
                  </a>
                </p>
                  <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license" class="govuk-link">Open Government Licence v3.0</a>, except where otherwise stated</p>
              </div>
            </div>

            <div class="copyright">
              <a class="govuk-link" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
                 © Crown copyright
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-c731c20e2995c576b0509d3bd776f7ab64a66b95363a3b5fae9864299ee594ed.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-e51dd28b34cb78151891e0553a8eaabd9ea0bc039e33123d71f6d7c32f5dc7a9.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-f0adf267a87ca20a7abf05f7e6c9ed1a349295efb5d59269bc06172eea23d1b0.js"></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/collections/application-a589795b8a2676b96a1f7e00c1bb454354434d753fed768ec4ab71ba6535f099.js"></script><script type="application/ld+json">
  {"@context":"http://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"name":"Home","@id":"https://www.gov.uk/"}}]}
</script>
</body>
</html>
