{% extends "layout_ncs.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="">Home: Explore careers</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/find-a-course">Find a course</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Maths and Further Maths</li>
    </ol>
</div>

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-top-6">Maths and Further Maths</h1>

        <nav role="navigation">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <ol class="govuk-list govuk-list--number">
                                <li><a class="govuk-link" href="#qualification-details">Qualification details</a></li>
                                <li><a class="govuk-link" href="#course-description">Course description</a></li>
                                <li><a class="govuk-link" href="#entry-requirements">Entry requirements</a></li>
                                <li><a class="govuk-link" href="#equipment-required">Equipment required</a></li>
                            </ol>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <ol class="govuk-list govuk-list--number" start="5">
                                <li><a class="govuk-link" href="#assessment-method">Assessment method</a></li>
                                <li><a class="govuk-link" href="#venue">Venue</a></li>
                                <li><a class="govuk-link" href="#other-dates-and-venues">Other dates or venues</a></li>
                            </ol>
                        </div>
                    </div>
                </nav>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-m" id="qualification-details">1. Qualification details</h2>
        <table class="govuk-table k-table">
        <caption class="govuk-visually-hidden">Table with course details</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Qualification name</th>
                    <td class="govuk-table__cell">Maths and Further Maths</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Qualification level</th>
                    <td class="govuk-table__cell">Level 3</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Awarding organisation</th>
                    <td class="govuk-table__cell">Open College Network London Region</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Subject category</th>
                    <td class="govuk-table__cell">***</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Course webpage</th>
                    <td class="govuk-table__cell"><a href="url" target="_blank">url</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Course type</th>
                    <td class="govuk-table__cell">***</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Course start date</th>
                    <td class="govuk-table__cell">September 2016</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Price</th>
                    <td class="govuk-table__cell">&#163;0.00</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Additional price description</th>
                    <td class="govuk-table__cell">&#163;0.00</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Funding information</th>
                    <td class="govuk-table__cell"><a href="https://www.gov.uk/advanced-learner-loan/overview" target="_blank">Advanced Learner Loans available</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Attendance pattern</th>
                    <td class="govuk-table__cell">***</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Support facilities</th>
                    <td class="govuk-table__cell">***</td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-m" id="course-description">2. Course description</h2>
        <p class="govuk-body">More and more subjects come to depend upon mathematical tools and there is a national shortage of people with these skills.  Mathematics will equip you with the necessary skills to cope with numerous jobs and higher education courses.  This is particularly true with scientific, technical, financial or management careers.  Mathematics is an important subject in the study of Engineering, Computing and Physics.  A good A-level in Mathematical will ensure you are taken seriously by universities or in job interviews.  The Mathematics course allows you to build on GCSE work and also involves new ideas and powerful techniques for solving problems.  The mathematical language, as well as increasing your knowledge and enjoyment of this important subject.  In recent years Walsall Academy has sent students to study mathematics at the best of British universities like Oxford, Birmingham, Durham and Warwick. AS
        Paper 1 - Pure Mathematics (67%) - 2 hour examination
        Paper 2 – Statistics and Mechanics (33%) – 1 hour examination
        A Level
        Paper 1 – Pure Mathematics 1 (33%) – 2 hour examination
        Paper 2 – Pure Mathematics 2 (33%) – 2 hour examination
        Paper 3 – Statistics and Mechanics (33%) – 2 hour examination
        Section A: Statistics
        Section B: Mechanics
        </p>

        <h2 class="govuk-heading-m" id="entry-requirements">3. Entry requirements</h2>
        <p class="govuk-body">Grade 6 in GCSE Mathematics (Higher Tier)
        Further Mathematics	Grade 7 in GCSE Mathematics (preferably Grade A*)
        </p>

        <h2 class="govuk-heading-m" id="equipment-required">4. Equipment required</h2>
        <p class="govuk-body">No equipment required</p>

        <h2 class="govuk-heading-m" id="assessment-method">5. Assessment method</h2>
        <p class="govuk-body">Not available</p>

        <h2 class="govuk-heading-m" id="venue">6. Venue</h2>
        <table class="govuk-table k-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Name</th>
                    <td class="govuk-table__cell">Rush Green Campus</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Address</th>
                    <td class="govuk-table__cell">
                        Dagenham Road<br />
                        Romford<br />
                        Essex<br />
                        RM7 0XU<br />
                        <a class="govuk-link" href="http://maps.google.co.uk" target="_blank">Find on Google maps</a>
                    </td>
                </tr>
            </tbody>
        </table>


        <h2 class="govuk-heading-m" id="other-dates-and-venues">7. Other dates and venues</h2>
        <table class="govuk-table k-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Venue</th>
                    <th class="govuk-table__header">Start date</th>
                    <th class="govuk-table__header">Options</th>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Rush Green Campus</td>
                    <td class="govuk-table__cell">26 February 2019</td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View course</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="#" class="govuk-back-link">Back to results</a>
    </div>
            <div class="govuk-grid-column-one-third">
                        <div class="app-related-items">

                            <h2 class="govuk-heading-m govuk-!-margin-top-2">Provider details</h2>
                    <p class="govuk-body-lead">Walsall Academy</p>

                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            Website:
                            <a class="govuk-link" href="https://www.walsallacademy.com/">walsallacademy.com</a>
                        </li>
                        <li>
                            Email:
                            <a class="govuk-link" href="#">enquiries@walsallacademy.com</a>
                        </li>
                        <li>
                            Phone: 01922 493910
                        </li>
                    </ul>

                    <hr class="govuk-section-break govuk-section-break--visible" />

                        </div>

            <div class="app-related-items">
                <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
                <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="#" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
                <p class="govuk-hint">8am to 10pm, 7 days a week</p>
            </div>

        </div>
    </div>
{% endblock %}
