{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
<header class="govuk-header " role="banner" data-module="govuk-header"><div class="govuk-header__container govuk-width-container">
    <a href="homepage" class="govuk-header__link govuk-header__link--service-name">National Careers Service
    </a>
    <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button><nav><ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
    <li class="govuk-header__navigation-item"><a href="" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a></li>
    <li class="govuk-header__navigation-item"><a href="#" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessments</a>
</li><li class="govuk-header__navigation-item govuk-header__navigation-item--active"><a href="find-course" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
</li><li class="govuk-header__navigation-item"><a href="" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
</li><li class="govuk-header__navigation-item"><a href="" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
</li><li class="govuk-header__navigation-item"><a href="" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
</li></ul></nav></div></header>
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<div class="course-hero-banner">
    <div class="govuk-width-container">
    <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Explore careers</h1>
                <p class="govuk-body-lead">Find out what a job involves and if it's right for you.</p>
                  <div class="course-search-item-wrapper">
                    <input type="search" id="search-main" name="search-main" title="Search" class="course-gov-search-item course-gov-search-input" placeholder="Enter a job title">
                    <div class="course-gov-search-item course-gov-search-submit-wrapper">
                      <button data-module="govuk-button" type="submit" class="course-gov-search-submit">Search</button>
                    </div>
                  </div>

        </div>
        </div>
    </div>
</div>
<div class="govuk-width-container">
    {% endblock %}

{% block content %}

<h2 class="govuk-heading-m">Explore by job category</h2>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds flex-container" style="padding-left: 0;">
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Administration</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Animal care</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Beauty and wellbeing</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Business and finance</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Computing, technology and digital</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Construction and trades</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Creative and media</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Delivery and storage</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Emergency and uniform services</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Engineering and maintenance</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Environment and land</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Government services</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Healthcare</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Home services</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Hospitality and food</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Law and legal</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Managerial</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Manufacturing</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Retail and sales</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Science and research</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Social care</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Sports and leisure</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Teaching and education</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Transport</h2>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
      <a class="cards" href="abc">
        <h2 class="govuk-heading-s" style="
    margin: 0;
">Travel and tourism</h2>
        </a>
      </div>

      </div>
{% endblock %}
