{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
<header class="govuk-header " role="banner" data-module="govuk-header"><div class="govuk-header__container govuk-width-container">
    <a href="https://nationalcareersservice.direct.gov.uk/" class="govuk-header__link govuk-header__link--service-name">National Careers Service
    </a>
    <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button><nav><ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
    <li class="govuk-header__navigation-item"><a href="" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a></li>
    <li class="govuk-header__navigation-item"><a href="#" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessments</a>
</li><li class="govuk-header__navigation-item govuk-header__navigation-item--active"><a href="course-search" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
</li><li class="govuk-header__navigation-item"><a href="" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
</li><li class="govuk-header__navigation-item"><a href="" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
</li><li class="govuk-header__navigation-item"><a href="" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
</li></ul></nav></div></header>
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
    <div class="PROD_full-page-width-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Find a course</h1>
                <p class="govuk-body-lead">Use our course search to look for different types of learning opportunities.</p>
                            </div>
            <div class="govuk-grid-column-one-third">
            </div>
        </div>
    </div>
</header>
<div class="govuk-width-container">
    {% endblock %}

    {% block content %}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row"><div class="govuk-grid-column-full">
<form action="/course-directory/" method="post">
<div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold" for="SearchTerm">Course name</label>
                <span id="course-name-hint" class="govuk-hint">
                    For example, Maths or Sports Studies
                </span>
                <input class="govuk-input gem-c-input--search-icon" id="SearchTerm" name="SearchTerm" aria-describedby="course-name-hint" type="text" value="IT trainer" />
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label govuk-body govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold" for="Location">Location (optional)</label>
                <span id="location-hint" class="govuk-hint">
                    Enter a town or postcode. For example, Birmingham
                </span>
                <input class="govuk-input govuk-!-width-one-third" id="Location" aria-describedby="location-hint" name="Location" type="text" value="" />
            </div>
            <div class="govuk-form-group"><a type="submit" class="govuk-button" href="search-results">Find a course</a>
            </div>
</form>    </div></div></div>
        <div class="govuk-grid-column-one-third">
            <div class="app-related-items">
                <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
                <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="#" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
                <p class="govuk-hint">8am to 10pm, 7 days a week</p>
            </div>
        </div>
</div>

    {% endblock %}
