{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
Homepage
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
    <div class="PROD_full-page-width-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">National Careers Service</h1>
                <p class="govuk-body-lead">We offer high quality, free and and impartial information, advice and guidance to help you
                                           make the best decisions about your future.</p>
                                                       </div>
            <div class="govuk-grid-column-one-third">
            </div>
        </div>
    </div>
</header>
<div class="govuk-width-container">
    {% endblock %}

    {% block content %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            <p class="govuk-body-lead">Use our career tools to help you with your choices on careers, training and work. Whatever your situation, there's something to help.</p>
        </div>
    </div>
    <div class="govuk-grid-row egg-center">
        <div class="govuk-grid-column-one-quarter egg-center">
               <div class="eggs">
                   <a href="./explore.html">
                   <h3 class="govuk-heading-m home-headings">Explore</h3>
                   <!--<span class="border"></span>-->
                   <p>I want to explore careers</p></a>
               </div>
         </div>
        <div class="govuk-grid-column-one-quarter egg-center">
               <div class="eggs">
                   <a href="./explore.html">
                   <h3 class="govuk-heading-m home-headings">Assessments</h3>
                   <!--<span class="border"></span>-->
                   <p>I want to learn more about myself</p></a>
               </div>
         </div>
        <div class="govuk-grid-column-one-quarter egg-center">
               <div class="eggs">
                   <a href="./explore.html">
                   <h3 class="govuk-heading-m home-headings">Find a course</h3>
                   <!--<span class="border"></span>-->
                   <p>I want to study a course</p></a>
               </div>
         </div>
         </div>
    <div class="govuk-grid-row egg-center">
        <div class="govuk-grid-column-one-quarter egg-center">
               <div class="eggs">
                   <a href="./explore.html">
                   <h3 class="govuk-heading-m home-headings">Help to get a job</h3>
                   <!--<span class="border"></span>-->
                   <p>I want to explore careers</p></a>
               </div>
         </div>
        <div class="govuk-grid-column-one-quarter egg-center">
               <div class="eggs">
                   <a href="./explore.html">
                   <h3 class="govuk-heading-m home-headings">About us</h3>
                   <!--<span class="border"></span>-->
                   <p>I want to learn more about myself</p></a>
               </div>
         </div>
        <div class="govuk-grid-column-one-quarter egg-center">
               <div class="eggs">
                   <a href="./explore.html">
                   <h3 class="govuk-heading-m home-headings">Contact us</h3>
                   <!--<span class="border"></span>-->
                   <p>I want to study a course</p></a>
               </div>
         </div>
         </div>
    </div>
    {% endblock %}
