{% extends "layout_ncs_v3.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

 {% block pageScripts %} 
<script src="/public/javascripts/step-by-step-nav.js"></script> 
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
  stepByStepNavigation.start($element)
</script> 
{% endblock %}

 {% block content %}
<div class="govuk-width-container" wiid="C279">
  <div class="content-container" wiid="C280">
    <div class="breadcrumbs govuk-breadcrumbs" wiid="C281">
      <ol class="govuk-breadcrumbs__list" wiid="C282">
        <li class="govuk-breadcrumbs__list-item" wiid="C283"><a class="govuk-breadcrumbs__link" href="../V3/" wiid="C284">Home</a></li>
        <li class="govuk-breadcrumbs__list-item" wiid="C287">About us </li>
      </ol>
    </div>
  </div>
</div>
<section class="brand--national-careers-service organisation__section-wrap organisation__margin-bottom colour-selector section--brand-grey  govuk-!-padding-3" id="">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l"> About us</h1>
        <p> The National Careers Service offers you free, impartial advice and
          guidance to help make career decisions, achieve your goals and to develop
          the skills you need to find a job.</p>
      </div>
    </div>
  </div>
</section>
<section class="brand--national-careers-service organisation__section-wrap organisation__margin-bottom" id="main-content">
  <div class="govuk-width-container govuk-!-margin-bottom-3 govuk-!-margin-top-3">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
		<div class="govuk-grid-column-full-width  govuk-!-padding-top-5  govuk-!-margin-top-2 overflow-hidden ">  
		  <div class="govuk-grid-column-full-width">
          <p class="govuk-body">To make decisions about your future, it’s important to know what’s out
            there and what’s right for you. Whatever stage you are at in your career,
            we can help you understand what your skills are and what skills you might
            need to adapt to new jobs, circumstances and opportunities.</p>
          <p class="govuk-body">Learn more about how we can help you by watching our video.</p>
        </div>
        
		  <div class="govuk-grid-column-full-width  govuk-!-padding-top-2 govuk-!-margin-top-1  govuk-!-margin-bottom-5">
          <iframe id="featured-banner" width="630" height="315" title="What National Careers Service do" src="https://www.youtube.com/embed/BN4rdE2HXaw?controls=0;autoplay=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <track src="captions_en.vtt" kind="captions" srclang="en" label="english_captions">
        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">From 6 pm tonight, our expert adviser Mark will be online to answer your questions about careers, employment, education and training. Just ask your questions in the comments or send us a message. <a href="https://twitter.com/hashtag/AskNationalCareers?src=hash&amp;ref_src=twsrc%5Etfw">#AskNationalCareers</a><a href="https://twitter.com/hashtag/WednesdayWisdom?src=hash&amp;ref_src=twsrc%5Etfw">#WednesdayWisdom</a> <a href="https://t.co/1kpFUsuT79">pic.twitter.com/1kpFUsuT79</a></p>
            &mdash; National Careers (@NationalCareers) <a href="https://twitter.com/NationalCareers/status/1268148207592275968?ref_src=twsrc%5Etfw">June 3, 2020</a></blockquote>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
        <div class="govuk-grid-column-one-half govuk-!-margin-top-3">
          <h2 class="govuk-heading-m">Scotland, Wales and Northern Ireland</h2>
          <p class="govuk-body-s">The National Careers Service offers advice about careers and skills in England. For careers advice in other parts of the UK visit:</p>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li class="brand--national-careers-service"><a href="https://www.myworldofwork.co.uk/" class="brand__color">Skills Development Scotland - My World of Work</a></li>
            <li class="brand--national-careers-service"><a href="https://www.careerswales.com/en/" class="brand__color">Careers Wales</a></li>
            <li class="brand--national-careers-service"><a href="https://www.nidirect.gov.uk/campaigns/careers" class="brand__color">Careers Service Northern Ireland</a></li>
          </ul>
        </div> </div>
	<div class="govuk-grid-column-full-width govuk-!-padding--top-5 govuk-!-margin-top-6 brand__border-color organisation__brand-border-top">	  
		  
        <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
          <div class="gem-c-image-card colour-selector section--brand-grey govuk-!-padding-3 govuk-!-padding-top-0 ">
            <div class="gem-c-image-card govuk-!-margin-bottom-1">
              <div class="gem-c-image-card__text-wrapper govuk-!-padding-3"> <span class="gem-c-image-card__title" wiid="C441"> People who viewed this also looked at </span>
                <ul class="gem-c-image-card__list " wiid="C443">
                  <li class="gem-c-image-card__list-item" wiid="C444"> <a class="gem-c-image-card__list-item-link brand__color" href="#">Find a job by networking</a> </li>
                  <li class="gem-c-image-card__list-item" wiid="C446"> <a class="gem-c-image-card__list-item-link brand__color" href="#">Improve your CV
                    before applying</a> </li>
                  <li class="gem-c-image-card__list-item" wiid="C446"> <a class="gem-c-image-card__list-item-link brand__color" href="#">Personal skills
                    assessment</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <section class="brand--national-careers-service organisation__section-wrap">
            <div class="govuk-grid-column-full-width govuk-!-padding-2">
              <p class="govuk-body-s user-quote"> <span class="user-quote-icon"> <img src="/public/images/icons/quote-l.png" width="41" height="37" alt=""/> </span> <span class="govuk-body-s user-quote-text">I wasn’t sure where to start when considering a change in career.
                Using some of support on the National Careers Service website
                helped me to understand what my options are and how I can get
                into the career I’m interested in.</span> <span class="user-quote-icon-right" style="position:absolute"> <img src="/public/images/icons/quote-r.png" width="41" height="37" alt=""/> </span> </p>
              <p class="govuk-body-s govuk-!-padding-0 govuk-!-margin-0 govuk-!-font-weight-bold"> Sarah, aged 40, Doncaster</p>
              <p class="govuk-body-s govuk-!-padding-0 govuk-!-margin-0 govuk-!-margin-top-3 "><a href="#" class="govuk-link">Find out more about Sarah</a></p>
            </div>
          </section>
        </div>
      </div></div>
		
      <div class="govuk-grid-column-one-third right-banner-section">
        <div class="gem-c-image-card colour-selector section--brand-grey govuk-!-padding-3">
          <figure class="gem-c-image-card__image-wrapper"> <img class="gem-c-image-card__image" alt="Register with us" src="/public/images/register-with-us.png"> </figure>
          <div class="gem-c-image-card__text-wrapper govuk-!-margin-top-3" wiid="C440"> <span class="gem-c-image-card__title"> <a class="gem-c-image-card__title-link brand__color" href="#" wiid="C442">Register with us</a> </span>
            <p class="govuk-body-s  govuk-!-margin-top-2 govuk-!-margin-bottom-1"> Create an account to receive email updates, save your skills assessment results, and bookmark jobs and courses of interest. </p>
          </div>
        </div>
        <div class="gem-c-image-card colour-selector section--brand-grey govuk-!-padding-3">
          <figure class="gem-c-image-card__image-wrapper"> <img class="gem-c-image-card__image" alt="" src="/public/images/users-with-disability.png"> </figure>
          <div class="gem-c-image-card__text-wrapper govuk-!-margin-top-3"> <span class="gem-c-image-card__title" wiid="C441"> <a class="gem-c-image-card__title-link brand__color" href="#">Users with a disability</a> </span>
            <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-1">If you have a disability, we recommend that you get in touch with one of our advisers to ensure you receive the best possible support.</p>
          </div>
        </div>
        <div class="gem-c-image-card colour-selector section--brand-grey govuk-!-padding-3">
          <div class="gem-c-image-card govuk-!-margin-bottom-1">
            <figure class="gem-c-image-card__image-wrapper"> <img class="gem-c-image-card__image" alt="Register with us" src="/public/images/contact-us.png"> </figure>
            <div class="gem-c-image-card__text-wrapper govuk-!-margin-top-3"> <span class="gem-c-image-card__title" wiid="C441"> <a class="gem-c-image-card__title-link brand__color" href="#">Contact us</a> </span>
              <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-1">Call <strong>0800 100 900</strong> or use <a href="#" class="govuk-link">webchat</a>. You can also
                contact us in other ways,including sending us an online message or post. </p>
            </div>
          </div>
        </div>
        <div class="gem-c-image-card colour-selector  brand__border-color organisation__brand-border-top section--brand-grey govuk-!-padding-3 govuk-!-margin-top-3">
          <h2 class="govuk-heading-s">Tell us how we have done</h2>
          <p class="govuk-body-s brand--national-careers-service">We are always looking for ways to improve our service.
            Complete our <a target="_blank" class="govuk-link brand__color" href="https://surveys.ipsosinteractive.com/mrIWeb/mrIWeb.dll?I.Project=S1039833&amp;id=&amp;cf=ovl ">Ipsos MORI survey</a> to give us your feedback about the service - it should only take a few minutes and your answers will be completely anonymous.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} 