{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
<header class="govuk-header " role="banner" data-module="govuk-header"><div class="govuk-header__container govuk-width-container">
    <a href="homepage" class="govuk-header__link govuk-header__link--service-name">National Careers Service
    </a>
    <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button><nav><ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
    <li class="govuk-header__navigation-item"><a href="" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a></li>
    <li class="govuk-header__navigation-item"><a href="#" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessments</a>
</li><li class="govuk-header__navigation-item govuk-header__navigation-item--active"><a href="find-course" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
</li><li class="govuk-header__navigation-item"><a href="" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
</li><li class="govuk-header__navigation-item"><a href="" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
</li><li class="govuk-header__navigation-item"><a href="" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
</li></ul></nav></div></header>
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<div class="course-hero-banner">
    <div class="govuk-width-container">
    <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Find a course</h1>
                <p class="govuk-body-lead">Use our course search to look for different types of learning opportunities.</p>
                  <div class="course-search-item-wrapper">
                    <input type="search" id="search-main" name="search-main" title="Search" class="course-gov-search-item course-gov-search-input" placeholder="Enter a keyword">
                    <div class="course-gov-search-item course-gov-search-submit-wrapper">
                      <button data-module="govuk-button" type="submit" class="course-gov-search-submit">Search</button>
                    </div>
                  </div>

        </div>
        </div>
    </div>
</div>
<div class="govuk-width-container">
    {% endblock %}

{% block content %}

<form action="/courses-search-results/" method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <div class="filters filters">

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="location">
                        Location
                    </label>
                    <span id="location-hint" class="govuk-hint">Enter a town or postcode
                </span>
                    <input class="govuk-input govuk-input--width-10" id="location" name="location" type="text">
                </div>

                <div id="distanceForm" class="govuk-form-group">
                    <div id="distance">
                        <label class="govuk-label govuk-!-font-weight-bold" for="CurrentSearchRequest_LocationDistance">Distance</label>
                        <select class="govuk-select" id="CurrentSearchRequest_LocationDistance" name="CurrentSearchRequest.LocationDistance">
                            <option value="5">5 miles</option>
                            <option value="10" selected>10 miles</option>
                            <option value="15">15 miles</option>
                            <option value="30">30 miles</option>
                            <option value="45">45 miles</option>
                            <option value="60">60 miles</option>
                            <option value="75">75 miles</option>
                        </select>
                    </div>
                </div>

                <div id="startDateForm" class="govuk-form-group">
                                    <div id="startDate">
                                        <label class="govuk-label govuk-!-font-weight-bold" for="CurrentSearchRequest_StartDate">Start date</label>
                                        <select class="govuk-select" id="CurrentSearchRequest_StartDate" name="CurrentSearchRequest.StartDate">
                                            <option value="anytime" selected>Anytime</option>
                                            <option value="nextThree">Next 3 months</option>
                                            <option value="threeToSix">In 3 to 6 months</option>
                                            <option value="moreThanSix">More than 6 months</option>
                                        </select>
                                    </div>
                                </div>

                <div id="courseTypeGroup" class="govuk-form-group">
                    <div id="CourseType">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-label govuk-!-font-weight-bold">Course type</legend>
                            <div class="govuk-checkboxes govuk-checkboxes--small">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="CurrentSearchRequest_CourseType" name="CurrentSearchRequest.CourseType" type="checkbox" value="online">
                                    <label class="govuk-label govuk-checkboxes__label" for="CurrentSearchRequest_CourseType">Online
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="CurrentSearchRequest_CourseType2" name="CurrentSearchRequest.CourseType" type="checkbox" value="classroom">
                                    <label class="govuk-label govuk-checkboxes__label" for="CurrentSearchRequest_CourseType2">Classroom based
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="CurrentSearchRequest_CourseType3" name="CurrentSearchRequest.CourseType" type="checkbox" value="work">
                                    <label class="govuk-label govuk-checkboxes__label" for="CurrentSearchRequest_CourseType3">Work based
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div id="courseHoursGroup" class="govuk-form-group">
                    <div id="CourseHours">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-label govuk-!-font-weight-bold">Course hours</legend>
                            <div class="govuk-checkboxes govuk-checkboxes--small">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="CurrentSearchRequest_CourseHours" name="CurrentSearchRequest.CourseHours" type="checkbox" value="fulltime">
                                    <label class="govuk-label govuk-checkboxes__label" for="CurrentSearchRequest_CourseHours">Full time
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="CurrentSearchRequest_CourseHours2" name="CurrentSearchRequest.CourseHours" type="checkbox" value="parttime">
                                    <label class="govuk-label govuk-checkboxes__label" for="CurrentSearchRequest_CourseHours2">Part time
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="CurrentSearchRequest_CourseHours3" name="CurrentSearchRequest.CourseHours" type="checkbox" value="flexible">
                                    <label class="govuk-label govuk-checkboxes__label" for="CurrentSearchRequest_CourseHours3">Flexible
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div id="courseTimeGroup" class="govuk-form-group">
                    <div id="CourseTime">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-label govuk-!-font-weight-bold">Course study time</legend>
                            <div class="govuk-checkboxes govuk-checkboxes--small">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="CurrentSearchRequest_CourseTime" name="CurrentSearchRequest.CourseTime" type="checkbox" value="daytime">
                                    <label class="govuk-label govuk-checkboxes__label" for="CurrentSearchRequest_CourseTime">Daytime
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="CurrentSearchRequest_CourseTime2" name="CurrentSearchRequest.CourseTime" type="checkbox" value="night">
                                    <label class="govuk-label govuk-checkboxes__label" for="CurrentSearchRequest_CourseTime2">Evening
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="CurrentSearchRequest_CourseTime3" name="CurrentSearchRequest.CourseTime" type="checkbox" value="weekend">
                                    <label class="govuk-label govuk-checkboxes__label" for="CurrentSearchRequest_CourseTime3">Weekend
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="CurrentSearchRequest_CourseTime4" name="CurrentSearchRequest.CourseTime" type="checkbox" value="dayblockrelease">
                                    <label class="govuk-label govuk-checkboxes__label" for="CurrentSearchRequest_CourseTime4">Day or block release
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <noscript>
                    <button data-module="govuk-button" class="govuk-button" type="submit">Apply filters</button>
                </noscript>
                <p><a href="">Clear search</a></p>
            </div>

        </div>

        <div class="govuk-grid-column-two-thirds">
            <div>
                <p class="govuk-body">Showing all 136,492 courses</p>
                <div class="govuk-form-group">
                    <label for="order" class="result-region-header__sort-label govuk-label">Sort by</label>
                    <select class="govuk-select" name="order" id="order">
                        <option value="most-viewed">Distance</option>
                        <option value="updated-newest">Relevance</option>
                        <option value="updated-oldest" selected>Start date</option>
                    </select>
                </div>
                <hr class="govuk-section-break govuk-section-break--visible">

            </div>

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-online">Certificate in IT User Skills (ITQ)</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <span class="govuk-visually-hidden"><a href="course-details-online">View full course details</a> for further course description</span>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> Flexible
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> £295
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Online
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 6 months
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-work">Award in Using ICT</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> Flexible
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> Contact course provider
                                <details data-module="govuk-details" class="course-cost-desc" data-module="govuk-details"">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                                                    View cost description
                                                                  </span>
                                    </summary>
                                    <div class="govuk-details__text">This course may be free if you qualify for certain exemptions. It is also free for 16-19 year olds. You may be able to apply for certain bursaries and grants to help you with your fees, and your maintenance costs. You can call for more information.</div>
                                </details>
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Work based
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 1 year
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Location:</span> St Helens
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">
            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-classroom">Award in IT user skills (ECDL Essentials)</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> 12th October 2019
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> £500
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Hours:</span> Full time
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Classroom based
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 2 years
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Location:</span> Lifebank Centre, 23 Quorn Street, Liverpool, L7 2QG
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Time:</span> Daytime
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-online">Certificate in IT User Skills (ITQ)</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> Flexible
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> £295
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Online
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 6 months
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-work">Award in Using ICT</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> Flexible
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> Contact course provider
                                <details data-module="govuk-details" class="course-cost-desc" data-module="govuk-details"">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                                                    View cost description
                                                                  </span>
                                    </summary>
                                    <div class="govuk-details__text">This course may be free if you qualify for certain exemptions. It is also free for 16-19 year olds. You may be able to apply for certain bursaries and grants to help you with your fees, and your maintenance costs. You can call for more information.</div>
                                </details>
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Work based
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 1 year
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Location:</span> St Helens
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-classroom">Award in IT user skills (ECDL Essentials)</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> 12th October 2019
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> £500
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Hours:</span> Full time
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Classroom based
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 2 years
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Location:</span> Lifebank Centre, 23 Quorn Street, Liverpool, L7 2QG
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Time:</span> Daytime
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-online">Certificate in IT User Skills (ITQ)</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> Flexible
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> £295
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Online
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 6 months
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-work">Award in Using ICT</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> Flexible
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> Contact course provider
                                <details data-module="govuk-details" class="course-cost-desc" data-module="govuk-details"">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                                                    View cost description
                                                                  </span>
                                    </summary>
                                    <div class="govuk-details__text">This course may be free if you qualify for certain exemptions. It is also free for 16-19 year olds. You may be able to apply for certain bursaries and grants to help you with your fees, and your maintenance costs. You can call for more information.</div>
                                </details>
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Work based
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 1 year
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Location:</span> St Helens
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-classroom">Award in IT user skills (ECDL Essentials)</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> 12th October 2019
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> £500
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Hours:</span> Full time
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Classroom based
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 2 years
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Location:</span> Lifebank Centre, 23 Quorn Street, Liverpool, L7 2QG
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Time:</span> Daytime
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-online">Certificate in IT User Skills (ITQ)</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> Flexible
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> £295
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Online
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 6 months
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-work">Award in Using ICT</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> Flexible
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> Contact course provider
                                <details data-module="govuk-details" class="course-cost-desc" data-module="govuk-details"">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                                                    View cost description
                                                                  </span>
                                    </summary>
                                    <div class="govuk-details__text">This course may be free if you qualify for certain exemptions. It is also free for 16-19 year olds. You may be able to apply for certain bursaries and grants to help you with your fees, and your maintenance costs. You can call for more information.</div>
                                </details>
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Work based
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 1 year
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Location:</span> St Helens
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-classroom">Award in IT user skills (ECDL Essentials)</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> 12th October 2019
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> £500
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Hours:</span> Full time
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Classroom based
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 2 years
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Location:</span> Lifebank Centre, 23 Quorn Street, Liverpool, L7 2QG
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Time:</span> Daytime
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-online">Certificate in IT User Skills (ITQ)</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> Flexible
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> £295
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Online
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 6 months
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-work">Award in Using ICT</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> Flexible
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> Contact course provider
                                <details data-module="govuk-details" class="course-cost-desc" data-module="govuk-details"">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                                                    View cost description
                                                                  </span>
                                    </summary>
                                    <div class="govuk-details__text">This course may be free if you qualify for certain exemptions. It is also free for 16-19 year olds. You may be able to apply for certain bursaries and grants to help you with your fees, and your maintenance costs. You can call for more information.</div>
                                </details>
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Work based
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 1 year
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Location:</span> St Helens
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-classroom">Award in IT user skills (ECDL Essentials)</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> 12th October 2019
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> £500
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Hours:</span> Full time
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Location:</span> Lifebank Centre, 23 Quorn Street, Liverpool, L7 2QG
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Classroom based
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Time:</span> Daytime
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 2 years
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-online">Certificate in IT User Skills (ITQ)</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> Flexible
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> £295
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Online
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 6 months
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-work">Award in Using ICT</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> Flexible
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> Contact course provider
                                <details data-module="govuk-details" class="course-cost-desc" data-module="govuk-details"">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                                                    View cost description
                                                                  </span>
                                    </summary>
                                    <div class="govuk-details__text">This course may be free if you qualify for certain exemptions. It is also free for 16-19 year olds. You may be able to apply for certain bursaries and grants to help you with your fees, and your maintenance costs. You can call for more information.</div>
                                </details>
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Work based
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 1 year
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Location:</span> St Helens
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-classroom">Award in IT user skills (ECDL Essentials)</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> 12th October 2019
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> £500
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Hours:</span> Full time
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Location:</span> Lifebank Centre, 23 Quorn Street, Liverpool, L7 2QG
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Classroom based
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Time:</span> Daytime
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 2 years
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-online">Certificate in IT User Skills (ITQ)</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> Flexible
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> £295
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Online
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 6 months
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-m">
        <a class="govuk-link" href="course-details-work">Award in Using ICT</a>
    </h2>
                <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">

                            <li>
                                <span class="govuk-secondary-colour">Start date:</span> Flexible
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Cost:</span> Contact course provider
                                <details data-module="govuk-details" class="course-cost-desc" data-module="govuk-details"">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                                                    View cost description
                                                                  </span>
                                    </summary>
                                    <div class="govuk-details__text">This course may be free if you qualify for certain exemptions. It is also free for 16-19 year olds. You may be able to apply for certain bursaries and grants to help you with your fees, and your maintenance costs. You can call for more information.</div>
                                </details>
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Provider:</span> St Helens College
                            </li>

                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-secondary-colour">Course type:</span> Work based
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Duration:</span> 1 year
                            </li>
                            <li>
                                <span class="govuk-secondary-colour">Location:</span> St Helens
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--visible">

            <ul class="previous-next-navigation govuk-!-margin-top-3">

                <li class="next">
                    <a href="">
                        <span class="pagination-label">Next</span>
                        <span class="govuk-visually-hidden">page</span>
                        <span class="page-numbers">2 of 6825</span>
                    </a>
                </li>

            </ul>

        </div>
    </div>
</form>{% endblock %}
