{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
Course listing
{% endblock %}

<!-- govuk-header__navigation-item--active -->

{% block header %}
{% include "includes/cookie-banner.html" %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <a href="https://nationalcareersservice.direct.gov.uk/" class="govuk-header__link govuk-header__link--service-name">National Careers Service
    </a>
    <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
    <nav>
      <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="#" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a>
        </li>
        <li class="govuk-header__navigation-item govuk-header__navigation-item--active"><a href="landing" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/contact-us/home" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}

<!-- breadcrumbs start -->

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="landing">Online courses</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Course listing page</li>
  </ol>
</div>

<!-- breadcrumbs end -->
</div>

<!-- <header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Online learning courses for furlough workers</h1>
        <p class="govuk-body-lead">Mollit dolore sit sit mollit culpa esse esse voluptate nulla ad.</p>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</header> -->
<div class="govuk-width-container">
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Course listing heading</h1>

      <p class="govuk-body">Lorem culpa fugiat do dolore aliquip exercitation dolore dolore dolor aute aliqua ut ut ad. Ut quis proident duis labore dolore incididunt nisi ipsum magna dolor magna excepteur nulla sint est ut excepteur. Ut nostrud cillum ea aute sunt pariatur non excepteur pariatur culpa est officia ullamco laborum.</p>

      <hr class="govuk-section-break govuk-section-break--visible">


      <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-m">
          <a class="govuk-link" href=#">Diploma in accounting with AAT</a>
        </h2>
        <ul class="govuk-list">
          <li  class="govuk-!-margin-top-3">
            <span class="govuk-secondary-colour">Course description:</span> Suitable for beginners, this course will give you book-keeping and accounting knowledge and get you ready for professional accountancy technician qualifications. Useful for jobs like accounts assistant, bookkeeper, finance assistant as well as for running your own business.
          </li>
          <li>
            <span class="govuk-secondary-colour">Provider:</span> Pitman Training Group Ltd
          </li>
          <li>
            <span class="govuk-secondary-colour">Provider satisfaction score:</span> 8 out of 10
          </li>
          <li>
            <span class="govuk-secondary-colour">Level:</span> 2
          </li>
        </ul>
      </div>
      <hr class="govuk-section-break govuk-section-break--visible">

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items">
        <div>
          <h2 class="govuk-heading-m">Help with choosing a digital course</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="https://lab.nationalcareersservice.org.uk/online-courses/getting-the-most-out-of-online-learning">Getting the most out of online learning</a></li>
            <li><a class="govuk-link" href="https://lab.nationalcareersservice.org.uk/online-courses/how-digital-skills-can-help-you">How digital skills can help you</a></li>
          </ul>
        </div>

        <div class="govuk-!-margin-top-7">
          <h2 class="govuk-heading-m">Advice on online courses</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="https://lab.nationalcareersservice.org.uk/online-courses/choosing-an-online-course">Choosing an online course</a></li>
            <li><a class="govuk-link" href="https://lab.nationalcareersservice.org.uk/online-courses/where-to-find-free-online-learning-courses/">Where to find free online learning courses</a></li>
          </ul>
        </div>

        <div class="govuk-!-margin-top-7">
          <h2 class="govuk-heading-m">Skills assessment</h2>
          <p><a href="https://beta.nationalcareers.service.gov.uk/" class="govuk-link">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
        </div>

        <div class="govuk-!-margin-top-7">
          <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
          <p class="govuk-body">If you’re in England:</p>
          <p class="govuk-body"><b>Call </b>0800 100 900 or <a href="https://nationalcareers.service.gov.uk/webchat/chat/" target="_blank" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
          <p class="govuk-hint">8am to 10pm, 7 days a week</p>
          <p class="govuk-body">For careers advice in other parts of the UK visit:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="https://www.myworldofwork.co.uk/">Skills Development Scotland - My World of Work</a></li>
            <li><a class="govuk-link" href="https://www.careerswales.com/">Careers Wales</a></li>
            <li><a class="govuk-link" href="https://www.nidirect.gov.uk/campaigns/careers">Careers Service Northern Ireland</a></li>
          </ul>
        </div>
      </aside>
    </div>

  </div>
  {% endblock %}
