{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
The benefits of online learning
{% endblock %}

<!-- govuk-header__navigation-item--active -->

{% block header %}
{% include "includes/cookie-banner.html" %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <a href="https://nationalcareersservice.direct.gov.uk/" class="govuk-header__link govuk-header__link--service-name">National Careers Service
    </a>
    <button data-module="govuk-button" type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
    <nav>
      <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk" id="nav-EC" class="govuk-header__link" target="_self">Explore careers</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="#" id="nav-SHC" class="govuk-header__link" target="_self">Skills assessment</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/course-directory" id="nav-FC" class="govuk-header__link" target="_self">Find a course</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/contact-us/home" id="nav-CA" class="govuk-header__link" target="_self">Contact us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareersservice.direct.gov.uk/about-us" id="nav-AU" class="govuk-header__link" target="_self">About us</a>
        </li>
        <li class="govuk-header__navigation-item"><a href="https://nationalcareers.service.gov.uk/get-a-job" id="nav-HTG" class="govuk-header__link" target="_self">Help to get a job</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}

<!-- breadcrumbs start -->

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="landing">Online courses</a>
    </li>
    <!-- <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="topics">Course subjects</a>
    </li> -->
    <li class="govuk-breadcrumbs__list-item" aria-current="page">The benefits of online learning</li>
  </ol>
</div>

<!-- breadcrumbs end -->
</div>

<!-- <header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Online learning courses for furlough workers</h1>
        <p class="govuk-body-lead">Mollit dolore sit sit mollit culpa esse esse voluptate nulla ad.</p>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</header> -->
<div class="govuk-width-container">
  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">The benefits of online learning</h1>


      <p class="govuk-body">There are many reasons online learning can benefit you. You can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>explore current or develop new interests</li>
        <li>build on your skills or learn new ones</li>
        <li>get on in your career with a new qualification</li>
        <li>have fun, challenge yourself and use your spare time</li>
        <li>fit it around your daily life</li>
        <li>meet and share ideas with other learners online</li>
      </ul>

      <h2 class="govuk-heading-l">Top tips for making online learning work for you</h2>

      <p class="govuk-body">Follow our advice on making online learning work for you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>make sure you have all the materials and equipment you’ll need</li>
        <li>check your your internet connection is working</li>
        <li>find a quiet space to work</li>
        <li>let everyone at home know the times you will be studying so there are no distractions</li>
        <li>get help with childcare or other responsibilities if you can, so you can focus</li>
        <li>make yourself a study plan</li>
        <li>highlight any deadlines you’ll need to meet</li>
        <li>ask a tutor for help if you need it</li>
        <li>be kind to yourself - getting into studying online can take time and practice, so don’t give up</li>
      </ul>

      <h2 class="govuk-heading-l">Find an online course</h2>

      <p class="govuk-body">Nulla cupidatat anim nostrud esse magna dolor consectetur fugiat laborum incididunt culpa adipisicing.</p>


      <a href="topics"><button class="govuk-button" data-module="govuk-button">
          Continue to courses
        </button></a>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items">
        <div class="">
          <h2 class="govuk-heading-m">Advice on online learning</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="choosing-an-online-course" target="_blank">Choosing an online course</a></li>
            <!-- <li><a class="govuk-link" href="the-benefits-of-online-learning" target="_blank">The benefits to learning online</a></li> -->
            <li><a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" class="govuk-link" target="_blank">What qualification levels mean</a></li>
          </ul>
        </div>
      </aside>

      <aside class="app-related-items">
        <div class="">
          <h2 class="govuk-heading-m">Skills assessment</h2>
          <p><a href="https://beta.nationalcareers.service.gov.uk/" target="_blank">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
        </div>
      </aside>

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
        <p class="govuk-body"><b>Call</b> 0800 100 900 or <a href="https://nationalcareers.service.gov.uk/webchat/chat/" target="_blank" class="govuk-link govuk-link--no-visited-state">use webchat</a></p>
        <p class="govuk-hint">8am to 10pm, 7 days a week</p>
      </aside>

      <!-- <aside class="app-related-items" role="complementary">
        <p class="govuk-body-m">The National Careers Service offers advice about careers and skills in England. For careers advice in other parts of the UK visit:</p>
        <ul class="govuk-list">
          <li><a class="govuk-link" href="https://www.myworldofwork.co.uk/">Skills Development Scotland - <br>My World of Work</a></li>
          <li><a class="govuk-link" href="https://www.careerswales.com/">Careers Wales</a></li>
          <li><a class="govuk-link" href="https://www.nidirect.gov.uk/campaigns/careers">Careers Service Northern Ireland</a></li>
        </ul>
      </aside> -->
    </div>

  </div>
  {% endblock %}
